source sale1
{
    type = mysql
    sql_host = 127.0.0.1
    sql_user = auto
    sql_pass = KiX1euph
    sql_db =
    sql_port = 1401

    sql_query_pre = SET NAMES utf8
    sql_query_pre = SET wait_timeout=30
    sql_query_pre = SET interactive_timeout=30

    sql_query_range = SELECT MIN(id), MAX(id) FROM all.sale1
    sql_range_step = 20000

    sql_query = SELECT SQL_NO_CACHE sale.*, marks.name mark_name, CONCAT_WS('_', sale.category_id, sale.section_id) as category_section, \
                UNIX_TIMESTAMP(sale.set_date) set_date_timestamp, \
                UNIX_TIMESTAMP(sale.create_date) create_date_timestamp, \
                UNIX_TIMESTAMP(sale.expire_date) expire_date_timestamp, \
                UNIX_TIMESTAMP(sale.deleted_time) deleted_time_timestamp, \
                all.sale_reclama.type reclama_type \
                FROM all.sale1 sale \
                LEFT JOIN catalog_v3.auto_marks marks ON sale.mark_id = marks.id \
                LEFT JOIN all.sale_reclama sale_reclama ON ( \
                    sale.id = sale_reclama.sale_id  AND sale.category_id = sale_reclama.category_id AND sale.section_id = sale_reclama.section_id AND sale_reclama.type = 'special' \
                ) \
                WHERE sale.id >= $start AND sale.id <= $end

    sql_attr_uint       = category_id
    sql_attr_uint       = section_id
    sql_field_string    = category_section
    sql_attr_uint       = client_id
    sql_attr_uint       = user_id
    sql_attr_bool       = is_certificate
    sql_attr_timestamp  = create_date_timestamp
    sql_attr_timestamp  = set_date_timestamp
    sql_attr_timestamp  = expire_date_timestamp
    sql_attr_timestamp  = deleted_time_timestamp
    sql_attr_uint       = mark_id
    sql_attr_uint       = mark_type
    sql_attr_uint       = group_id
    sql_attr_uint       = model_id
    sql_attr_uint       = class_id
    sql_attr_string	= model_name
    sql_attr_string	= mark_name
    sql_attr_uint       = modification_id
    sql_attr_uint       = body_key
    sql_attr_uint       = color_id
    sql_attr_uint       = transmission_key
    sql_attr_uint       = engine_key
    sql_attr_uint       = engine_volume
    sql_attr_uint       = engine_power
    sql_attr_uint       = drive_key
    sql_attr_uint       = wheel_key
    sql_attr_uint       = year
    sql_attr_uint       = run
    sql_attr_uint       = price_usd
    sql_attr_uint       = available_key
    sql_attr_uint       = haggle_key
    sql_attr_uint       = used_key
    sql_attr_uint       = custom_key
    sql_attr_uint       = change_key
    sql_attr_uint       = owner_pts
    sql_field_string    = extras
    sql_attr_bool       = photo
    sql_attr_uint       = country_id
    sql_attr_uint       = region_id
    sql_attr_uint       = city_id
    sql_attr_uint       = status
    sql_attr_uint       = sms_id
    sql_field_string    = reclama_type

    sql_query_info = SELECT id, extras FROM all.sale1 WHERE id = $id
}

index sale1
{
    type          = plain
    source = sale1

    path = /opt/sphinx_all/sale1/

    docinfo         = extern
    charset_type    = sbcs
    html_strip      = 1
}

# SALE 2 TABLE #

source sale2
{
    type = mysql
    sql_host = 127.0.0.1
    sql_user = auto
    sql_pass = KiX1euph
    sql_db =
    sql_port = 1401

    sql_query_pre = SET NAMES utf8
    sql_query_pre = SET wait_timeout=30
    sql_query_pre = SET interactive_timeout=30

    sql_query_range = SELECT MIN(id), MAX(id) FROM all.sale2
    sql_range_step = 20000


    sql_query = SELECT SQL_NO_CACHE sale.*, marks.name mark_name, \
                UNIX_TIMESTAMP(sale.set_date) set_date_timestamp, \
                UNIX_TIMESTAMP(sale.create_date) create_date_timestamp, \
                UNIX_TIMESTAMP(sale.expire_date) expire_date_timestamp, \
                UNIX_TIMESTAMP(sale.deleted_time) deleted_time_timestamp, \
                CONCAT_WS('_', sale.category_id, sale.section_id) as category_section, \
                CONCAT_WS('_', sale.mark_id, sale.group_id, sale.contact_id) as group_field, \
                IF (sale.filter = 0, is_dealer, 0) AS sort_dealer, \
                all.sale_reclama.type reclama_type \
                FROM all.sale2 sale \
                LEFT JOIN catalog_v3.auto_marks marks ON sale.mark_id = marks.id \
                LEFT JOIN all.sale_reclama sale_reclama ON ( \
                    sale.id = sale_reclama.sale_id  AND sale.category_id = sale_reclama.category_id AND sale.section_id = sale_reclama.section_id AND sale_reclama.type = 'special' \
                ) \
                WHERE sale.id >= $start AND sale.id <= $end

    sql_attr_uint       = category_id
    sql_attr_uint       = section_id
    sql_field_string    = category_section
    sql_attr_uint       = client_id
    sql_attr_uint       = user_id
    sql_attr_bool       = is_dealer
    sql_attr_timestamp  = create_date_timestamp
    sql_attr_timestamp  = set_date_timestamp
    sql_attr_timestamp  = expire_date_timestamp
    sql_attr_timestamp  = deleted_time_timestamp
    sql_attr_uint       = mark_id
    sql_attr_uint       = mark_type
    sql_attr_uint       = group_id
    sql_attr_uint       = model_id
    sql_attr_uint       = class_id
    sql_attr_string	= model_name
    sql_attr_string	= mark_name
    sql_attr_uint       = modification_id
    sql_attr_uint       = body_key
    sql_attr_uint       = color_id
    sql_attr_uint       = transmission_key
    sql_attr_uint       = engine_key
    sql_attr_uint       = engine_volume
    sql_attr_uint       = engine_power
    sql_attr_uint       = drive_key
    sql_attr_uint       = wheel_key
    sql_attr_uint       = year
    sql_attr_uint       = run
    sql_attr_uint       = price_usd
    sql_attr_uint       = available_key
    sql_attr_uint       = haggle_key
    sql_attr_uint       = used_key
    sql_attr_uint       = custom_key
    sql_field_string    = extras
    sql_attr_bool       = photo
    sql_attr_uint       = country_id
    sql_attr_uint       = region_id
    sql_attr_uint       = city_id
    sql_attr_uint       = status
    sql_attr_str2ordinal= group_field
    sql_attr_bool       = filter
    sql_attr_bool       = sort_dealer
    sql_attr_uint       = sms_id
    sql_field_string    = reclama_type

    sql_query_info = SELECT id, extras FROM all.sale2 WHERE id = $id
}

index sale2
{
    type          = plain
    source = sale2

    path = /opt/sphinx_all/sale2/

    docinfo         = extern
    charset_type    = sbcs
    html_strip      = 1
}

# SALE 3 TABLE #

source sale3
{
    type = mysql
    sql_host = 127.0.0.1
    sql_user = auto
    sql_pass = KiX1euph
    sql_db =
    sql_port = 1401

    sql_query_pre = SET NAMES utf8
    sql_query_pre = SET wait_timeout=30
    sql_query_pre = SET interactive_timeout=30

    sql_query_range = SELECT MIN(id), MAX(id) FROM all.sale3
    sql_range_step = 20000

    sql_query = SELECT SQL_NO_CACHE sale.*, marks.name mark_name, CONCAT_WS('_', sale.category_id, sale.section_id) as category_section, \
                UNIX_TIMESTAMP(sale.set_date) set_date_timestamp, \
                UNIX_TIMESTAMP(sale.create_date) create_date_timestamp, \
                UNIX_TIMESTAMP(sale.deleted_time) deleted_time_timestamp, \
                UNIX_TIMESTAMP(sale.expire_date) expire_date_timestamp, \
                all.sale_reclama.type reclama_type \
                FROM all.sale3 sale \
                LEFT JOIN catalog_v3.auto_marks marks ON sale.mark_id = marks.id \
                LEFT JOIN all.sale_reclama sale_reclama ON ( \
                    sale.id = sale_reclama.sale_id  AND sale.category_id = sale_reclama.category_id AND sale.section_id = sale_reclama.section_id AND sale_reclama.type = 'special' \
                ) \
                WHERE sale.id >= $start AND sale.id <= $end

    sql_attr_uint       = category_id
    sql_attr_uint       = section_id
    sql_field_string    = category_section
    sql_attr_uint       = client_id
    sql_attr_uint       = user_id
    sql_attr_timestamp  = create_date_timestamp
    sql_attr_timestamp  = set_date_timestamp
    sql_attr_timestamp  = expire_date_timestamp
    sql_attr_timestamp  = deleted_time_timestamp
    sql_attr_uint       = mark_id
    sql_attr_uint       = mark_type
    sql_attr_uint       = group_id
    sql_attr_uint       = model_id
    sql_attr_string	= model_name
    sql_attr_string	= mark_name
    sql_attr_uint       = modification_id
    sql_attr_uint       = body_key
    sql_attr_uint       = cabin_key
    sql_attr_uint       = loading
    sql_attr_uint       = axis
    sql_attr_uint       = trail_loading
    sql_attr_uint       = seats
    sql_attr_uint       = beds
    sql_attr_uint       = saddle_height
    sql_attr_uint       = suspension_chassis
    sql_attr_uint       = suspension_cabin
    sql_attr_uint       = suspension_type
    sql_attr_uint       = brake_type
    sql_attr_uint       = wheel_drive
    sql_attr_uint       = eco_class
    sql_attr_uint       = fuel_tanks
    sql_attr_uint       = fuel_tanks_volume
    sql_attr_uint       = fuel_tanks_material
    sql_attr_uint       = trailer_type
    sql_attr_uint       = bus_type
    sql_attr_uint       = color_id
    sql_attr_uint       = transmission_key
    sql_attr_uint       = engine_key
    sql_attr_uint       = engine_volume
    sql_attr_uint       = engine_power
    sql_attr_uint       = drive_key
    sql_attr_uint       = wheel_key
    sql_attr_uint       = year
    sql_attr_uint       = run
    sql_attr_uint       = price_usd
    sql_attr_uint       = available_key
    sql_attr_uint       = currency_key
    sql_attr_uint       = haggle_key
    sql_attr_uint       = used_key
    sql_attr_uint       = custom_key
    sql_attr_uint       = change_key
    sql_field_string    = extras
    sql_attr_bool       = photo
    sql_attr_uint       = country_id
    sql_attr_uint       = region_id
    sql_attr_uint       = city_id
    sql_attr_uint       = status
    sql_attr_uint       = sms_id
    sql_attr_uint       = container_type
    sql_attr_uint       = width
    sql_attr_uint       = height
    sql_attr_uint       = length
    sql_attr_uint       = body_volume
    sql_field_string    = reclama_type

    sql_query_info = SELECT id, extras FROM all.sale3 WHERE id = $id
}

index sale3
{
    type          = plain
    source = sale3

    path = /opt/sphinx_all/sale3/

    docinfo         = extern
    charset_type    = sbcs
    html_strip      = 1
}

# SALE 4 TABLE #

source sale4
{
    type = mysql
    sql_host = 127.0.0.1
    sql_user = auto
    sql_pass = KiX1euph
    sql_pass = 1401
    sql_db =
    sql_port = 1401

    sql_query_pre = SET NAMES utf8
    sql_query_pre = SET wait_timeout=30
    sql_query_pre = SET interactive_timeout=30

    sql_query_range = SELECT MIN(id), MAX(id) FROM all.sale4
    sql_range_step = 20000

    sql_query = SELECT SQL_NO_CACHE sale.*, marks.name mark_name, CONCAT_WS('_', sale.category_id, sale.section_id) as category_section, \
                UNIX_TIMESTAMP(sale.set_date) set_date_timestamp, \
                UNIX_TIMESTAMP(sale.create_date) create_date_timestamp, \
                UNIX_TIMESTAMP(sale.expire_date) expire_date_timestamp, \
                UNIX_TIMESTAMP(sale.deleted_time) deleted_time_timestamp, \
                all.sale_reclama.type reclama_type \
                FROM all.sale4 sale \
                LEFT JOIN catalog_v3.auto_marks marks ON sale.mark_id = marks.id \
                LEFT JOIN all.sale_reclama sale_reclama ON ( \
                    sale.id = sale_reclama.sale_id  AND sale.category_id = sale_reclama.category_id AND sale.section_id = sale_reclama.section_id AND sale_reclama.type = 'special' \
                ) \
                WHERE sale.id >= $start AND sale.id <= $end


    sql_attr_uint       = category_id
    sql_attr_uint       = section_id
    sql_field_string    = category_section
    sql_attr_uint       = client_id
    sql_attr_uint       = user_id
    sql_attr_timestamp  = create_date_timestamp
    sql_attr_timestamp  = set_date_timestamp
    sql_attr_timestamp  = expire_date_timestamp
    sql_attr_timestamp  = deleted_time_timestamp
    sql_attr_uint       = mark_id
    sql_attr_uint       = mark_type
    sql_attr_uint       = group_id
    sql_attr_uint       = model_id
    sql_attr_string	= model_name
    sql_attr_string	= mark_name
    sql_attr_uint       = modification_id
    sql_attr_uint       = type_id
    sql_attr_uint       = body_key
    sql_attr_uint       = loading
    sql_attr_uint       = load_height
    sql_attr_uint       = crane_radius
    sql_attr_uint       = operating_hours
    sql_attr_uint       = traction_class
    sql_attr_uint       = bucket_volume
    sql_attr_uint       = color_id
    sql_attr_uint       = transmission_key
    sql_attr_uint       = engine_key
    sql_attr_uint       = engine_volume
    sql_attr_uint       = engine_power
    sql_attr_uint       = drive_key
    sql_attr_uint       = wheel_key
    sql_attr_uint       = year
    sql_attr_uint       = run
    sql_attr_uint       = price_usd
    sql_attr_uint       = available_key
    sql_attr_uint       = haggle_key
    sql_attr_uint       = used_key
    sql_attr_uint       = custom_key
    sql_attr_uint       = change_key
    sql_attr_uint       = trail_loading
    sql_field_string    = extras
    sql_attr_bool       = photo
    sql_attr_uint       = country_id
    sql_attr_uint       = region_id
    sql_attr_uint       = city_id
    sql_attr_uint       = status
    sql_attr_uint       = sms_id
    sql_field_string    = reclama_type

    sql_query_info = SELECT id, extras FROM all.sale4 WHERE id = $id
}

index sale4
{
    type          = plain
    source = sale4

    path = /opt/sphinx_all/sale4/

    docinfo         = extern
    charset_type    = sbcs
    html_strip      = 1
}

# SALE 5 TABLE #

source sale5
{
    type = mysql
    sql_host = 127.0.0.1
    sql_user = auto
    sql_pass = KiX1euph
    sql_db =
    sql_port = 1401

    sql_query_pre = SET NAMES utf8
    sql_query_pre = SET wait_timeout=30
    sql_query_pre = SET interactive_timeout=30

    sql_query_range = SELECT MIN(id), MAX(id) FROM all.sale5
    sql_range_step = 20000

    sql_query = SELECT SQL_NO_CACHE sale.*, marks.name mark_name, CONCAT_WS('_', sale.category_id, sale.section_id) as category_section, \
                UNIX_TIMESTAMP(sale.set_date) set_date_timestamp, \
                UNIX_TIMESTAMP(sale.create_date) create_date_timestamp, \
                UNIX_TIMESTAMP(sale.expire_date) expire_date_timestamp, \
                UNIX_TIMESTAMP(sale.deleted_time) deleted_time_timestamp, \
                all.sale_reclama.type reclama_type \
                FROM all.sale5 sale \
                LEFT JOIN catalog_v3.auto_marks marks ON sale.mark_id = marks.id \
                LEFT JOIN all.sale_reclama sale_reclama ON ( \
                    sale.id = sale_reclama.sale_id  AND sale.category_id = sale_reclama.category_id AND sale.section_id = sale_reclama.section_id AND sale_reclama.type = 'special' \
                ) \
                WHERE sale.id >= $start AND sale.id <= $end


    sql_attr_uint       = category_id
    sql_attr_uint       = section_id
    sql_field_string    = category_section
    sql_attr_uint       = client_id
    sql_attr_uint       = user_id
    sql_attr_timestamp  = create_date_timestamp
    sql_attr_timestamp  = set_date_timestamp
    sql_attr_timestamp  = expire_date_timestamp
    sql_attr_timestamp  = deleted_time_timestamp
    sql_attr_uint       = mark_id
    sql_attr_uint       = mark_type
    sql_attr_uint       = group_id
    sql_attr_uint       = model_id
    sql_attr_string	= model_name
    sql_attr_string	= mark_name
    sql_attr_uint       = modification_id
    sql_attr_uint       = type_id
    sql_attr_uint       = color_id
    sql_attr_uint       = transmission_key
    sql_attr_uint       = engine_key
    sql_attr_uint       = engine_volume
    sql_attr_uint       = engine_power
    sql_attr_uint       = cylinders
    sql_attr_uint       = cylinders_type
    sql_attr_uint       = strokes
    sql_attr_uint       = displacement
    sql_attr_uint       = operating_hours
    sql_attr_uint       = loading
    sql_attr_uint       = seats
    sql_attr_uint       = drive_key
    sql_attr_uint       = wheel_key
    sql_attr_uint       = year
    sql_attr_uint       = run
    sql_attr_uint       = price_usd
    sql_attr_uint       = available_key
    sql_attr_uint       = haggle_key
    sql_attr_uint       = used_key
    sql_attr_uint       = custom_key
    sql_attr_uint       = change_key
    sql_attr_uint       = weight
    sql_attr_uint       = used_for_key
    sql_attr_uint       = type_key
    sql_attr_uint       = wheel_size
    sql_attr_uint       = speed_num
    sql_attr_uint       = body_size
    sql_attr_uint       = back_brake_key
    sql_attr_uint       = front_brake_key
    sql_field_string    = extras
    sql_attr_bool       = photo
    sql_attr_uint       = country_id
    sql_attr_uint       = region_id
    sql_attr_uint       = city_id
    sql_attr_uint       = status
    sql_attr_uint       = sms_id
    sql_field_string    = reclama_type

    sql_query_info = SELECT id, extras FROM all.sale5 WHERE id = $id
}

index sale5
{
    type          = plain
    source = sale5

    path = /opt/sphinx_all/sale5/

    docinfo         = extern
    charset_type    = sbcs
    html_strip      = 1
}



indexer
{
    mem_limit       = 2047M
    write_buffer    = 16M
    max_file_field_buffer = 128M
}

searchd
{
    listen          = 21666

    log             = /var/log/sphinx/searchd_all.log
#    query_log      = /var/log/sphinx/query_all.log
    pid_file        = /var/run/sphinx/searchd_all.pid 
    binlog_path     = /var/log/sphinx/all
    read_timeout    = 2
    max_children    = 0
    max_matches     = 10000
    unlink_old      = 1

    seamless_rotate = 1
    preopen_indexes = 1

    #query_log_format = sphinxql
    workers = threads
    read_buffer = 8M
    read_unhinted = 8M
}

