source all_0
{
    type = xmlpipe2
    xmlpipe_command = /servers/all7/bin/sphinx_xml_indexer.php --part 0 --total_parts 1
    xmlpipe_fixup_utf8 = 1
}

index all_0
{
    type          = plain
    source = all_0

    path = /opt/sphinx_all7/current/0/

    docinfo         = extern
    charset_type    = utf-8
    html_strip      = 1
}



index all
{
  type = distributed
    local = all_0
}

indexer
{
    mem_limit       = 2047M
    write_buffer    = 16M
    max_file_field_buffer = 128M
}

searchd
{
    listen          = 21999
    listen          = 3307:mysql41
    max_batch_queries = 0

    log             = /var/log/sphinx/searchd_all7.log
#    query_log       = /var/log/sphinx/query_all7.log
    pid_file        = /var/run/sphinx/searchd_all7.pid
    binlog_path     = /var/log/sphinx/all7
    read_timeout    = 1
    max_children    = 0
    max_matches     = 10000
    unlink_old      = 1

    max_filter_values = 51000

    seamless_rotate = 1
    preopen_indexes = 1

    query_log_format = sphinxql
    workers = threads
    read_buffer = 8M
    read_unhinted = 8M

    thread_stack = 1M

    dist_threads = 2
}
