index moderation {
    path = /opt/sphinx_moderation/

    type             = rt
    rt_mem_limit     = 4096M
    dict             = keywords
    docinfo          = extern
    html_strip       = 1
    morphology       = none
    min_word_len     = 3
    charset_table    = 0..9, A..Z->a..z, _, a..z, U+410..U+42F->U+430..U+44F, U+430..U+44F, U+0401->U+0435, U+0451->U+0435
    min_infix_len    = 3

    rt_field = email
    rt_field = description
    rt_attr_uint = project_id
    rt_attr_uint = object_id
    rt_attr_uint = client_id
    rt_attr_uint = user_id
    rt_attr_uint = status
    rt_attr_uint = object_status
    rt_attr_timestamp = ctime
    rt_attr_timestamp = mtime
    rt_attr_multi = plugin_id
    rt_attr_multi_64 = phone
    rt_attr_multi_64 = ip
    rt_attr_uint = last_moderator_id
    rt_attr_string = email
    rt_attr_string = code
}

index all7 : moderation {
    path             = /opt/sphinx_moderation/all7/ #
}

index users8 : moderation {
    path             = /opt/sphinx_moderation/users8/ #
}

source all7_plain
{
    type = xmlpipe2
    xmlpipe_command = /servers/moderation/bin/sphinx_xml_indexer.php -p all7
    xmlpipe_fixup_utf8 = 1
}

source all7_plain_1
{
    type = xmlpipe2
    xmlpipe_command = /servers/moderation/bin/sphinx_xml_indexer.php -p all7 -s 1
    xmlpipe_fixup_utf8 = 1
}

source all7_plain_2
{
    type = xmlpipe2
    xmlpipe_command = /servers/moderation/bin/sphinx_xml_indexer.php -p all7 -s 2
    xmlpipe_fixup_utf8 = 1
}

source all7_plain_3
{
    type = xmlpipe2
    xmlpipe_command = /servers/moderation/bin/sphinx_xml_indexer.php -p all7 -s 3
    xmlpipe_fixup_utf8 = 1
}

source all7_plain_4
{
    type = xmlpipe2
    xmlpipe_command = /servers/moderation/bin/sphinx_xml_indexer.php -p all7 -s 4
    xmlpipe_fixup_utf8 = 1
}

source all7_plain_5
{
    type = xmlpipe2
    xmlpipe_command = /servers/moderation/bin/sphinx_xml_indexer.php -p all7 -s 5
    xmlpipe_fixup_utf8 = 1
}

index all7_plain
{
    type    = plain
    source = all7_plain

    path = /opt/sphinx_moderation/all7_plain/
    dict             = keywords
    docinfo          = extern
    html_strip       = 1
    morphology       = none
    min_word_len     = 3
    charset_table    = 0..9, A..Z->a..z, _, a..z, U+410..U+42F->U+430..U+44F, U+430..U+44F, U+0401->U+0435, U+0451->U+0435
    min_infix_len    = 3
}

index all7_plain_1
{
    type    = plain
    source = all7_plain_1

    path = /opt/sphinx_moderation/all7_plain_1/
    dict             = keywords
    docinfo          = extern
    html_strip       = 1
    morphology       = none
    min_word_len     = 3
    charset_table    = 0..9, A..Z->a..z, _, a..z, U+410..U+42F->U+430..U+44F, U+430..U+44F, U+0401->U+0435, U+0451->U+0435
    min_infix_len    = 3
}

index all7_plain_2
{
    type    = plain
    source = all7_plain_2

    path = /opt/sphinx_moderation/all7_plain_2/
    dict             = keywords
    docinfo          = extern
    html_strip       = 1
    morphology       = none
    min_word_len     = 3
    charset_table    = 0..9, A..Z->a..z, _, a..z, U+410..U+42F->U+430..U+44F, U+430..U+44F, U+0401->U+0435, U+0451->U+0435
    min_infix_len    = 3
}

index all7_plain_3
{
    type    = plain
    source = all7_plain_3

    path = /opt/sphinx_moderation/all7_plain_3/
    dict             = keywords
    docinfo          = extern
    html_strip       = 1
    morphology       = none
    min_word_len     = 3
    charset_table    = 0..9, A..Z->a..z, _, a..z, U+410..U+42F->U+430..U+44F, U+430..U+44F, U+0401->U+0435, U+0451->U+0435
    min_infix_len    = 3
}

index all7_plain_4
{
    type    = plain
    source = all7_plain_4

    path = /opt/sphinx_moderation/all7_plain_4/
    dict             = keywords
    docinfo          = extern
    html_strip       = 1
    morphology       = none
    min_word_len     = 3
    charset_table    = 0..9, A..Z->a..z, _, a..z, U+410..U+42F->U+430..U+44F, U+430..U+44F, U+0401->U+0435, U+0451->U+0435
    min_infix_len    = 3
}

index all7_plain_5
{
    type    = plain
    source = all7_plain_5

    path = /opt/sphinx_moderation/all7_plain_5/
    dict             = keywords
    docinfo          = extern
    html_strip       = 1
    morphology       = none
    min_word_len     = 3
    charset_table    = 0..9, A..Z->a..z, _, a..z, U+410..U+42F->U+430..U+44F, U+430..U+44F, U+0401->U+0435, U+0451->U+0435
    min_infix_len    = 3
}

source users8_plain
{
    type = xmlpipe2
    xmlpipe_command = /servers/moderation/bin/sphinx_xml_indexer.php -p users8
    xmlpipe_fixup_utf8 = 1
}

index users8_plain
{
    type    = plain
    source = users8_plain

    path = /opt/sphinx_moderation/users8_plain/
    dict             = keywords
    docinfo          = extern
    html_strip       = 1
    morphology       = none
    min_word_len     = 3
    charset_table    = 0..9, A..Z->a..z, _, a..z, U+410..U+42F->U+430..U+44F, U+430..U+44F, U+0401->U+0435, U+0451->U+0435
    min_infix_len    = 3
}

index all7_dist {
   type = distributed
#   local = all7_plain
   local = all7_plain_1
   local = all7_plain_2
   local = all7_plain_3
   local = all7_plain_4
   local = all7_plain_5
   local = all7
}

index users8_dist {
    type = distributed
    local = users8_plain
    local = users8
}

indexer
{
    mem_limit       = 2047M
    write_buffer    = 16M
    max_file_field_buffer = 128M
}

searchd
{
    listen            = 3311:mysql41
    listen            = 21668
    max_batch_queries = 0
    log               = /var/log/sphinx/searchd_moderation_rt.log
    query_log         = /var/log/sphinx/query_moderation_rt.log
    pid_file          = /var/run/sphinx/searchd_moderation_rt.pid
    binlog_path       = /var/log/sphinx/moderation_rt
    read_timeout      = 1
    query_log_format  = sphinxql
    read_buffer       = 8M
    read_unhinted     = 8M
    attr_flush_period = 600
    mva_updates_pool  = 512M
    rt_flush_period   = 3600
    max_matches       = 10000
}

