source statistics_0
{
type = xmlpipe2
xmlpipe_command = /servers/all7/bin/indexer/sales_statistics.php --total_parts=16 --part=0
xmlpipe_fixup_utf8 = 1
}

index statistics_0
{
    type          = plain
    source = statistics_0

    path = /opt/sphinx_statistics/0/

    docinfo         = extern
    charset_type    = utf-8
    html_strip      = 1
}

source statistics_1 : statistics_0
{
    xmlpipe_command = /servers/all7/bin/indexer/sales_statistics.php --total_parts=16 --part=1
}

index statistics_1 : statistics_0
{
    source = statistics_1
    path = /opt/sphinx_statistics/1/

}
source statistics_2 : statistics_0
{
    xmlpipe_command = /servers/all7/bin/indexer/sales_statistics.php --total_parts=16 --part=2
}

index statistics_2 : statistics_0
{
    source = statistics_2
    path = /opt/sphinx_statistics/2/

}
source statistics_3 : statistics_0
{
    xmlpipe_command = /servers/all7/bin/indexer/sales_statistics.php --total_parts=16 --part=3
}

index statistics_3 : statistics_0
{
    source = statistics_3
    path = /opt/sphinx_statistics/3/

}
source statistics_4 : statistics_0
{
    xmlpipe_command = /servers/all7/bin/indexer/sales_statistics.php --total_parts=16 --part=4
}

index statistics_4 : statistics_0
{
    source = statistics_4
    path = /opt/sphinx_statistics/4/

}
source statistics_5 : statistics_0
{
    xmlpipe_command = /servers/all7/bin/indexer/sales_statistics.php --total_parts=16 --part=5
}

index statistics_5 : statistics_0
{
    source = statistics_5
    path = /opt/sphinx_statistics/5/

}
source statistics_6 : statistics_0
{
    xmlpipe_command = /servers/all7/bin/indexer/sales_statistics.php --total_parts=16 --part=6
}

index statistics_6 : statistics_0
{
    source = statistics_6
    path = /opt/sphinx_statistics/6/

}
source statistics_7 : statistics_0
{
    xmlpipe_command = /servers/all7/bin/indexer/sales_statistics.php --total_parts=16 --part=7
}

index statistics_7 : statistics_0
{
    source = statistics_7
    path = /opt/sphinx_statistics/7/

}
source statistics_8 : statistics_0
{
    xmlpipe_command = /servers/all7/bin/indexer/sales_statistics.php --total_parts=16 --part=8
}

index statistics_8 : statistics_0
{
    source = statistics_8
    path = /opt/sphinx_statistics/8/

}
source statistics_9 : statistics_0
{
    xmlpipe_command = /servers/all7/bin/indexer/sales_statistics.php --total_parts=16 --part=9
}

index statistics_9 : statistics_0
{
    source = statistics_9
    path = /opt/sphinx_statistics/9/

}
source statistics_10 : statistics_0
{
    xmlpipe_command = /servers/all7/bin/indexer/sales_statistics.php --total_parts=16 --part=10
}

index statistics_10 : statistics_0
{
    source = statistics_10
    path = /opt/sphinx_statistics/10/

}
source statistics_11 : statistics_0
{
    xmlpipe_command = /servers/all7/bin/indexer/sales_statistics.php --total_parts=16 --part=11
}

index statistics_11 : statistics_0
{
    source = statistics_11
    path = /opt/sphinx_statistics/11/

}
source statistics_12 : statistics_0
{
    xmlpipe_command = /servers/all7/bin/indexer/sales_statistics.php --total_parts=16 --part=12
}

index statistics_12 : statistics_0
{
    source = statistics_12
    path = /opt/sphinx_statistics/12/

}
source statistics_13 : statistics_0
{
    xmlpipe_command = /servers/all7/bin/indexer/sales_statistics.php --total_parts=16 --part=13
}

index statistics_13 : statistics_0
{
    source = statistics_13
    path = /opt/sphinx_statistics/13/

}
source statistics_14 : statistics_0
{
    xmlpipe_command = /servers/all7/bin/indexer/sales_statistics.php --total_parts=16 --part=14
}

index statistics_14 : statistics_0
{
    source = statistics_14
    path = /opt/sphinx_statistics/14/

}
source statistics_15 : statistics_0
{
    xmlpipe_command = /servers/all7/bin/indexer/sales_statistics.php --total_parts=16 --part=15
}

index statistics_15 : statistics_0
{
    source = statistics_15
    path = /opt/sphinx_statistics/15/

}

source statistics_current : statistics_0
{

xmlpipe_command = /servers/all7/bin/indexer/sales_statistics.php --total_parts=16 --part=all7
}

index statistics_current : statistics_current
{

    source = statistics_current

    path = /opt/sphinx_statistics/current/

}

index statistics
{
type = distributed
    local = statistics_0
    local = statistics_1
    local = statistics_2
    local = statistics_3
    local = statistics_4
    local = statistics_5
    local = statistics_6
    local = statistics_7
    local = statistics_8
    local = statistics_9
    local = statistics_10
    local = statistics_11
    local = statistics_12
    local = statistics_13
    local = statistics_14
    local = statistics_15

    local = statistics_current
}

indexer
{
mem_limit       = 2047M
write_buffer    = 16M
max_file_field_buffer = 128M
}

searchd
{
listen          = 23999
listen          = 3309:mysql41
max_batch_queries = 0

log             = /var/log/sphinx/searchd_statistics.log
#query_log       = /var/log/sphinx/query_statistics.log
pid_file        = /var/run/sphinx/searchd_statistics.pid
binlog_path     = /var/log/sphinx/statistics
read_timeout    = 1
max_children    = 0
max_matches     = 5000
unlink_old      = 1

max_filter_values = 51000

seamless_rotate = 1
preopen_indexes = 1

query_log_format = sphinxql
workers = threads
read_buffer = 8M
read_unhinted = 8M

dist_threads = 2
}
