source main_0
{
    type = xmlpipe2
    xmlpipe_command = /servers/users8/bin/oop_sphinx_xml_indexer.php --index main --count 5 --number 0

    xmlpipe_fixup_utf8 = 1
}

index main_0
{
    type          = plain
    source        = main_0

    path = /opt/sphinx_users8/main_0/

    docinfo         = extern
    charset_type    = utf-8
    html_strip      = 1
    enable_star     = 1
    min_infix_len   = 1
    charset_table   = 0..9, A..Z->a..z, _, a..z, U+410..U+42F->U+430..U+44F, U+430..U+44F
    ignore_chars    = @,.,-
}

source main_1 : main_0
{
    xmlpipe_command = /servers/users8/bin/oop_sphinx_xml_indexer.php --index main --count 5 --number 1
}
index main_1 : main_0
{
    source = main_1
    path = /opt/sphinx_users8/main_1/
}

source main_2 : main_0
{
    xmlpipe_command = /servers/users8/bin/oop_sphinx_xml_indexer.php --index main --count 5 --number 2
}
index main_2 : main_0
{
    source = main_2
    path = /opt/sphinx_users8/main_2/
}

source main_3 : main_0
{
    xmlpipe_command = /servers/users8/bin/oop_sphinx_xml_indexer.php --index main --count 5 --number 3
}
index main_3 : main_0
{
    source = main_3
    path = /opt/sphinx_users8/main_3/
}

source main_4 : main_0
{
    xmlpipe_command = /servers/users8/bin/oop_sphinx_xml_indexer.php --index main --count 5 --number 4
}
index main_4 : main_0
{
    source = main_4
    path = /opt/sphinx_users8/main_4/
}




source delta : main_0
{
    xmlpipe_command = /servers/users8/bin/oop_sphinx_xml_indexer.php --index delta
}
index delta : main_0
{
    source = delta
    path = /opt/sphinx_users8/delta/
}
indexer
{
    mem_limit       = 2047M
    write_buffer    = 16M
    max_file_field_buffer = 128M
}

searchd
{
    listen          = 21336
    max_batch_queries = 0

    log             = /var/log/sphinx/searchd_users8.log
#    query_log       = /var/log/sphinx/query_users8.log
    pid_file        = /var/run/sphinx/searchd_users8.pid
    binlog_path     = /var/log/sphinx/users8/
    read_timeout    = 1
    max_children    = 0
    max_matches     = 10000
    unlink_old      = 1

    seamless_rotate = 1
    preopen_indexes = 1

    query_log_format = sphinxql
    workers = threads
    read_buffer = 8M
    read_unhinted = 8M
    subtree_docs_cache = 16M
}
