CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = NO
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) COCOAPODS=1
HEADER_SEARCH_PATHS = $(inherited) "${PODS_ROOT}/Headers/Public" "${PODS_ROOT}/Headers/Public/GroupEditToolbarUI" "${PODS_ROOT}/Headers/Public/UIAtoms" "${PODS_ROOT}/Headers/Public/YXFonts"
OTHER_CFLAGS = $(inherited) -fmodule-map-file="${PODS_CONFIGURATION_BUILD_DIR}/Appearance/Appearance.modulemap" -fmodule-map-file="${PODS_CONFIGURATION_BUILD_DIR}/DarkTheme/DarkTheme.modulemap" -fmodule-map-file="${PODS_CONFIGURATION_BUILD_DIR}/GroupEditToolbarUI/GroupEditToolbarUI.modulemap" -fmodule-map-file="${PODS_CONFIGURATION_BUILD_DIR}/LightTheme/LightTheme.modulemap" -fmodule-map-file="${PODS_CONFIGURATION_BUILD_DIR}/ResourceProvider/ResourceProvider.modulemap" -fmodule-map-file="${PODS_CONFIGURATION_BUILD_DIR}/UIAtoms/UIAtoms.modulemap" -fmodule-map-file="${PODS_ROOT}/Headers/Public/YXFonts/YXFonts.modulemap"
OTHER_LDFLAGS = $(inherited) -framework "CoreText" -framework "Foundation" -framework "QuartzCore" -framework "UIKit"
OTHER_SWIFT_FLAGS = $(inherited) -D COCOAPODS -Xcc -fmodule-map-file="${PODS_CONFIGURATION_BUILD_DIR}/Appearance/Appearance.modulemap" -Xcc -fmodule-map-file="${PODS_CONFIGURATION_BUILD_DIR}/DarkTheme/DarkTheme.modulemap" -Xcc -fmodule-map-file="${PODS_CONFIGURATION_BUILD_DIR}/GroupEditToolbarUI/GroupEditToolbarUI.modulemap" -Xcc -fmodule-map-file="${PODS_CONFIGURATION_BUILD_DIR}/LightTheme/LightTheme.modulemap" -Xcc -fmodule-map-file="${PODS_CONFIGURATION_BUILD_DIR}/ResourceProvider/ResourceProvider.modulemap" -Xcc -fmodule-map-file="${PODS_CONFIGURATION_BUILD_DIR}/UIAtoms/UIAtoms.modulemap" -Xcc -fmodule-map-file="${PODS_ROOT}/Headers/Public/YXFonts/YXFonts.modulemap"
PODS_BUILD_DIR = ${BUILD_DIR}
PODS_CONFIGURATION_BUILD_DIR = ${PODS_BUILD_DIR}/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
PODS_PODFILE_DIR_PATH = ${SRCROOT}/.
PODS_ROOT = ${SRCROOT}/Pods
PODS_XCFRAMEWORKS_BUILD_DIR = $(PODS_CONFIGURATION_BUILD_DIR)/XCFrameworkIntermediates
SWIFT_INCLUDE_PATHS = $(inherited) "${PODS_CONFIGURATION_BUILD_DIR}/Appearance" "${PODS_CONFIGURATION_BUILD_DIR}/DarkTheme" "${PODS_CONFIGURATION_BUILD_DIR}/GroupEditToolbarUI" "${PODS_CONFIGURATION_BUILD_DIR}/LightTheme" "${PODS_CONFIGURATION_BUILD_DIR}/ResourceProvider" "${PODS_CONFIGURATION_BUILD_DIR}/UIAtoms"
USE_RECURSIVE_SCRIPT_INPUTS_IN_SCRIPT_PHASES = YES
