PREBUILD_SCRIPT=yxbuildkit-prebuild.sh

IPA_TITLE="Toolbox"
IPA_FILE=geotoolbox-iphoneos.ipa

CODE_SIGN_IDENTITY_AdHoc="iPhone Distribution: Yandex LLC"
CODE_SIGN_IDENTITY_AppStore="iPhone Distribution: Yandex, LLC"
#MOBILEPROVISION="Profiles/Yandex_GeoToolbox_In_House.mobileprovision"
APP_VERSION=100

BUILD_USING_XCODE=Xcode8
