interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://its.yandex-team.ru/v1/config/
  response:
    body:
      string: !!python/unicode '{"acl": [{"mask": "**", "logins": ["romanovich", "sereglond",
        "bkht", "nekto0n", "alonger", "nanny-robot", "osol", "ekilimchuk", "olegsenin",
        "safechoice", "realtim", "robot-images", "robot-monsys", "nextus", "mcden",
        "evelkin", "robot-antivirus-sbap", "zador", "amich", "sukhoi", "karas-pv",
        "alikulin", "moridin", "sivanichkin", "jelyscs", "librarian", "mixas", "panoff",
        "talion", "anoh", "nbahob", "kfour", "tobo", "roboslone", "smalukav", "kulikov"],
        "groups": ["yandex_search_tech_mobile_vpl", "yandex_mnt_sa_runtime_mon", "yandex_search_tech_quality_avservser_intserv",
        "yandex_search_tech_quality_avservser_mainop", "yandex_search_tech_quality_avservser_mainop_routop",
        "yandex_mnt_sa_runtime_cross", "yandex_search_tech_quality_rank_ml_person",
        "yandex_mnt_traf", "yandex_search_tech_sq_multimedia_adminmult", "svc_dutysearch-training",
        "yandex_mnt_sa_runtime_mondev_0023"]}, {"mask": "addrs/**", "logins": [],
        "grou[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://nanny.yandex-team.ru/v2/services/_helpers/get_active_revision_id/production_balancer_swat_man/
  response:
    body:
      string: !!python/unicode '{"active_revision_id":"production_balancer_swat_man-1561995791020","full_orthogonal_tags":{"metaprj":[["balancer"]],"itype":[["balancer"]],"ctype":[["prod"]],"prj":[["cplb-swat","swat"]]},"network_settings":"MTN_ENABLED","locations":["man"],"hq_clusters":["man_prod"]}'
    headers:
      content-type:
      - application/json
      x-backend-host:
      - api_server@vla1-4649.search.yandex.net:8008
      x-backend-version:
      - 0.17.626
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://nanny.yandex-team.ru/v2/services/_helpers/get_active_revision_id/production_balancer_swat_sas/
  response:
    body:
      string: !!python/unicode '{"active_revision_id":"production_balancer_swat_sas-1561994811315","full_orthogonal_tags":{"metaprj":[["balancer"]],"itype":[["balancer"]],"ctype":[["prestable"]],"prj":[["cplb-swat","swat"]]},"network_settings":"MTN_ENABLED","locations":["sas"],"hq_clusters":["sas_prod"]}'
    headers:
      content-type:
      - application/json
      x-backend-host:
      - api_server@man2-6350.search.yandex.net:8008
      x-backend-version:
      - 0.17.626
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://nanny.yandex-team.ru/v2/services/production_balancer_swat_man/runtime_attrs/
  response:
    body:
      string: !!binary |
        eF7NWNly28YS/Rc8mxL2RW8UCcssU6SKBB37WqkpEBhQiEAAAQaUGJX+PaexcLN8E+v6JnoSNZjp
        6fX06XmSgiwVPBXSxZMUp6Xw04CzMucBLaRcPGTF/U2R5bwQMS9pseBllmwGWRpJF9LQfd9fjD02
        c+fT8Sc2mE7eS+8kLoIPWSmwXfroujfM9Qbsw3TuzaXnd9IdvkDiJg55OPT5Okux7+uTJLY5x4Ev
        /fk161[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://nanny.yandex-team.ru/v2/services/production_balancer_swat_man/current_state/instances/
  response:
    body:
      string: !!python/unicode '{"result":[{"engine":"","network_settings":"MTN_ENABLED","container_hostname":"man1-7849-man-swat-balancer-15940.gencfg-c.yandex.net","hostname":"man1-7849.search.yandex.net","port":15940,"itags":["MAN_SWAT_BALANCER","a_ctype_prod","a_dc_man","a_geo_man","a_itype_balancer","a_line_man2","a_metaprj_balancer","a_prj_cplb-swat","a_prj_swat","a_tier_none","cgset-cpu.smart=1","cgset_memory_recharge_on_pgfault_1","portopowered","production","enable_hq_report"]},{"engine":"","network_settings":"MTN_ENABLED","container_hostname":"man2-6087-433-man-swat-balancer-15940.gencfg-c.yandex.net","hostname":"man2-6087.search.yandex.net","port":15940,"itags":["MAN_SWAT_BALANCER","a_ctype_prod","a_dc_man",[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://nanny.yandex-team.ru/v2/services/production_balancer_swat_sas/runtime_attrs/
  response:
    body:
      string: !!binary |
        eF7NWFl32kgW/i96jrH2xW8yKA4nGDhIpOOJ+9QpSSWssZBoVQmb9vF/n3u1IRxnuuPJzPgJUetd
        v/vdepKiIhcsF9LFk5TmXNA8YoTvWIQDORMPRXm/LIsdK0XKOA6WjBfZflzkiXQhTbyP7noWkJXn
        L2ZfyHgx/yh9kJiIPhVcwHLps+ctiReMyaeFH/jS8wfpDmbgxH0as3hC2bbIYd23J0kcdgw23Lj+
        NXGvvH[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://nanny.yandex-team.ru/v2/services/production_balancer_swat_sas/current_state/instances/
  response:
    body:
      string: !!python/unicode '{"result":[{"engine":"","network_settings":"MTN_ENABLED","container_hostname":"sas1-4104-sas-swat-balancer-15940.gencfg-c.yandex.net","hostname":"sas1-4104.search.yandex.net","port":15940,"itags":["SAS_SWAT_BALANCER","a_ctype_prestable","a_dc_sas","a_g[...]
- request:
    body: !!python/unicode "\n\x1Cproduction_balancer_swat_man"
    headers:
      Content-Type:
      - application/x-protobuf
      authorization:
      - DUMMY
    method: POST
    uri: https://nanny.yandex-team.ru/api/repo/GetReplicationPolicy/
  response:
    body:
      string: !!binary |
        CgdGYWlsdXJlEjxSZXBsaWNhdGlvbiBwb2xpY3kgJ3Byb2R1Y3Rpb25fYmFsYW5jZXJfc3dhdF9t
        YW4nIG5vdCBmb3VuZC4glAM=
    headers:
      content-type:
      - application/x-protobuf
      x-backend-host:
      - api_server@myt1-0137.search.yandex.net:8016
      x-backend-version:
      - 0.17.711
    status:
      code: 404
      message: NOT FOUND
[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://nanny.yandex-team.ru/v2/services/_helpers/get_active_revision_id/rtc_balancer_adm-nanny_yandex-team_ru_man/
  response:
    body:
      string: !!python/unicode '{"active_revision_id":"rtc_balancer_adm-nanny_yandex-team_ru_man-1584108455727","full_orthogonal_tags":{"metaprj":[["balancer"]],"itype":[["balancer"]],"ctype":[["prod"]],"prj":[["admin-nanny-balancer"]]},"network_settings":"MTN_ENABLED","locations":["man"],"hq_clusters":["man_prod"]}'
    headers:
      content-type:
      - application/json
      x-backend-host:
      - api_server@myt1-0137.search.yandex.net:8008
      x-backend-version:
      - 0.17.965
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://nanny.yandex-team.ru/v2/services/rtc_balancer_adm-nanny_yandex-team_ru_man/runtime_attrs/
  response:
    body:
      string: !!binary |
        eF7NWFtzm8gS/ispHvbhVCSLO/iNSMTRRkYqCWXjiramBhhkYgTsAHa0Lv/30z1cdLFTu8lmt/Jk
        uWeY6cv011/3oxTmWcWySrp8lJKsrGgWMlIWLERBxqqHnN8teF4wXiWsRCFnZZ7ej/Msli6lifvW
        Wc98snRX89kHMp57b6XXEqvCd3lZwXbpvesuiOuPybv5yl9JT6+lW1iBE++TiEUTynZ5Bvs+PUrV
 [...]
[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://nanny.yandex-team.ru/v2/services/rtc_balancer_adm-nanny_yandex-team_ru_man/current_state/instances/
  response:
    body:
      string: !!python/unicode '{"result":[{"engine":"","network_settings":"MTN_ENABLED","container_hostname":"man1-8080-man-admin-nanny-balancer-28992.gencfg-c.yandex.net","hostname":"man1-8080.search.yandex.net","port":28992,"itags":["MAN_ADMIN_NANNY_BALANCER","a_ctype_prod","a_dc_man","a_geo_man","a_itype_balancer","a_line_man2","a_metaprj_balancer","a_prj_admin-nanny-balancer","a_tier_none","cgset-cpu.smart=1","cgset_memory_recharge_on_pgfault_1","portopowered","production","enable_hq_report","enable_hq_poll"]}]}'
    headers:
      content-type:
      - application/json
      x-backend-host:
      - api_server@man1-7447.search.yandex.net:8000
      x-backend-version:
      - 0.17.965
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode '{"ctxList": [{"name": "hist", "period": 3600, "st": 1592179200,
      "signals": ["itype=balancer;ctype=prod;prj=admin-nanny-balancer;geo=vla:balancer_report-report-service_total-requests_summ"],
      "host": "ASEARCH", "et": 1592265600, "id": "ASEARCH:1592179200_1592265600_3600"}]}'
    headers:
      Content-Type:
      - application/json
      X-Golovan-Hostname:
      - ferenets-nix
      X-Golovan-Username:
      - ferenets
    method: POST
    uri: http://yasm.yandex-team.ru/hist/data/
  response:
    body:
      string: !!python/unicode "{\n  \"status\": \"ok\", \n  \"response\": {\n    \"errors\":
        [], \n    \"ASEARCH:1592179200_1592265600_3600\": {\n      \"content\": {\n
        \       \"timeline\": [\n          1592179200, \n          1592182800, \n
        \         1592186400, \n          1592190000, \n          1592193600, \n          1592197200,
        \n          1592200800, \n          1592204400, \n          1592208000, \n
        \         1592211600, \n          1592215200, \n          1592218800, \n          1592222400,
        \n          1592226000, \n          1592229600, \n          1592233200, \n
        \         1592236800, \n          1592240400, \n          1592244000, \n          1592247600,
        \n          1592251200, \n          1592254800, \n          1592258400, \n
        \         1592262000, \n          1592265600\n        ], \n        \"values\":
        {\n          \"itype=balancer;ctype=prod;prj=admin-nanny-balancer;geo=vla:balancer_report-report-service_total-requests_summ\":
        [\n            2784, \n            2783, \n            2784, \n            2782,
        \n            2783, \n            2784, \n            2783, \n            2506,
        \n            1600, \n            1600, \n            1600, \n            1600,
        \n            1599, \n            1600, \n            2960, \n            2264,
        \n            1600, \n            1599, \n            1600, \n            1600,
        \n            1600, \n            1598, \n            2095, \n            2784,
        \n            2784\n          ]\n        }\n      }, \n      \"messages\":
        []\n    }, \n    \"request_id\": \"0d3bf944-1f85-454e-817e-43436e1930de\"\n
        \ }, \n  \"fqdn\": \"sas1-1063.search.yandex.net\"\n}"
    headers:
      content-type:
      - application/json
      x-golovan-host-timestamp:
      - '1644850595'
      x-histfront-fqdn:
      - sas1-1063.search.yandex.net
    status:
      code: 200
      message: OK
version: 1
