[submodule "containers/darkspirit"]
	path = containers/darkspirit
	url = https://github.yandex-team.ru/Billing/darkspirit.git
[submodule "containers/whitespirit"]
	path = containers/whitespirit
	url = https://github.yandex-team.ru/Billing/whitespirit.git
