[vertis-backups]
aws_access_key_id = {{lookup('yav', 'ver-01cv9sfhy4q6qst0cxg8ak3bxp', 'AccessKeyId')}}
aws_secret_access_key = {{lookup('yav', 'ver-01cv9sfhy4q6qst0cxg8ak3bxp', 'AccessSecretKey')}}
s3 =
    max_bandwidth = {{ backups_max_bandwidth | default(backups_default_max_bandwidth) }}MB/s
    multipart_chunksize = 64MB
