Source: yandex-vertis-hadoop-configs-testing
Section: unknown
Priority: optional
Maintainer: Aleksandr Deev <xtrm@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/yandex-vertis-hadoop-configs-testing.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/yandex-vertis-hadoop-configs-testing.git;a=summary

Package: yandex-vertis-hadoop-configs-testing
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
