{
  "iptables": false,
  "ipv6": true,
  "fixed-cidr-v6": "{{ host_net.stdout }}:{{ host_subnet.stdout }}:0/112",
  "mtu": 8950,
  "storage-driver": "overlay2",
  "dns": ["{{ host_IPv6.stdout }}"],
  "dns-opts": ["timeout:1", "attempts:2"],
{% if seccomp_feature_flag == true %}
  "seccomp-profile": "/etc/docker/seccomp_perf.json",
{% endif %}
  "debug": true
}
