{
  "iptables": false,
  "ipv6": true,
  "fixed-cidr-v6": "{{ vlan688_ipv6.stdout }}/112",
  "fixed-cidr": "172.{{ subnet_second_octet.stdout }}.{{ subnet_third_octet.stdout }}.0/24",
  "mtu": 8950,
  "default-gateway-v6": "{{ vlan688_ipv6.stdout }}",
  "storage-driver": "overlay2",
  "dns": ["{{ docker_IPv6.stdout }}"],
  "dns-opts": ["timeout:1", "attempts:2"],
{% if seccomp_feature_flag == true %}
  "seccomp-profile": "/etc/docker/seccomp_perf.json",
{% endif %}
  "debug": true
}
