Source: yandex-vertis-config-conductor-testing
Section: unknown
Priority: optional
Maintainer: Ivan Bogdanov <spooner@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.yandex-team.ru/vertis-admin/

Package: yandex-vertis-config-conductor-testing
Architecture: all
Pre-Depends: conductor-agent (>= 0.30)
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: yandex-vertis-conductor-settings
Description: st/VSADMIN-7593
