<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>enterprise</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>iPhone Distribution: Yandex LLC</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>ru.yandex.mobile.metrokit.testapp</key>
		<string>MetroKit TestApp In House</string>
	</dict>
</dict>
</plist>
