
PREBUILD_SCRIPT=yxbuildkit-prebuild.sh

IPA_TITLE="MetroKit"
IPA_FILE=metrokitapp-iphoneos.ipa
BETA_M_YA_RU_NAME_UPLOAD_PARAM=metrokit

CODE_SIGN_IDENTITY_AdHoc="iPhone Distribution: Yandex LLC"
CODE_SIGN_IDENTITY_AppStore="iPhone Distribution: Yandex, LLC"

APP_VERSION=100

BUILD_USING_XCODE=Xcode11.2.1
EXPORT_OPTIONS_PLIST_AdHoc="./exportOptions_adhoc.plist"
