global
        log                             127.0.0.1 local0 notice
        maxconn                         240000
        user                            haproxy
        group                           haproxy
        daemon
        stats socket                    /var/lib/haproxy/local.sock level admin
        tune.ssl.default-dh-param       2048
        spread-checks                   20 # 20% временной разброс проверок
        nbproc                          1

defaults
        log                             global
        mode                            tcp
        option                          tcplog
        option                          dontlognull
        option                          dontlog-normal
        option                          redispatch
        option                          allbackups # Раундробин по бекап-серверам (не допускать нескольких бекапов для мастеров !)
        option                          contstats
        retries                         3
        maxconn                         240000
        timeout connect                 25s
        timeout http-request            25s
        timeout queue                   25s
        timeout client                  3600s
        timeout server                  3600s
        timeout check                   2s
        balance                         leastconn # roundrobin
        # load-server-state-from-file     global

listen stats
        bind                    :::1000
        bind                    /tmp/haproxy.sock user haproxy group haproxy
        mode                    http
        no option               nolinger
        maxconn                 100
        stats                   enable
        stats uri               /
        stats refresh           10s
        stats realm             Haproxy\ Statistics

resolvers short-ttl-resolver
	nameserver	local ::1:53
	nameserver	ns-cache ns-cache.yandex.net:53
	nameserver	dns-cache dns-cache.yandex.net:53
	hold valid 5s

listen pg_proxy
	bind			:::6432
	server			sentry_pg pg-rw-mdbalue6gitfr14apv1o.query.consul:6432 check resolvers short-ttl-resolver

listen redis_proxy
	bind			:::7379
	option			tcp-check
	tcp-check		send AUTH\ {{lookup('yav', 'ver-01ewx32qeh7cpjf8pq5y7v1ky9', 'redis_testing_password')}}\r\n
	tcp-check		expect string +OK
	tcp-check		send PING\r\n
	tcp-check		expect string +PONG
	tcp-check		send info\ replication\r\n
	tcp-check		expect string role:master
	tcp-check		send QUIT\r\n
	tcp-check		expect string +OK
	server		sas-1	sas-joljy8l75wxw6l4t.db.yandex.net:6379 check inter 1s
	server		vla-1	vla-zldhysrmb1t2wodf.db.yandex.net:6379	check inter 1s
