{
    "attributes": {
        "next_free_object_id": "29"
    },
    "objects": {
        "1": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "7",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.74, 55.85 ], [ 37.76, 55.85 ] ],
                "type": "LineString"
            }
        },
        "2": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "6",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.74, 55.85 ], [ 37.76, 55.85 ] ],
                "type": "LineString"
            }
        },
        "3": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "7",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.75, 55.85 ], [ 37.77, 55.85 ] ],
                "type": "LineString"
            }
        },
        "4": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "6",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.75, 55.85 ], [ 37.77, 55.85 ] ],
                "type": "LineString"
            }
        },
        "5": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "7",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:srv_uc": "1",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.74, 55.85 ], [ 37.76, 55.85 ] ],
                "type": "LineString"
            }
        },
        "6": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "6",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:srv_uc": "1",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.74, 55.85 ], [ 37.76, 55.85 ] ],
                "type": "LineString"
            }
        },
        "7": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "7",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:srv_uc": "1",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.75, 55.85 ], [ 37.77, 55.85 ] ],
                "type": "LineString"
            }
        },
        "8": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "6",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:srv_uc": "1",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.75, 55.85 ], [ 37.77, 55.85 ] ],
                "type": "LineString"
            }
        },
        "9": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "7",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:srv_uc": "1",
                "rd_el:srv_uc_open_at": "FAR_DATE",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.74, 55.85 ], [ 37.76, 55.85 ] ],
                "type": "LineString"
            }
        },
        "10": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "6",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:srv_uc": "1",
                "rd_el:srv_uc_open_at": "FAR_DATE",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.74, 55.85 ], [ 37.76, 55.85 ] ],
                "type": "LineString"
            }
        },
        "11": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "7",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:srv_uc": "1",
                "rd_el:srv_uc_open_at": "FAR_DATE",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.75, 55.85 ], [ 37.77, 55.85 ] ],
                "type": "LineString"
            }
        },
        "12": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "6",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:srv_uc": "1",
                "rd_el:srv_uc_open_at": "FAR_DATE",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.75, 55.85 ], [ 37.77, 55.85 ] ],
                "type": "LineString"
            }
        },
        "13": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "7",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:srv_uc": "1",
                "rd_el:srv_uc_open_at": "WARN_DATE",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.74, 55.85 ], [ 37.76, 55.85 ] ],
                "type": "LineString"
            }
        },
        "14": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "6",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:srv_uc": "1",
                "rd_el:srv_uc_open_at": "WARN_DATE",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.74, 55.85 ], [ 37.76, 55.85 ] ],
                "type": "LineString"
            }
        },
        "15": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "7",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:srv_uc": "1",
                "rd_el:srv_uc_open_at": "WARN_DATE",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.75, 55.85 ], [ 37.77, 55.85 ] ],
                "type": "LineString"
            }
        },
        "16": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "6",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:srv_uc": "1",
                "rd_el:srv_uc_open_at": "WARN_DATE",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.75, 55.85 ], [ 37.77, 55.85 ] ],
                "type": "LineString"
            }
        },
        "17": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "7",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:srv_uc": "1",
                "rd_el:srv_uc_open_at": "CRIT_DATE",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.74, 55.85 ], [ 37.76, 55.85 ] ],
                "type": "LineString"
            }
        },
        "18": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "6",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:srv_uc": "1",
                "rd_el:srv_uc_open_at": "CRIT_DATE",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.74, 55.85 ], [ 37.76, 55.85 ] ],
                "type": "LineString"
            }
        },
        "19": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "7",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:srv_uc": "1",
                "rd_el:srv_uc_open_at": "CRIT_DATE",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.75, 55.85 ], [ 37.77, 55.85 ] ],
                "type": "LineString"
            }
        },
        "20": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "6",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:srv_uc": "1",
                "rd_el:srv_uc_open_at": "CRIT_DATE",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.75, 55.85 ], [ 37.77, 55.85 ] ],
                "type": "LineString"
            }
        },
        "21": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "7",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:srv_uc": "1",
                "rd_el:srv_uc_open_at": "PAST_DATE",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.74, 55.85 ], [ 37.76, 55.85 ] ],
                "type": "LineString"
            }
        },
        "22": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "6",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:srv_uc": "1",
                "rd_el:srv_uc_open_at": "PAST_DATE",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.74, 55.85 ], [ 37.76, 55.85 ] ],
                "type": "LineString"
            }
        },
        "23": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "7",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:srv_uc": "1",
                "rd_el:srv_uc_open_at": "PAST_DATE",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.75, 55.85 ], [ 37.77, 55.85 ] ],
                "type": "LineString"
            }
        },
        "24": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "6",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:srv_uc": "1",
                "rd_el:srv_uc_open_at": "PAST_DATE",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.75, 55.85 ], [ 37.77, 55.85 ] ],
                "type": "LineString"
            }
        },
        "25": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "7",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.75, 55.85 ], [ 37.75, 55.85 ] ],
                "type": "LineString"
            }
        },
        "26": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "4",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.75, 55.85 ], [ 37.75, 55.85 ] ],
                "type": "LineString"
            }
        },
        "27": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "7",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:srv_uc": "1",
                "rd_el:srv_uc_open_at": "CRIT_DATE",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.75, 55.85 ], [ 37.75, 55.85 ] ],
                "type": "LineString"
            }
        },
        "28": {
            "attributes": {
                "cat:rd_el": "1",
                "rd_el:access_id": "15",
                "rd_el:f_zlev": "0",
                "rd_el:fc": "4",
                "rd_el:fow": "0",
                "rd_el:oneway": "B",
                "rd_el:paved": "1",
                "rd_el:srv_uc": "1",
                "rd_el:srv_uc_open_at": "CRIT_DATE",
                "rd_el:speed_cat": "73",
                "rd_el:struct_type": "0",
                "rd_el:t_zlev": "0"
            },
            "geometry": {
                "coordinates": [ [ 37.75, 55.85 ], [ 37.75, 55.85 ] ],
                "type": "LineString"
            }
        }
    }
}
