{
 "acl": {
  "enabled": true,
  "default_policy": "deny",
  "tokens": {
   "agent": "{{lookup('yav', 'ver-01ekfxd5qs9r4bv962bg78pecm', 'consul_agent_token')}}",
   "default": "{{lookup('yav', 'ver-01ekfxd5qs9r4bv962bg78pecm', 'consul_default_token')}}"
  }
 },
 "primary_datacenter": "common",
 "bind_addr": "{{ ansible_default_ipv6.address }}",
 "bootstrap": false,
 "client_addr": "::",
 "data_dir": "/opt/consul",
 "datacenter": {% if dc == "vla" %}"vla"{% elif dc == "myt" %}"myt"{% else %}"sas"{% endif %},
 "disable_anonymous_signature": true,
 "disable_host_node_id": true,
 "disable_remote_exec": true,
 "disable_update_check": true,
 "encrypt": "h7C7w2s6+bylsT5HLkNngA==",
 "log_level": "TRACE",
 "node_name": "{{ ansible_nodename }}",
{% if inventory_hostname in groups['vertis_vtest_nomad'] %}
 "node_id": "{{ inventory_hostname | to_uuid }}",
{% endif %}
 "enable_local_script_checks": true,
 "enable_debug": true,
 "limits": {
  "http_max_conns_per_client": 5000,
  "rpc_max_conns_per_client": 1500
 },
 "performance": {
  "raft_multiplier": 1
 },
 "raft_protocol": 3,
 "reconnect_timeout": "8h",
 "server": false,
 "start_join": [
{% if dc == "vla" %}
  "consul-01-vla.test.vertis.yandex.net",
  "consul-02-vla.test.vertis.yandex.net",
  "consul-03-vla.test.vertis.yandex.net"
{% elif dc == "myt" %}
  "consul-01-myt.test.vertis.yandex.net",
  "consul-02-myt.test.vertis.yandex.net",
  "consul-03-myt.test.vertis.yandex.net"
{% else %}
  "consul-01-sas.test.vertis.yandex.net",
  "consul-02-sas.test.vertis.yandex.net",
  "consul-03-sas.test.vertis.yandex.net"
{% endif %}
 ],
 "telemetry": {
  "disable_hostname": true,
  "prometheus_retention_time": "24h"
 },
 "ui": false
}
