{
 "acl": {
  "enabled": true,
  "default_policy": "deny",
  "tokens": {
   "default": "{{lookup('yav', 'ver-01ekfxd5qs9r4bv962bg78pecm', 'consul_default_token')}}",
   "agent": "{{lookup('yav', 'ver-01ekfxd5qs9r4bv962bg78pecm', 'consul_agent_token')}}",
   "replication": "{{lookup('yav', 'ver-01ekfxd5qs9r4bv962bg78pecm', 'consul_replication_token')}}",
   "master": "{{lookup('yav', 'ver-01ekfxd5qs9r4bv962bg78pecm', 'consul_master_token')}}"
  }
 },
 "primary_datacenter": "common",
 "bind_addr": "{{ ansible_default_ipv6.address }}",
 "bootstrap": false,
 "client_addr": "::",
 "data_dir": "/opt/consul",
 "datacenter": "common",
 "disable_anonymous_signature": true,
 "disable_host_node_id": true,
 "node_id": "{{ inventory_hostname | to_uuid }}",
 "disable_remote_exec": true,
 "disable_update_check": true,
 "encrypt": "h7C7w2s6+bylsT5HLkNngA==",
 "log_level": "TRACE",
 "node_name": "{{ ansible_nodename }}",
 "enable_local_script_checks": true,
 "enable_debug": true,
 "limits": {
  "http_max_conns_per_client": 5000,
  "rpc_max_conns_per_client": 1500
 },
 "performance": {
  "raft_multiplier": 1
 },
 "raft_protocol": 3,
 "reconnect_timeout": "8h",
 "server": true,
 "start_join": [
  "consul-common-01-vla.test.vertis.yandex.net",
  "consul-common-02-vla.test.vertis.yandex.net",
  "consul-common-03-vla.test.vertis.yandex.net",
  "consul-common-01-sas.test.vertis.yandex.net",
  "consul-common-02-sas.test.vertis.yandex.net",
  "consul-common-03-sas.test.vertis.yandex.net",
  "consul-common-01-myt.test.vertis.yandex.net",
  "consul-common-02-myt.test.vertis.yandex.net",
  "consul-common-03-myt.test.vertis.yandex.net"
 ],
 "start_join_wan": [
  "consul-common-01-vla.test.vertis.yandex.net",
  "consul-common-02-vla.test.vertis.yandex.net",
  "consul-common-03-vla.test.vertis.yandex.net",
  "consul-common-01-sas.test.vertis.yandex.net",
  "consul-common-02-sas.test.vertis.yandex.net",
  "consul-common-03-sas.test.vertis.yandex.net",
  "consul-common-01-myt.test.vertis.yandex.net",
  "consul-common-02-myt.test.vertis.yandex.net",
  "consul-common-03-myt.test.vertis.yandex.net"
 ],
 "telemetry": {
  "disable_hostname": true,
  "prometheus_retention_time": "24h"
 },
 "ui": true
}
