#server
name = "{{ ansible_nodename }}"
bind_addr = "::"
datacenter = "{{ dc }}"
data_dir = "/var/lib/nomad"
disable_update_check = "true"
log_level = "DEBUG"

acl {
  enabled = true
}

server {
  eval_gc_threshold = "48h"
  encrypt = "VAehKTgEGowP+BjvBcGDfg=="
  deployment_gc_threshold = "48h"
  enabled = "true"
  bootstrap_expect = "2"
  job_gc_threshold = "48h"
  heartbeat_grace = "30s"
  min_heartbeat_ttl = "30s"
  max_heartbeats_per_second = 100.0
  raft_protocol = "3"
}

limits {
  http_max_conns_per_client = "3000"
}

advertise {
  serf = "{{ ansible_default_ipv6.address }}"
  rpc = "{{ ansible_default_ipv6.address }}"
  http = "{{ ansible_default_ipv6.address }}"
}

telemetry {
  prometheus_metrics = "true"
  publish_allocation_metrics = "true"
  publish_node_metrics = "true"
}

consul {
  address = "localhost:8500"
  token = "{{lookup('yav', 'sec-01dwcdyn73m5ap1yc6tj443ayg', 'nomad_servers_consul_token')}}"
}
