{
  "service": {
    "name": "nomad-api",
    "address": "{{ ansible_default_ipv6.address }}",
    "port": 4646,
    "tags": ["domain-nomad-api-int.vrts-slb.test.vertis.yandex.net"],
    "enable_tag_override": false,
    "checks": [
      {
        "id": "nomad-api",
        "name": "nomad-api",
        "args": [ "bash", "-c", "curl -s 'http://127.0.0.1:4646/v1/agent/self' | jq -r .stats.nomad.leader | grep -q 'true'" ],
        "interval": "30s",
        "timeout": "10s"
      }
    ]
  }
}
