<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="ReceiverApp" type="Application" factoryName="Application">
    <envs>
      <env name="GRPC_PORT" value="8080" />
      <env name="OPS_PORT" value="8081" />
      <env name="VASGEN_DOMAIN" value="general" />
      <env name="SENTRY_DSN" value="${sec-01ehskc4qcr8e82r6ykgk9pkqt:ver-01ehskc4qtwazvpw42mdgkygd1:SENTRY_DSN}" />
      <env name="DOMAIN_CONFIG" value="2022106:general-vasgen-indexer" />
      <env name="KAFKA_BOOTSTRAP_SERVERS" value="kafka-01-man.test.vertis.yandex.net:9092,kafka-01-vla.test.vertis.yandex.net:9092,kafka-01-sas.test.vertis.yandex.net:9092" />
    </envs>
    <option name="MAIN_CLASS_NAME" value="vasgen.endpoint.ReceiverApp" />
    <module name="vasgen-receiver" />
    <option name="PROGRAM_PARAMETERS" value="-server --add-modules=jdk.incubator.foreign -XX:+UnlockExperimentalVMOptions -XX:+UseShenandoahGC -Djava.net.preferIPv6Addresses=true -Djava.net.preferIPv4Stack=false" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="vasgen.endpoint.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>