<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SaasIndexerApp" type="Application" factoryName="Application">
    <envs>
      <env name="GRPC_PORT" value="8080" />
      <env name="KAFKA_BOOTSTRAP_SERVERS" value="kafka-01-man.test.vertis.yandex.net:9092,kafka-01-myt.test.vertis.yandex.net:9092,kafka-01-sas.test.vertis.yandex.net:9092" />
      <env name="KAFKA_DOMAIN_SEARCH_TOPIC" value="general-vasgen-indexer"/>
      <env name="KAFKA_INDEXER_TOPIC" value=""/>
      <env name="KAFKA_GROUP_ID" value="0032"/>
      <env name="KAFKA_CLIENT_ID" value="saas-indexer"/>
      <env name="KAFKA_READ_TIMEOUT" value="10s"/>
      <env name="INPUT_KAFKA_BOOTSTRAP_SERVERS" value="kafka-01-man.test.vertis.yandex.net:9092,kafka-01-myt.test.vertis.yandex.net:9092,kafka-01-sas.test.vertis.yandex.net:9092" />
      <env name="INPUT_KAFKA_DOMAIN_SEARCH_TOPIC" value="general-vasgen-indexer"/>
      <env name="INPUT_KAFKA_INDEXER_TOPIC" value=""/>
      <env name="INPUT_KAFKA_GROUP_ID" value="0032"/>
      <env name="INPUT_KAFKA_CLIENT_ID" value="saas-indexer"/>
      <env name="INPUT_KAFKA_READ_TIMEOUT" value="10s"/>
      <env name="FERRYMAN_NAME" value="vertis_vasgen"/>
      <env name="FERRYMAN_TVM_ID" value="2021177"/>
      <env name="FERRYMAN_CLUSTER" value="hahn"/>
      <env name="FERRYMAN_BASE_URI" value="http://vertis-vasgen-p.ferryman.n.yandex-team.ru"/>
      <env name="FERRYMAN_NAMESPACE" value="1"/>
      <env name="WORKER_LOCKER_SHARDS" value="8"/>
      <env name="WORKER_LOCKER_WORKER_LOCK" value="/saas/worker/lock"/>
      <env name="WORKER_LOCKER_SHARD_LOCK" value="/saas/worker/shard/lock"/>
      <env name="WORKER_LOCKER_STATUS_NODE" value="/saas/worker/status"/>
      <env name="WORKER_LOCKER_PATH_PREFIX" value="//tmp/vasgen/test"/>
      <env name="CONVERTER_SERVICE" value="vasgen"/>
      <env name="CONVERTER_DOMAIN" value="g"/>
      <env name="YT_HOST" value="hahn.yt.yandex.net"/>
      <env name="YT_TOKEN" value="NO_SECRETS_IN_REPO"/>
      <env name="_DEPLOY_ZOOKEEPER_CONN_STRING" value="zk-01-vla.test.vertis.yandex.net:2181,zk-01-sas.test.vertis.yandex.net:2181,zk-01-man.test.vertis.yandex.net:2181"/>
      <env name="ZOOKEEPER_NAMESPACE" value="vasgen"/>
      <env name="ZOOKEEPER_AUTH_SCHEMA" value="digest"/>
      <env name="ZOOKEEPER_AUTH_SERVICE" value="vasgen"/>
      <env name="ZOOKEEPER_AUTH_SECRET" value="${sec-01ekx121cqy7tzxh8jh9qa6b0y:ZOOKEEPER_AUTH_SECRET_TEST}"/>
      <env name="_DEPLOY_METRICS_PORT" value="8081"/>
      <env name="_DEPLOY_G_TVM_ID" value="2022102" />
      <env name="_DEPLOY_G_TVM_SECRET" value="${sec-01efxrq8w03c46tyjaqh3q8155:client_secret}" />
      <env name="SAAS_DM_CTYPE" value="prestable"/>
      <env name="SAAS_DM_CLUSTER" value="vasgen_search_lb"/>
      <env name="LB_CLUSTER" value="vasgen_search_lb"/>
      <env name="LB_TOPIC_ID" value="saas/services/vasgen_search_lb/prestable/topics"/>
      <env name="LB_INSTALLATION" value="logbroker"/>
      <env name="LB_MAX_CONCURRENCY" value="8"/>
      <env name="TVM_DESTINATIONS" value="2001059,2002490"/>
      <env name="EPOCH_KEY_MAPPER_LOCK" value="/saas/epoch/lock"/>
      <env name="EPOCH_KEY_MAPPER_NODE" value="/saas/epoch/current"/>
      <env name="MAPPING_ATTR_TABLE" value="mapping" />
      <env name="MAPPING_FACTORS_TABLE" value="factors" />
      <env name="MAPPING_YDB_ENDPOINT" value="ydb-ru-prestable.yandex.net:2135" />
      <env name="MAPPING_YDB_DATABASE" value="/ru-prestable/home/lesser-daemon/mydb" />
      <env name="MAPPING_YDB_TABLE_PREFIX" value="/ru-prestable/home/lesser-daemon/mydb/general/" />
      <env name="RELEV_CONF_NAME" value="relev.conf-vasgen_search_lb" />
      <env name="RELEV_CONF_VERSION_CHECKING_INTERVAL" value="1m" />
      <env name="MAPPING_KEEPER_NODE" value="/saas/factors/state" />
      <env name="MAPPING_SEMAPHORE_NODE" value="/saas/factors/lock" />
    </envs>
    <output_file path="logs/saas-indexer.log"/>
    <option name="MAIN_CLASS_NAME" value="vasgen.entrypoint.SaasIndexerApp"/>
    <module name="vasgen-saas-indexer"/>
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="vasgen.entrypoint.*"/>
        <option name="ENABLED" value="true"/>
      </pattern>
    </extension>
    <method v="2" />
  </configuration>
</component>
