<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SearcherApp" type="Application" factoryName="Application">
    <envs>
      <env name="_DEPLOY_METRICS_PORT" value="8081" />
      <env name="_DEPLOY_G_TVM_ID" value="2022102" />
      <env name="_DEPLOY_G_TVM_SECRET" value="${sec-01efxrq8w03c46tyjaqh3q8155:client_secret}" />
      <env name="TVM_DESTINATIONS" value="2010902,2002490" />
      <env name="SAAS_HOST" value="saas-searchproxy-prestable.yandex.net" />
      <env name="SAAS_PORT" value="17000" />
      <env name="SAAS_SERVICE" value="vasgen_search_lb" />
      <env name="_DEPLOY_ZOOKEEPER_CONN_STRING" value="zk-01-vla.test.vertis.yandex.net:2181,zk-01-sas.test.vertis.yandex.net:2181,zk-01-man.test.vertis.yandex.net:2181" />
      <env name="ZOOKEEPER_NAMESPACE" value="vasgen" />
      <env name="ZOOKEEPER_AUTH_SCHEMA" value="digest" />
      <env name="ZOOKEEPER_AUTH_SERVICE" value="vasgen" />
      <env name="ZOOKEEPER_AUTH_SECRET" value="${sec-01ekx121cqy7tzxh8jh9qa6b0y:ZOOKEEPER_AUTH_SECRET_TEST}" />
      <env name="SAAS_TVM_ID" value="2010902" />
      <env name="SAAS_TIMEOUT" value="1s" />
      <env name="GRPC_PORT" value="8080" />
      <env name="CLASSIC_CONSOLE_LOG" value="true" />
      <env name="EPOCH_KEY_MAPPER_LOCK" value="/general/saas/epoch/lock" />
      <env name="EPOCH_KEY_MAPPER_NODE" value="/general/saas/epoch/current" />
      <env name="MAPPING_ATTR_TABLE" value="mapping" />
      <env name="MAPPING_YDB_ENDPOINT" value="ydb-ru-prestable.yandex.net:2135" />
      <env name="MAPPING_YDB_DATABASE" value="/ru-prestable/home/lesser-daemon/mydb" />
      <env name="MAPPING_YDB_TABLE_PREFIX" value="/ru-prestable/home/lesser-daemon/mydb/general/" />
    </envs>
    <option name="MAIN_CLASS_NAME" value="vasgen.entrypoint.SearcherApp" />
    <module name="vasgen-searcher" />
    <option name="VM_PARAMETERS" value="-server --add-modules=jdk.incubator.foreign -XX:+UnlockExperimentalVMOptions -XX:+UseShenandoahGC -Djava.net.preferIPv6Addresses=true -Djava.net.preferIPv4Stack=false" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="vasgen.entrypoint.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2" />
  </configuration>
</component>