/**
 * Виджет со стоимостью владения и плюсами
 * https://nda.ya.ru/t/s96N4ND63tGEG5
 *
 * @deprecated
 * Эти стили нужны для поддержки старых статей,
 * содержимое которых переехало в текстовый блок.
 *
 * Часть стилей перенесли как есть из старого css файла / репозитория,
 * другая часть добавлена для совместимости
*/
.MarkupText {
    .jrnl-content.jrnl-test-drive {
        padding: 20px 0;

        @media (--not-mobile-viewport) {
            padding: 20px 24px;
        }
    }

    .jrnl-test-drive-header-link {
        font-family: var(--gerbera-font);
        font-size: 31px;
        font-weight: 800;
        line-height: 35px;
    }

    .jrnl-test-drive-header-price {
        font-family: var(--gerbera-font);
        font-size: 21px;
        font-weight: bold;
        line-height: 25px;

        padding: 16px 0 4px;
    }

    .jrnl-test-drive-editor-choice {
        font-size: 17px;

        letter-spacing: 0;
    }

    .jrnl-test-drive-editor-rating {
        font-family: var(--gerbera-font);
        font-size: 21px;
        font-weight: bold;

        padding-top: 24px;
    }

    .jrnl-test-drive-editor-rating::after {
        content: '\2605';

        color: #ffd700;
    }

    .jrnl-test-drive-header-compare {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(332px, 1fr));

        margin-top: 10px;

        &-title {
            font-family: var(--gerbera-font);
            font-size: 16px;
            font-weight: bold;
            line-height: 25px;

            margin-block-start: 6px;
        }

        ul {
            padding: 0;

            list-style: none;

            margin-block-start: 0.5em;

            li {
                font-size: 16px;
                line-height: 24px;

                margin: 0;

                &::before {
                    display: inline-block;

                    width: 13px;
                }
            }
        }
    }

    .jrnl-test-drive-header-compare-pluses ul li::before {
        content: '+';
    }

    .jrnl-test-drive-header-compare-minuses ul li::before {
        content: '-';
    }

    .jrnl-test-drive-subtitle {
        font-family: var(--gerbera-font);
        font-size: 21px;
        font-weight: bold;
        line-height: 25px;
    }

    .jrnl-test-drive-params {
        margin-block-start: 5px;
    }

    .jrnl-test-drive-param {
        font-size: 17px;

        color: var(--mag-gray-a1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

        &-summary {
            font-family: var(--gerbera-font);
            font-size: 21px;
            font-weight: bold;
            line-height: 2.5em;

            color: var(--mag-dark);
        }

        &:last-child {
            border-bottom: none;
        }
    }

    .jrnl-test-drive-param div {
        line-height: 2.3em;

        display: inline-block;
    }

    .jrnl-test-drive-param-value {
        float: right;
    }
}
