.TestPromoPage {
    &__code {
        display: block;
    }

    &__button {
        padding: 50px;

        text-align: center;

        color: var(--white);
        background: var(--red);
    }
}
