
	.testdrive {
		font-size:12px;
		float:left;
		display:inline;
                width:760px;
	}

	.testdrive h2, .testdrive h3 {
		margin:0;
		padding:0;
	}
	.testdrive h2 {
		font-size:15px;
		padding:4px 0 10px 0;
        font-weight:bold;
	}
	.testdrive h4 {
		font-size:12px;
		margin:0 0 0 10px;
		padding:0;
	}

	.about-competition {
		border-bottom:1px solid #d0d0d0;
		padding:0 10px 15px 10px;
	}

	.current-competition {
		background:#f2f2f2;
		padding:15px 20px 1px 30px;
		margin-bottom:10px;
	}
		.testdrive .current-competition h3 {
			padding:0 0 0 30px;
			margin:0 0 0 -30px;
			background:url(../img/testdrive/i-play.gif) 12px 3px no-repeat;
			font-size:15px;
		}
			.current-competition p {
				margin-bottom:20px;
			}
	.testdrive .anons {
		position:relative;
	}
		.anons .all {
			position:absolute;
			top:-5px;
			right:10px;
		}

    .counter {
        color:#CCCCCC;
        font-style:italic;
        text-align:right;
    }

	.autoru {
		position:relative;
		height:237px;
		margin:0 0 10px 0;
	}
		.autoru .testdrive-cell {
			position:absolute;
		}
			.testdrive .testdrive-cell .wrap {
				position:absolute;
				top:0;
				left:0;
			}
				.testdrive .testdrive-cell h3 {
					width:530px;
					font-size:18px;
					font-weight:normal;
					padding:13px 15px 14px 15px;
					background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpiYGBg2AwQYAAAuAC01qHx9QAAAABJRU5ErkJggg==);
					background:rgba(0, 0, 0, 0.7);
				}
				.testdrive .testdrive-cell p {
					margin:0;
                    min-height: 50px;
                    max-height: 333px;
                    overflow: hidden;
				}
					.autoru h3 a {
						color:#fff;
					}

		.autoru #selector {
			width:560px;
			position:absolute;
			bottom:0;
		}
			#selector div {
				text-align:center;
				background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpiYGBgaAAIMAAAhQCB69VMmQAAAABJRU5ErkJggg==);
				background:rgba(0, 0, 0, 0.5);
				height:35px;
			}
				#selector img {
					position:absolute;
					top:0;
					cursor:pointer;
					padding:10px 15px;
				}
				#selector .prev {
					left:0;
				}
				#selector .next {
					right:0;
				}
				#selector input {
					margin:10px 2px 0 2px;
				}

	.myavta {
		width:100%;
	}
		.myavta p.cell {
			width:164px;
			padding:106px 10px 15px 10px;
			position:relative;
			line-height:17px;
			display:-moz-inline-box;
			display:inline-block;
			vertical-align:top;
		}
		.alt p.cell {
			padding-top:126px;
		}
			.myavta .cell em {
				color:#919191;
				font-size:11px;
				font-style:normal;
			}
			.opinions .cell em {
				font-size:12px;
			}
				.opinions em a {
					color:#919191;
				}
			.cell .date {
				position:absolute;
				top:0;
				left:10px;
			}
			.cell .comment {
				position:absolute;
				width:150px;
				top:0;
				left:140px;
				color:#919191;
				font-size:11px;
				font-weight:normal;
				text-decoration:none;
				background:url(../img/testdrive/i-comment.gif) 0 3px no-repeat;
				padding:0 0 0 15px;
			}
			.myavta .cell .border {
				border:5px solid #e7e7e7;
				position:absolute;
				top:0;
				left:0;
			}
			.opinions .cell .border {
				border-width:1px;
			}
			.alt .cell .border {
				top:20px;
			}
			.alt .cell br {
				display:none;
			}
			.alt .cell .about {
				display:block;
				color:#919191;
				font-size:11px;
			}

	.catalog-grid {
		width:100%;
		margin-bottom:20px;
	}
		.catalog-grid .grey td {
			background:#f2f2f2;
			padding:7px 20px 9px 20px;
		}
		.catalog-grid td {
			width:25%;
			padding:0px 20px 0px 20px;
		}

	.konkurs-info {
		padding:15px 10px 15px 30px;
		font:12px Arial;
		text-transform:none;
	}
		.konkurs-info br {
			line-height:5px;
			font-size:0;
		}
		.konkurs-info div {
			margin:0 0 10px -20px;
			padding-left:20px;
		}
			.konkurs-info div em {
				font-style:normal;
				font-size:11px;
				color:#919191;
			}
		.konkurs-info div.play {
			background:url(../img/testdrive/i-play.gif) left 2px no-repeat;
		}
		.konkurs-info div.pause {
			background:url(../img/testdrive/i-pause.gif) left 2px no-repeat;
		}


	.testdrives-list {
		position:static;
		height:auto;
	}
	.style-2 {
		padding-top:15px;
	}
		.testdrives-list .testdrive-cell {
			clear:both;
			position:relative;
			width:100%;
			overflow:hidden;
		}
            .testdrives-list .testdrive-cell .cite {
                float:right;
                width:180px;
                padding:10px 5px 10px 10px;
                display:inline;
                background:#fff url(../img/testdrive/bg-testdrive-anons.gif) top repeat-x;
                min-height:184px;
                font-size:13px;
                color:#5c5c5c;
            }
                .testdrive-cell .cite .quote {
                    background:url(../img/testdrive/i-quote-l.gif) 0 0 no-repeat;
					width:0;
					height:0;
                    display:inline-block;
					overflow:hidden;
					padding:9px 0 0 13px;
					//height:8px;
					//padding:5px 0 0 13px;
                }
                .testdrive-cell .cite .raquo {
                    background:url(../img/testdrive/i-quote-r.gif) 0 0 no-repeat;
                }
                .testdrive-cell .cite .quote {
                    //display:inline;
                }
			.testdrives-list .testdrive-cell .author {
				clear:both;
				background:url(../img/testdrive/bg-cite-author.gif) 15px 0 no-repeat;
				padding:10px 10px 10px 40px;
				float:right;
				width:150px;
			}
			.style-2 .testdrive-cell .author {
				float:none;
				position:absolute;
				right:0;
				bottom:0;
				background:none;
			}
				.testdrive-cell .author img {
					margin:0 10px;
					border:1px solid #e5e5e5;
					vertical-align:middle;
				}
			.testdrive-cell .links {
				width:560px;
			}
			.style-2 .links {
				width:410px;
			}
				.testdrive-cell .links p {
					float:left;
					padding:15px 0;
				}
				.testdrive-cell .links .comment {
					width:180px;
					padding:15px 0 15px 10px;
				}
					.links .comment a {
						background:url(../img/testdrive/i-comment.gif) 0 center no-repeat;
						padding:0 0 0 18px;
					}
				.testdrive-cell .links .tags {
					width:240px;
					color:#919191;
					background:url(../img/testdrive/i-tags.gif) 0 17px no-repeat;
					padding:15px 0 15px 20px;
				}
					.testdrive-cell .tags a {
						color:#919191;
						text-decoration:none;
					}
					.testdrive-cell .tags a:hover {
						text-decoration:underline;
					}
				.testdrive-cell .links .date {
					width:110px;
					color:#919191;
				}
				.style-2 .links .date {
					float:right;
				}

	ul.finished, ul.new {
		list-style:none;
		padding:0;
		margin:10px 0;
	}
		.finished li, .new li {
			padding:5px 5px 5px 10px;
			font-size:12px;
			font-weight:bold;
			text-transform:none;
		}
		.new li {
			padding-bottom:15px;
		}
			.new li em {
				color:#919191;
				font-size:11px;
				font-weight:normal;
				font-style:normal;
			}
			.finished a {
				padding:0 0 0 18px;
				background:url(../img/testdrive/i-arrows-blue.gif) 0 center no-repeat;
			}

	.future-competition {
		margin:0 0 20px 0;
	}
		.future-competition p {
			padding:0 10px 10px 30px;
			background:url(../img/testdrive/i-pause.gif) 12px 3px no-repeat;
		}
		.future-competition a {
			font-size:15px;
			font-weight:bold;
		}
		.future-competition em {
			color:#919191;
			font-style:normal;
			line-height:25px;
		}


        /*
	#comment-form {
		background:#f2f2f2;
		padding:15px 2%;
		margin:20px 0 0 0;
		width:96%;
		overflow:hidden;
		clear:both;
	}
		#comment-form h3 {
			float:left;
		}
		#comment-form .counter {
			float:right;
			color:#919191;
		}
		#comment-form .note {
			color:#919191;
		}
		#comment-form textarea {
			width:100%;
			margin:15px 0;
		}
		#comment-form .submit {
			float:right;
		}

	.avatar {
		vertical-align:middle;
		margin:0 10px;
		border:1px solid #c6c6c6;
	}

	.comments {
		width:560px;
		overflow:auto;
		padding:20px 0 0 0;
	}
		.comments .cell {
			min-width:250px;
			margin-bottom:15px;
		}
				.comments .info em {
					color:#919191;
					font-size:11px;
					font-style:normal;
					margin-left:10px;
				}
			.comments .text {
				margin:0 0 0 48px;
			}
			.comments .reply {
				margin:2px 0 0 48px;
			}
        */
	.opinion-text {
		margin:0 10px 20px 10px;
	}
	.opinion-author {
		border-bottom:1px solid #d0d0d0;
		text-align:right;
		padding:0 10px 10px 10px;
		overflow: hidden;
                margin-bottom:10px;
	}
		.opinion-author em {
			/*float:left;*/
			font-style:normal;
			color:#919191;
			margin-top:1px;
		}

	.opinion-detail {
		margin:15px 0;
	}
		.opinion-detail td {
			width:33%;
			padding:0 0 0 18px;
			vertical-align:top;
		}
			.testdrive .opinion-detail h3 {
				margin-bottom:10px;
			}
			.opinion-detail .title {
				clear:both;
				line-height:20px;
				float:left;
				width:110px;
			}

			.positiff, .negatiff {
				border-left:1px solid #d0d0d0;
			}
			.positiff ul, .negatiff ul {
				list-style:none;
				margin:0;
				padding:0;
			}
				.positiff li, .negatiff li {
					padding:0 0 15px 13px;
					background:url(../img/testdrive/i-plus.gif) 0 4px no-repeat;
				}
				.negatiff li {
					background:url(../img/testdrive/i-minus.gif) 0 8px no-repeat;
				}

	.green {
		color:#5cba3b;
	}
	.blue {
		color:#006c8a;
	}



	#votes {
		padding:15px 2% 0 2%;
		height:140px;
		border-top:1px solid #d0d0d0;
        vertical-align: middle;
	}

    #votes .left {
        width: 44%;
        float: left;
        height: 130px;
    }
		#votes h3 {
			margin: 35px 0 5px 0;
            width: 300px;
		}

    #votes .right {
        height: 130px;
        width: 55%;
        float: right;
    }

        #votes .right input[type=submit] {
            margin-top: 55px;
        }

        #votes .right .captcha {
            float: left;
        }

        #votes .right .stat {
            margin-top: 38px;
            float: left;
        }

		#votes ul {
			margin:0 20px 10px 0;
			padding:0;
            width: 100%;
			list-style:none;
			overflow:hidden;
		}
			#votes li {
				margin:0;
				padding:0;
				float:left;
				width:20%;
				text-align:center;
			}
				#votes li div {
					width:100%;
					height:25px;
					margin:0 0 5px 0;
					background:#000;
					cursor:pointer;
					position:relative;
				}
					#votes li img {
						margin-top:3px;
					}
					#votes li label {
						cursor:pointer;
					}
				#votes .v-1 {
					background: #006c8a url(../img/testdrive/bg-not-vote.png) center center no-repeat;
				}
				#votes .v-2 {
					background: #3ca4c1 url(../img/testdrive/bg-not-vote.png) center center no-repeat;
				}
				#votes .v-3 {
					background: #d7d7d7 url(../img/testdrive/bg-not-vote.png) center center no-repeat;
				}
				#votes .v-4 {
					background: #82d964 url(../img/testdrive/bg-not-vote.png) center center no-repeat;
				}
				#votes .v-5 {
					background:#5cba3b url(../img/testdrive/bg-not-vote.png) center center no-repeat;
				}
				#votes .selected {
					background-image:none;
				}
				#votes .close li div {
					background-image:none;
				}
				#votes li input {
					margin:-43px 0 0 -15px;
				}
		#votes .submit {
			float:right;
		}
		#votes .captcha {
			float:left;
		}
			#votes .captcha img {
				vertical-align:middle;
				margin-right:5px;
			}
		#votes .stat {
			float:left;
			width:150px;
			margin:0 0 0 10px;
			line-height:20px;
		}
		.stat .blue {
			background-color:#006C8A;
			color:#fff;
			display:inline-block;
			//display:inline;
			display:-moz-inline-box;
			padding:1px 5px;
		}


	.voting {
		float:left;
		width:100px;
		height:20px;
		position:relative;
		margin:0 0 10px 20px;
		padding:0;
		list-style:none;
		background:url(../img/testdrive/bg-voting.gif) 0 100% repeat-x;
	}
		.voting li {
			margin:0;
			position:absolute;
			height:20px;
			text-align:right;
			overflow:hidden;
			cursor:pointer;
		}
		.voting li.hover, .voting li.checked {
			background:url(../img/testdrive/bg-voting.gif) 0 0 repeat-x;
		}
		.close li {
			cursor:default;
		}
		.voting .one {
			width:20px;
			z-index:5;
		}
		.voting .two {
			width:40px;
			z-index:4;
		}
		.voting .three {
			width:60px;
			z-index:3;
		}
		.voting .four {
			width:80px;
			z-index:2;
		}
		.voting .five {
			width:100px;
			z-index:1;
		}
		.voting input {
			width:20px;
			height:20px;
			margin-top:-40px;
		}

	.testdrive-intro {
		position:relative;
		padding:50px 0 0 0;
		margin:-60px 0 0 0;
	}
    .nomargin {
        padding:0;
        margin:0;
    }
	    .nomargin p.cite {
	        margin:0;
	    }
		.testdrive-intro .author {
			position:absolute;
			width:150px;
			padding:12px 0 12px 25px;
			background:url(../img/testdrive/bg-cite-author-top.gif) left bottom no-repeat;
			top:0;
			right:10px;
		}
			.testdrive-intro .author img {
				margin:0 10px;
				border:1px solid #e5e5e5;
				vertical-align:middle;
			}
		.testdrive-intro .cite {
			float:right;
			width:180px;
			padding:10px 5px 10px 10px;
			display:inline;
			background:#fff url(../img/testdrive/bg-testdrive-anons.gif) top repeat-x;
			min-height:184px;
			font-size:13px;
			color:#5c5c5c;
		}
			.testdrive-intro .quote {
				background:url(../img/testdrive/i-quote-l.gif) 0 0 no-repeat;
				width:0;
				height:0;
				display:inline-block;
				overflow:hidden;
				padding:9px 0 0 13px;
				//height:8px;
				//padding:5px 0 0 13px;
			}
			.testdrive-intro .raquo {
				background:url(../img/testdrive/i-quote-r.gif) 0 0 no-repeat;
			}
			.testdrive-intro.quote {
				//display:inline;
			}

	.testdriver {
		width:100%;
		overflow:hidden;
		padding:20px 0;
	}
		.testdrive .testdriver h4 {
			font-size:18px;
			font-weight:normal;
			font-style:italic;
			margin:0 0 0 150px;
			padding:0;
		}
		.testdriver img {
			margin:0 20px 0 17px;
			border:1px solid #c6c6c6;
		}
		.testdriver .short {
			color:#919191;
			margin:0 0 10px 150px;
		}
		.testdriver .arrow {
			background:url(../img/testdrive/bg-cite-author-left.gif) 0px 10px no-repeat;
			padding:0 0 0 28px;
			margin:0 0 0 110px;
			position:relative;
		}
			.testdriver .anons {
				background:#f0f0f0;
				padding:15px;
				margin:0 0 0 0;
			}

	.testdrive-text {
		margin:0 10px 20px 10px;
	}
	.testdrive-info {
		margin:0 10px 20px 10px;
		color:#919191;
	}
		.testdrive-info .tags {
			width:615px;
			background:url(../img/testdrive/i-tags.gif) 0 2px no-repeat;
			padding:0 0 0 20px;
		}
			.testdrive-info a {
				color:#919191;
				text-decoration:none;
			}
			.testdrive-info a:hover {
				text-decoration:underline;
			}
		.testdrive-info .date {
			width:110px;
			float:right;
			text-align:right;
		}


	.player-photos {
		background:#f4f4f4;
		padding:5px;
		margin-bottom:20px;
		width:765px;
		overflow:hidden;
	}

		.thumbs {
			float:right;
			width:250px;
			margin:5px 0 0 0;
			overflow:hidden;
		}
		-,.thumbs {
			margin:5px 0 5px 0;
		}
			.thumbs ul {
				list-style:none;
				margin:0;
				padding:0;
			}
				.thumbs li {
					width:120px;
					height:80px;
					margin:0 5px 5px 0;
					_margin-bottom:2px;
					padding:0;
					float:left;
					position:relative;
				}
				.thumbs img.selected {
					position:absolute;
					top:5px;
					left:5px;
					width:120px;
					background:url(../img/testdrive/bg-selected-photo-2.png) no-repeat;
					-background:url(../img/testdrive/bg-selected-photo.gif) no-repeat;
					-filter: alpha(opacity=60);
				}
			.thumbs .prev-photo, .thumbs .next-photo {
				position:absolute;
				width:12px;
				height:100%;
				top:0;
				left:0;
				text-indent:-100000px;
				background: #f2f2f2 url(../img/testdrive/i-arrow-left-s.gif) center center no-repeat;
				cursor:pointer;
			}
			.thumbs .next-photo {
				right:0;
				left:auto;
				background-image:url(../img/testdrive/i-arrow-right-s.gif);
			}

		.zoomer {
			width:500px;
			min-height:335px;
			_height:335px;
			position:relative;
			margin:5px 0 0 5px;
			padding:0;
			text-align:center;
			float:left;
			background:#fff url(../img/testdrive/bg-loading.gif) center center no-repeat;
		}
			.zoomer img {
				cursor:pointer;
				width:500px;
			}
			.zoomer .photo-comment {
				width:500px;
				text-align:left;
				font-size:11px;
				margin:15px auto 0 auto;
			}

	.testdrive .opinion-list {
		padding:0 0;
		margin:0;
		list-style:none;
	}
		.testdrive .opinion-list li {
			padding:15px 60px 15px 20px;
			margin:0;
			position:relative;
			line-height:18px;
		}
		.opinion-list .grey {
			background:#f2f2f2;
		}
			.opinion-list .name {
				font-size:13px;
				font-weight:bold;
			}
			.opinion-list .comments {
				width:auto;
				position:absolute;
				top:23px;
				right:20px;
				background:url(../img/testdrive/i-comment.gif) 0 3px no-repeat;
				padding:0 0 0 15px;
				font-weight:bold;
			}
			.opinion-list em, .opinion-list em a {
				font-style:normal;
				color:#919191;
			}

	#opinions {
		width:100%;
		overflow:hidden;
		padding:10px 0 0 0;
	}
		#opinions h3 {
			font-size:15px;
			margin:0 0 10px 0;
		}
		#opinions img {
			vertical-align:middle;
		}
		#opinions #new {
			float:left;
			width:545px;
			padding:0 0 20px 10px;
		}
			#opinions #new ul {
				list-style:none;
				margin:0 0 0 -14px;
				padding:0;
			}
				#opinions #new li {
					width:120px;
					margin:0 0 15px 14px;
					display:inline-block;
					//display:inline;
					//zoom:1;
					vertical-align:top;
				}
					#opinions #new img {
						margin:0 0 10px 0;
					}
					#opinions #new a {
						font-weight:bold;
					}
					#opinions #new span {
						font-size:11px;
						color:#919191;
					}
						#opinions #new span a {
							color:#919191;
							font-weight:normal;
						}

		#opinions #search {
			float:right;
			width:210px;
			margin-bottom:20px;
		}
			#opinions #search h3 {
				margin-left:10px;
			}
			#opinions #search form {
				padding:10px;
				background:#f2f2f2;
			}
				#opinions #search label {
					color:#666;
					font-size:11px;
				}
				#opinions #search select {
					width:100%;
					margin:0 0 15px 0;
				}
			#opinions #search p {
				line-height:30px;
			}
				#opinions #search img {
					margin:0 10px;
				}

	.mega-tabs {
		clear:both;
		width:100%;
		overflow:hidden;
		background:url(../img/testdrive/bg-mega-tabs-underline.gif) top repeat-x;
		padding:0;
	}
		.mega-tabs .tab-link {
			float:left;
			cursor:pointer;
			margin:0 0 0 6px;
		}
			.mega-tabs .tab-link h4, .testdrive .tab-link h4 {
				font-size:12px;
				font-weight:normal;
				margin:0;
				padding:10px 10px 10px 10px;
			}
				.mega-tabs .tab-link .link {
					color:#006c8a;
					border-bottom:1px dashed #006c8a;
					text-decoration: none;
				}
				.mega-tabs .tab-link .grey {
					color:#919191;
				}
		.mega-tabs div.selected {
			background:url(../img/testdrive/bg-mega-tabs-selected.png) right top no-repeat;
			padding-right:37px;
		}
			.mega-tabs .selected h4, .testdrive .selected h4 {
				background:url(../img/testdrive/bg-mega-tabs-selected.png) left top no-repeat;
				padding-right:0;
				font-size:15px;
				font-weight:bold;
				cursor:default;
			}
				.mega-tabs .selected .link {
					color:#000;
					border-bottom:none;
				}
		.mega-tabs .tab-block {
			display:none;
			float:right;
			width:100%;
			margin:30px 0 0 -100%;
			padding:10px 0;
		}

    .op-count {
        font-size:12px;
        font-weight:normal;
    }

	.letter-list {
		width:96%;
		overflow:hidden;
		padding:10px 2% 0 2%;
	}
		.letter-list dl {
			width:180px;
			float:left;
			margin:0;
			padding:0;
			font-size:15px;
		}
			.letter-list dt {
				float:left;
				width:25px;
				text-align:right;
				margin-right:15px;
				clear:both;
				font-weight:bold;
				display:inline;
			}
			.letter-list dd {
				float:left;
				margin:0;
				padding:0;
				width:140px;
			}
				.letter-list ul {
					width:100%;
					list-style:none;
					margin:0;
					padding:0 0 15px 0;
				}
					.letter-list li {
						margin:0 0 15px 0;
						padding:0;
					}
					.letter-list .grey, .category-list .grey, .simple-list .grey {
						color:#999999;
						font-size:12px;
					}
					.letter-list .green, .category-list .green, .simple-list .green {
						color:#5cba3b;
						font-size:12px;
					}

	.category-list {
		width:100%;
		overflow:hidden;
	}
		.category-list * {
			margin:0;
			padding:0;
		}
			.category-list dt {
				width:165px;
				clear:both;
				padding:20px;
				font-size:15px;
				font-weight:bold;
			}
			.category-list dd {
				width:570px;
				overflow:hidden;
				padding:0 0 0 205px;
				margin:-35px 0 0 0;
				background:url(../img/testdrive/bg-mega-tabs-underline.gif) bottom repeat-x;
			}
				.category-list ul {
					float:left;
					width:33%;
					list-style:none;
				}
					.category-list li {
						margin:0 0 20px 0;
						font-size:15px;
					}

	.simple-list {
		border:1px solid #d1d1d1;
		padding:15px 15px 0 15px;
		margin:10px 0 20px 0;
	}
		.simple-list .arrow {
			width:100%;
			top:-29px;
			padding-top:19px;
			position:relative;
			overflow:hidden;
			background:url(../img/testdrive/bg-arrow-top.gif) 0 0 no-repeat;
		}
		.simple-list ul {
			float:left;
			width:24.99%;
			list-style:none;
			margin:0;
			padding:0;
		}
			.simple-list li {
				margin:15px 0 0 0px;
				padding:0;
				font-size:15px;
			}

	.strange-list {
		margin:0 0 20px 0;
	}
		.testdrive .strange-list h3 {
			margin:0 0 0 15px;
		}
		.strange-list .row {
			padding:15px 0;
			width:100%;
			overflow:hidden;
			display:block;
		}
		.strange-list .grey {
			background:#f2f2f2;
		}
			.strange-list .author, .strange-list .rating, .strange-list .author a {
				color:#919191;
				font-size:11px;
			}
			.strange-list .left {
				float:left;
				width:77%;
				line-height:18px;
			}
				.strange-list .left img {
					float:left;
					margin:0 15px;
				}
			.strange-list .right {
				float:right;
				width:130px;
				margin:0 20px;
				line-height:18px;
			}

	.subcategory-list {
		width:100%;
		overflow:hidden;
		border-bottom:1px solid #d1d1d1;
		padding:5px 0 10px 0;
	}
		.subcategory-list h6 {
			float:left;
			width:120px;
			padding:5px 15px 10px 15px;
			margin:0;
			font-size:12px;
			font-weight:normal;
		}
		.subcategory-list ul {
			width:620px;
			float:left;
			overflow:hidden;
			margin:0;
			padding:0;
			list-style:none;
		}
			.subcategory-list li {
				width:127px;
				display:-moz-inline-box;
				display:inline-block;
				vertical-align:top;
				min-height:40px;
				_height:40px;
				margin:0 5px 5px 0;
				padding:5px 10px 0px 10px;
			}
			.subcategory-list li {
				//display:inline;
			}
				.subcategory-list a {
					text-decoration:none;
					border-bottom:1px dashed #006c8a;
				}
				.subcategory-list .grey {
					display:block;
					margin:4px 0 0 0;
					color:#919191;
					font-size:11px;
				}
			.subcategory-list li.selected {
				background:#f2f2f2;
			}
				.subcategory-list .selected a {
					font-weight:bold;
					border-bottom:none;
					color:#000;
				}
#search {
    margin-bottom:20px;
    width:100%;
    float:left;
}
    #search h3 {
        display:inline-block;
        /*vertical-align:middle;*/
        margin:0 10px 0 0;
        font-size: 15px;
        font-weight:bold;
    }
    #search form {
        padding:10px;
        background:#f2f2f2;
    }
    #search label {
        color:#666;
        font-size:11px;
    }
    #search select {
        width:180px;
        margin:0 10px 0 0;
        display:inline-block;
    }
    #search p {
        line-height:30px;
    }
    #search img {
        margin:0 10px;
    }
    #search-button {
        width:70px;
        vertical-align: baseline;
    }