html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}img,input{vertical-align:middle}
body{font-size:100%;line-height:1.25em;font-family:Helvetica, Arial, Verdana;background:#fff}h1,h2,h3,h4{margin:0 0 20px}h5,h6{margin:0}h1{font-size:20px}h2{font-size:18px}h4{font-size:14px;font-weight:400}h6{font-size:12px}a{color:#006c8a}a:hover{text-decoration:none}small{font-size:11px;line-height:13px}h3,big{font-size:16px}h5,li,label,span,td,th,p{font-size:13px}

.clearfix {
    zoom: 1
}
.clearfix:after {
    content: ' ';
    clear:both;
    display: block;
    width: 0; height: 0;
    overflow: hidden;
    font-size: 0;
}
.dashed, a.dashed {
    color:#006C8A;
    cursor:pointer;
    text-decoration:none;
    background:url(../img/bg-dashed-blue.gif) bottom repeat-x;
    line-height:17px;
    border:none;
}
.hide {
    display:none;
}

body {
    background:url(http://i.auto.ru/wwwboards/img/auto_bk.jpg) center center;
}
#container {
    width:810px;
    margin:20px auto;
    padding:20px 35px;
    background:#fff;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    -webkit-box-shadow:0 1px 30px #333;
    -moz-box-shadow:0 1px 30px #333;
    box-shadow:0 1px 30px #333;
}
    #header {
        background:url(../img/bg-header.gif) bottom repeat-x;
        margin:0 -35px;
        padding:15px 35px 5px 35px;
    }
    #header h1 {
        float:left;
        width:275px;
        margin:80px 0;
        color:#730a0a;
        text-transform:lowercase;
        font-style:italic;
        font-size:24px;
    }
    #header h2 {
        font-size:24px;
    }
    #header p {
        margin-bottom:15px;
    }
    #header h2, #header p {
        float:right;
        width:530px;
    }

    #form {
        margin-top:20px;
    }
        #form dt {
            float:left;
            width:255px;
            clear:both;
            font-size:16px;
            padding:0 20px 0 0;
        }
        #form dd {
            border-bottom:1px solid #e7e7e7;
            margin-bottom:20px;
            padding:0 0 20px 275px;
        }
            .conf-name {
                margin-bottom:7px;
                width:100%;
                overflow:hidden;
            }
                .conf-name .dashed {
                    font-weight:bold;
                }
            .col {
                width:45%;
                margin:5px 0 5px 3%;
                float:left;
                display:none;
            }
            .cheched .col {
                display:block;
            }
                .col li {
                    font-size:12px;
                }
                .conf-name sup {
                    color:#919191;
                    font-weight:bold;
                    margin:0 0 0 10px;
                }
                .conf-name.cheched sup {
                    display:none;
                }
            .text, textarea {
                width:480px;
            }
            .radio {
                margin:0 4px 3px 0;
                //margin-bottom:1px;
            }
            .submit {
                width:150px;
                height:35px;
                margin-left:275px;
            }
            .send-button {
                width:200px;
                height:35px;
                margin-left:20px;
            }
            .reason {
                margin:5px 0 0 20px;
            }
                .reason textarea {
                    margin:3px 0 0 0;
                    width:460px;
                }

    .message {
        text-align:center;
        margin:80px 0;
        padding:60px 0 0 0;
        background:url(../img/p-succesful.gif) center 0 no-repeat;
    }
        .message h3 {
            font-size:16px;
            margin:0;
        }
        .message p {
            margin-bottom:15px;
        }
.errors {
	color: red;
