.testdrives {
	padding-bottom:18px;
}
	.testdrive {
		margin-bottom:20px;
		overflow:hidden;
	}
		.testdrive-r {
			width:100%;
			float:left;
		}
			.testdrive-r-w {
				margin-left:175px;
			}
				.testdrive-title {
					font-size:18px;
					font-weight:normal;
					margin-right:7px;
					margin-bottom:3px;
				}
				.testdrive-anons {
					font-size:14px;
					line-height:18px;
				}
				.testdrive-info {
					font-size:12px;
					margin-bottom:4px;
				}
				.testdrive-info,
				.testdrive-info a {
					color:#808080;
				}
		.testdrive-pic {
			float:left;
			width:175px;
			margin-left:-100%;
			padding-top:5px;
		}