{
    "memcache": [
        {"host": "127.0.0.1", "port": 1200, "reconnect_limit": 2}
    ],

    "memcache-nodejs": [
        {"host": "127.0.0.1", "port": 11211, "reconnect_limit": 2}
    ],

    "membase": {
        "main":     {"host": "couchbase-testing01.query.consul", "port": 11210, "reconnect_limit": 2},
        "boards":   {"host": "couchbase-testing01.query.consul", "port": 11210, "reconnect_limit": 2},
        "sessions": {"host": "couchbase-testing01.query.consul", "port": 11411, "reconnect_limit": 2}
    },

    "db": {
        "auth_users": {
            "autoru-octopus":   {"username" : "autoru-octopus", "password" : "KiX1euph"},
            "autoru-poffer":    {"username" : "autoru-poffer",  "password" : "KiX1euph"},
            "autoru-cabinet":   {"username" : "autoru-cabinet", "password" : "KiX1euph"},
            "autoru-lib5":      {"username" : "autoru-lib5",    "password" : "KiX1euph"},
            "autoru-cron":      {"username" : "autoru-cron",    "password" : "KiX1euph"}
        },
        "write": {
            "main":                     {"host": "mdb-rw-mdbtsj5h5n2mn34nln1f.query.consul", "port": 3306, "username": "auto", "password": "KiX1euph"},
            "sales":                    {"host": "mdb-rw-mdbitrm8g46l8kv3q7as.query.consul", "port": 3306, "username": "auto", "password": "KiX1euph"},
            "misc-board-moderation":    {"host": "mdb-rw-mdb9nvh55qak9onrig33.query.consul", "port": 3306, "username": "auto", "password": "KiX1euph"},
            "security":                 {"host": "mdb-rw-mdb1i56vka0d2gjf1fee.query.consul", "port": 3306, "username": "auto", "password": "KiX1euph"},
            "logs":                     {"host": "mdb-rw-mdb8ghka3l9pvea8elik.query.consul", "port": 3306, "username": "auto", "password": "KiX1euph"},
            "archive":                  {"host": "mysql-rw-archive-devtest.query.consul", "port": 3312, "username": "auto", "password": "KiX1euph"},
            "billing":                  {"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313, "username": "auto", "password": "KiX1euph"},
            "complaints":               {"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313, "username": "complaints", "password": "c7f2bd22cfe39ee"},
            "hobo":                     {"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313, "username": "hobo", "password": "59164de5914693420"},
            "vos":                      {"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313, "username": "vos", "password": "d9c7820cd20e71d"},
            "vs_moderation":            {"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313, "username": "vs_moderation", "password": "aa03ff6ba9c1c9433"},
            "promocoder":               {"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313, "username": "promocoder", "password": "76f964700f6be23f"}
        },
        "read": {
            "main":                     {"host": "mdb-rw-mdbtsj5h5n2mn34nln1f.query.consul", "port": 3306, "username": "auto", "password": "KiX1euph"},
            "sales":                    {"host": "mdb-ro-mdbitrm8g46l8kv3q7as.query.consul", "port": 3306, "username": "auto", "password": "KiX1euph"},
            "misc-board-moderation":    {"host": "mdb-ro-mdb9nvh55qak9onrig33.query.consul", "port": 3306, "username": "auto", "password": "KiX1euph"},
            "security":                 {"host": "mdb-rw-mdb1i56vka0d2gjf1fee.query.consul", "port": 3306, "username": "auto", "password": "KiX1euph"},
            "logs":                     {"host": "mdb-ro-mdb8ghka3l9pvea8elik.query.consul", "port": 3306, "username": "auto", "password": "KiX1euph"},
            "archive":                  {"host": "mysql-rw-archive-devtest.query.consul", "port": 3312, "username": "auto", "password": "KiX1euph"},
            "billing":                  {"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313, "username": "auto", "password": "KiX1euph"},
            "complaints":               {"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313, "username": "complaints", "password": "c7f2bd22cfe39ee"},
            "hobo":                     {"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313, "username": "hobo", "password": "59164de5914693420"},
            "vos":                      {"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313, "username": "vos", "password": "d9c7820cd20e71d"},
            "vs_moderation":            {"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313, "username": "vs_moderation", "password": "aa03ff6ba9c1c9433"},
            "promocoder":               {"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313, "username": "promocoder", "password": "76f964700f6be23f"}
        },
        "auth": {"username" : "auto", "password" : "KiX1euph"},
        "instances" : {
            "master":           {"host": "mdb-rw-mdbtsj5h5n2mn34nln1f.query.consul", "port": 3306},
            "master-dub":       {"host": "mdb-rw-mdbtsj5h5n2mn34nln1f.query.consul", "port": 3306},
            "poi-cache":        {"host": "mdb-rw-mdbtsj5h5n2mn34nln1f.query.consul", "port": 3306},
            "users":            {"host": "mdb-rw-mdbtsj5h5n2mn34nln1f.query.consul", "port": 3306},
            "moto":             {"host": "mdb-rw-mdbtsj5h5n2mn34nln1f.query.consul", "port": 3306},
            "slave":            {"host": "mdb-rw-mdbtsj5h5n2mn34nln1f.query.consul", "port": 3306},
            "dbsearch":         {"host": "mdb-rw-mdbtsj5h5n2mn34nln1f.query.consul", "port": 3306},
            "search_sphinx":    {"host": "mdb-rw-mdbtsj5h5n2mn34nln1f.query.consul", "port": 3306},
            "stat":             {"host": "mdb-rw-mdbtsj5h5n2mn34nln1f.query.consul", "port": 3306},

            "master-all":       {"host": "mdb-rw-mdbitrm8g46l8kv3q7as.query.consul", "port": 3306},
            "slave-all":        {"host": "mdb-ro-mdbitrm8g46l8kv3q7as.query.consul", "port": 3306},

            "dboard-master":    {"host": "mdb-rw-mdb9nvh55qak9onrig33.query.consul", "port": 3306},
            "moderation-master":{"host": "mdb-rw-mdb9nvh55qak9onrig33.query.consul", "port": 3306},
            "messages":         {"host": "mdb-rw-mdb9nvh55qak9onrig33.query.consul", "port": 3306},
            "subscribe":        {"host": "mdb-rw-mdb9nvh55qak9onrig33.query.consul", "port": 3306},
            "misc_master":      {"host": "mdb-rw-mdb9nvh55qak9onrig33.query.consul", "port": 3306},
            "dboard-slave":     {"host": "mdb-rw-mdb9nvh55qak9onrig33.query.consul", "port": 3306},
            "moderation-slave": {"host": "mdb-rw-mdb9nvh55qak9onrig33.query.consul", "port": 3306},
            "messages-slave":   {"host": "mdb-rw-mdb9nvh55qak9onrig33.query.consul", "port": 3306},
            "misc_slave":       {"host": "mdb-rw-mdb9nvh55qak9onrig33.query.consul", "port": 3306},

            "security":         {"host": "mdb-rw-mdb1i56vka0d2gjf1fee.query.consul", "port": 3306},
            "security_slave":   {"host": "mdb-rw-mdb1i56vka0d2gjf1fee.query.consul", "port": 3306},

            "all-logs":         {"host": "mdb-rw-mdb8ghka3l9pvea8elik.query.consul", "port": 3306},
            "logs":             {"host": "mdb-rw-mdb8ghka3l9pvea8elik.query.consul", "port": 3306},
            "api-logs":         {"host": "mdb-rw-mdb8ghka3l9pvea8elik.query.consul", "port": 3306},

            "master-archive":   {"host": "mysql-rw-archive-devtest.query.consul", "port": 3312},
            "slave-archive":    {"host": "mysql-rw-archive-devtest.query.consul", "port": 3312},

            "billing-master":   {"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313},
            "billing-slave":    {"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313},

            "complaints-master":{"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313, "username": "complaints", "password": "c7f2bd22cfe39ee"},
            "complaints-slave": {"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313, "username": "complaints", "password": "c7f2bd22cfe39ee"},

            "hobo-master":      {"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313, "username": "hobo", "password": "59164de5914693420"},
            "hobo-slave":       {"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313, "username": "hobo", "password": "59164de5914693420"},

            "vos":              {"host": "mysql-rw-sales-devtest.query.consul", "port": 3307, "username": "vos", "password": "d9c7820cd20e71d"},
            "vos-master":       {"host": "mysql-rw-sales-devtest.query.consul", "port": 3307, "username": "vos", "password": "d9c7820cd20e71d"},
            "vos-slave":        {"host": "mysql-rw-sales-devtest.query.consul", "port": 3307, "username": "vos", "password": "d9c7820cd20e71d"},

            "moderation2-master":{"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313, "username": "moderation", "password": "aa03ff6ba9c1c9433"},
            "moderation2-slave": {"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313, "username": "moderation", "password": "aa03ff6ba9c1c9433"},

            "promocoder-master":{"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313, "username": "promocoder", "password": "76f964700f6be23f"},
            "promocoder-slave": {"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313, "username": "promocoder", "password": "76f964700f6be23f"},

            "vertis-feedprocessor-master":{"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313, "username": "feedprocessor", "password": "eceeed9f01c66da4"},
            "vertis-feedprocessor-slave": {"host": "mysql-rw-vertis-devtest.query.consul", "port": 3313, "username": "feedprocessor", "password": "eceeed9f01c66da4"},

            "salesman_user-master":{"host": "mdb-rw-mdbgg0190u76kuok4tpm.query.consul", "port": 3306, "username": "salesman_user", "password": "024227ea4ef99f8"},
            "salesman_user-slave": {"host": "mdb-ro-mdbgg0190u76kuok4tpm.query.consul", "port": 3306, "username": "salesman_user", "password": "024227ea4ef99f8"},

            "pinba"            : {"host" : "autoru-prod-infra-01-sas.autoru.yandex.net",   "port": 30002},

            "geobase"          : {"host" : "localhost", "password": "Pyfvtybt"},

            "users_serv": {
                "master"       : {"host": "localhost"},
                "reclama_old"  : {"host": "localhost"},
                "geobase"      : {"host": "localhost"}
            }
        }
    },

    "sphinx": {
        "clients": {
            "boards":           {"host": "sphinx-boards.query.consul", "port": 9312},
            "all": {
                "sale1":        {"host": "127.0.0.1", "port": 1165},
                "sale2":        {"host": "127.0.0.1", "port": 1165},
                "sale3":        {"host": "127.0.0.1", "port": 1165},
                "sale4":        {"host": "127.0.0.1", "port": 1165},
                "sale5":        {"host": "127.0.0.1", "port": 1165}
            },
            "all7":             {"host": "127.0.0.1", "port": 1166},
            "moderation_rt":    {"host": "127.0.0.1", "port": 1167},
            "default":          {"host": "127.0.0.1", "port": 1165},

            "suggest":          {"host": "127.0.0.1", "port": 31333},
            "search_suggest":   {"host": "127.0.0.1", "port": 31333},
            "tasks_search":     {"host": "127.0.0.1", "port": 21334},
            "users_search":     {"host": "127.0.0.1", "port": 1169},
            "moderation":       {"host": "127.0.0.1", "port": 21558},
            "office7":          {"host": "127.0.0.1", "port": 21338},
            "allnews":          {"host": "127.0.0.1", "port": 21559},
            "news7":            {"host": "127.0.0.1", "port": 21561},
            "koleso5":          {"host": "127.0.0.1", "port": 21562}
        },
        "sphinxQL": {
            "all":              {"host": "127.0.0.1", "port": 1168},
            "all_statistics":   {"host": "127.0.0.1", "port": 1162},
            "office7":          {"host": "sphinx-office7.query.consul", "port": 3310},
            "moderation":       {"host": "127.0.0.1", "port": 1167},
            "all_catalog":      {"host": "127.0.0.1", "port": 1161},

            "news7":            {"host": "127.0.0.1", "port": 21570},
            "office7_sales":    {"host": "127.0.0.1", "port": 3320}
        }
    },

    "elasticsearch" : [
        "elastic.dev"
    ],

    "gearman" : [
        {"host": "gearman.query.consul", "port": 4731}
    ],

    "autoru": {
        "api": {
            "protocol": "http",
            "port": 80,
            "host": "lb-int-nginx-01-sas.test.vertis.yandex.net",
            "hostname": "api.test.avto.ru"
        },
        "api_octopus": {
            "protocol": "http",
            "port": 80,
            "host": "api-octopus-test-int.slb.vertis.yandex.net"
        },
        "api_cabinet": {
            "protocol": "http",
            "port": 80,
            "host": "lb-int-nginx-01-sas.test.vertis.yandex.net",
            "hostname": "cabinet-api.test.avto.ru"
        },
        "api_passport": {
            "protocol": "http",
            "port": 80,
            "host": "passport-api-server.vrts-slb.test.vertis.yandex.net"
        },
        "www_cabinet": {
            "protocol": "http",
            "port": 1804,
            "host": "127.0.0.1",
            "hostname": "cabinet.auto.ru"
        },
        "api-searcher": {
            "protocol": "http",
            "port": 80,
            "host": "auto2-searcher-int.vrts-slb.test.vertis.yandex.net"
        },
        "api-direct": {
            "protocol": "https",
            "port": 443,
            "host": "an.yandex.ru"
        },
        "api-awaps": {
            "protocol": "https",
            "port": 443,
            "host": "awaps.yandex.ru"
        },
        "api_subscriptions": {
            "protocol": "http",
            "host": "back-rt-01-sas.test.vertis.yandex.net",
            "port": 36134,
            "timeout": 2000
        },
        "api_complaints": {
            "protocol": "http",
            "host": "complaints-api-01-sas.test.vertis.yandex.net",
            "port": 36081,
            "timeout": 2000
        },
        "api_telepony": {
            "protocol": "http",
            "port": 80,
            "host": "api-telepony-test-int.slb.vertis.yandex.net"
        },
        "api_personal": {
            "protocol": "http",
            "port": 36900,
            "host": "personal-api-01-sas.test.vertis.yandex.net"
        },
        "api_billing": {
            "protocol": "http",
            "port": 34100,
            "host": "back-rt-01-sas.test.vertis.yandex.net",
            "timeout": 10000
        },
        "api-vos2-autoru": {
            "protocol": "http",
            "port": 80,
            "host": "vos2-autoru-api-server.vrts-slb.test.vertis.yandex.net"
        },
        "api-parts": {
            "protocol": "http",
            "port": 36320,
            "host": "autoparts-searcher-01-sas.test.vertis.yandex.net"
        },
        "api-searcher-stats": {
            "protocol": "http",
            "port": 34398,
            "host": "wizard-01-sas.test.vertis.yandex.net"
        },
        "api-saas": {
            "protocol": "http",
            "port": 17000,
            "host": "saas-searchproxy-prestable.yandex.net"
        }
    },
    "infra": {
        "host": null,
        "store": "infra-store-sas.autoru.yandex.net",
        "images_mds_proxy": {
            "host": "images.mds-proxy.test.avto.ru"
        },
        "files_mds_proxy": {
            "host": "files.mds-proxy.test.avto.ru"
        }
    },
    "env": "test",
    "env_full": "testing"
}
