	#testdrive .testdrive-cell h3, #selector div {
		zoom:1;
		background:#000;
		filter:alpha(opacity=70);
	}	
	#selector div {
		filter:alpha(opacity=50);
	}	
		#testdrive .testdrive-cell h3 a, #selector div * {
			position:relative;
		}
		.autoru #selector img {
			position:absolute;
		}
		#selector input {
			margin:6px 0;
		}
	
			.testdrives-list .testdrive-cell .cite {
				height:144px;
			}
	.myavta p.cell {
		display:inline;
	}