{
  "Name": "",
  "Template": {
    "Type": "name_prefix_match",
    "Regexp": "^((.*)\\.)?(.*)$",
    "RemoveEmptyTags": true
  },
  "Service": {
    "Service": "${match(3)}",
    "Tags": ["${match(2)}"],
    "OnlyPassing": true,
    "Failover": {
      {% if dc == "vla" %}
      "Datacenters": ["sas", "myt"]
      {% elif dc == "sas" %}
      "Datacenters": ["vla", "myt"]
      {% elif dc == "myt" %}
      "Datacenters": ["sas", "vla"]
      {% else %}
      "Datacenters": ["sas", "vla", "myt"]
      {% endif %}
    }
  }
}
