#
server:
  interface: {{ ansible_default_ipv6.address }}
  access-control: ::0/0 allow

  do-not-query-localhost: no
  domain-insecure: "consul"
  cache-min-ttl: 1

#Forward .consul to remote unbound
forward-zone:
  name: "consul"
{% if dc == 'myt' %}
  forward-host: consul-01-myt.test.vertis.yandex.net
  forward-host: consul-02-myt.test.vertis.yandex.net
  forward-host: consul-03-myt.test.vertis.yandex.net
{% elif dc == "vla" %}
  forward-host: consul-01-vla.test.vertis.yandex.net
  forward-host: consul-02-vla.test.vertis.yandex.net
  forward-host: consul-03-vla.test.vertis.yandex.net
{% elif dc == "sas" %}
  forward-host: consul-01-sas.test.vertis.yandex.net
  forward-host: consul-02-sas.test.vertis.yandex.net
  forward-host: consul-03-sas.test.vertis.yandex.net
{% endif %}
