#
server:
  interface: {{ ansible_default_ipv6.address }}
  access-control: ::0/0 allow

  do-not-query-localhost: no
  domain-insecure: "consul"
  cache-min-ttl: 1

#Add consul as a stub-zone
stub-zone:
  name: "consul"
  stub-addr: 127.0.0.1@8600
