<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" dest="err" packages="ru.yandex.intranet.d">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} [%X{log_id}] - %msg%n"/>
        </Console>
        <LogCollector name="LogCollector" >
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </LogCollector>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogCollector" level="All"/>
        </Root>
    </Loggers>
</Configuration>

