use.new.account.management=true
tus.url=https://tus.yandex-team.ru
tus.token=TOKEN // ссылка для получения токена - https://oauth.yandex-team.ru/authorize?response_type=token&client_id=9052de6e4cf142039a7ee44ac03e4614
tus.consumer=mobdisk
tus.default.tags=common
tus.lock.duration=600
app.client.id=<Test application client id>
app.client.secret=<Test application client secret>
