<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property scope="context" name="logs" value="${logging.path:-./logs}" />

    <appender name="MAIN_FILE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d] %-5p [%t] %X{reqId} %-40logger{36} %m%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_MAIN_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="MAIN_FILE"/>
    </appender>

    <appender name="ACCESS_FILE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_ACCESS_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ACCESS_FILE"/>
    </appender>

    <logger name="http.access.logger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="ASYNC_ACCESS_FILE"/>
    </logger>

    <logger name="vertis.sraas" level="INFO" additivity="false">
        <appender-ref ref="ASYNC_MAIN_FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="ASYNC_MAIN_FILE" />
    </root>

</configuration>
