<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="MainAppender" class="ch.qos.logback.core.FileAppender">
        <file>${logging.path}/main.log</file>
        <encoder>
            <pattern>[%d] %-5p [%t] %-40logger{40} %m%n</pattern>
        </encoder>
    </appender>

    <appender name="EventFileAppender" class="ch.qos.logback.core.FileAppender">
        <file>${logging.path}/autoru-chatbot-events.log</file>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.yandex.vertis.scheduler" additivity="false" level="WARN">
        <appender-ref ref="MainAppender"/>
    </logger>

    <logger name="ru.yandex.vertis.curator" additivity="false" level="WARN">
        <appender-ref ref="MainAppender"/>
    </logger>

    <logger name="ru.auto.chatbot.utils.EventLogWriter" additivity="false" level="INFO">
        <appender-ref ref="EventFileAppender"/>
    </logger>

    <logger name="scalikejdbc" additivity="false" level="INFO">
        <appender-ref ref="MainAppender"/>
    </logger>

    <logger name="org.apache" additivity="false" level="INFO">
        <appender-ref ref="MainAppender"/>
    </logger>

    <logger name="ru.yandex.extdata" additivity="false" level="WARN">
        <appender-ref ref="MainAppender"/>
    </logger>

    <logger name="s3edr-client-autoru-extdata" additivity="false" level="WARN">
        <appender-ref ref="MainAppender"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="MainAppender"/>
    </root>

</configuration>