<configuration>

    <!--Expect "logging.path" from JVM properties-->

    <appender name="StdOutMDCAppender" class="ch.qos.logback.core.ConsoleAppender">
        <file>${logging.path}/vos2-realty-api.log</file>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    return mdc != null &amp;&amp; mdc.get("reqId") != null;
                </expression>
            </evaluator>
            <OnMatch>NEUTRAL</OnMatch>
            <OnMismatch>DENY</OnMismatch>
        </filter>
        <encoder>
            <pattern>[%d] %-5p [%t] [%X{reqId}] %-40logger{40} %m%n</pattern>
        </encoder>
    </appender>

    <appender name="StdOutAppender" class="ch.qos.logback.core.ConsoleAppender">
        <file>${logging.path}/vos2-realty-api.log</file>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    return mdc != null &amp;&amp; mdc.get("reqId") != null;
                </expression>
            </evaluator>
            <OnMatch>DENY</OnMatch>
            <OnMismatch>NEUTRAL</OnMismatch>
        </filter>
        <encoder>
            <pattern>[%d] %-5p [%t] %-40logger{40} %m%n</pattern>
        </encoder>
    </appender>

    <!-- General access logs, for debugging -->
    <logger name="http.access.logger" additivity="false" level="INFO">
        <appender-ref ref="StdOutAppender"/>
    </logger>

    <!-- Audit access log, to comply with 97 law -->
    <logger name="http.tskv.access.log" additivity="false" level="INFO">
        <appender-ref ref="StdOutAppender"/>
    </logger>

    <!-- Turn off detailed logs of Apache HTTP Client -->
    <logger name="HttpClientFactoryImpl_connections" level="ERROR"/>

    <logger name="ru.yandex.common.tokenization" level="OFF"/>
    <logger name="org.apache.curator.framework.recipes.cache.PathChildrenCache" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="StdOutMDCAppender"/>
        <appender-ref ref="StdOutAppender"/>
    </root>

</configuration>
