<configuration>

    <!--Expect "logging.path" from JVM properties-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>[%d] %-5p [%t] %-40logger{40} %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="FILE_ASYNC"/>
        <appender-ref ref="FILE_MDC_ASYNC"/>
    </logger>

    <logger name="HttpClientFactoryImpl_connections" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="STDOUT"/>

    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>




</configuration>
