<configuration>

    <!--Expect "logging.path" from JVM properties-->

    <appender name="StdOutAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d] %-5p %m%n</pattern>
        </encoder>
    </appender>

    <!-- General access logs, for debugging -->
    <logger name="http.access.logger" additivity="false" level="INFO">
        <appender-ref ref="StdOutAppender"/>
    </logger>

    <!-- Audit access log, to comply with 97 law -->
    <logger name="http.tskv.access.log" additivity="false" level="INFO">
        <appender-ref ref="StdOutAppender"/>
    </logger>

    <!-- Turn off detailed logs of Apache HTTP Client -->
    <logger name="HttpClientFactoryImpl_connections" level="ERROR"/>

    <root level="DEBUG">
        <appender-ref ref="StdOutAppender"/>
    </root>

</configuration>
