<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT_AKKA" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    return mdc != null &amp;&amp; mdc.get("shortActorPath") != null;
                </expression>
            </evaluator>
            <OnMatch>NEUTRAL</OnMatch>
            <OnMismatch>DENY</OnMismatch>
        </filter>
        <encoder>
            <pattern>[%date{"yyyy-MM-dd HH:mm:ss,SSS"}] %-5level [%X{shortActorPath}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_STDOUT_AKKA" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT_AKKA"/>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    return mdc != null &amp;&amp; mdc.get("shortActorPath") != null;
                </expression>
            </evaluator>
            <OnMatch>DENY</OnMatch>
            <OnMismatch>NEUTRAL</OnMismatch>
        </filter>
        <encoder>
            <pattern>[%date{"yyyy-MM-dd HH:mm:ss,SSS"}] %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="org.apache.zookeeper" level="ERROR" additivity="false">
        <appender-ref ref="ASYNC_STDOUT"/>
    </logger>

    <logger name="ru.yandex.vertis.billing.banker.tasks.RefundProcessingTask" level="INFO" additivity="false"/>

    <logger name="ru.yandex.vertis.billing.banker.tasks.ReceiptTask" level="INFO" additivity="false"/>

    <root level="INFO">
        <appender-ref ref="ASYNC_STDOUT" />
        <appender-ref ref="ASYNC_STDOUT_AKKA" />
    </root>

</configuration>
