<configuration>
    <appender name="StdoutJsonAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>_time</timestamp>
                <message>_message</message>
                <logger>_context</logger>
                <level>_level</level>
                <thread>_thread</thread>
            </fieldNames>
            <includeContext>false</includeContext>
        </encoder>
    </appender>

    <appender name="AsyncStdoutJsonAppender" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1024</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="StdoutJsonAppender"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="AsyncStdoutJsonAppender"/>
    </root>
</configuration>