<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE_AKKA" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    return mdc != null &amp;&amp; mdc.get("shortActorPath") != null;
                </expression>
            </evaluator>
            <OnMatch>NEUTRAL</OnMatch>
            <OnMismatch>DENY</OnMismatch>
        </filter>
        <encoder>
            <pattern>[%date{"yyyy-MM-dd HH:mm:ss,SSS"}] %-5level [%X{shortActorPath}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_CONSOLE_AKKA" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE_AKKA"/>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    return mdc != null &amp;&amp; mdc.get("shortActorPath") != null;
                </expression>
            </evaluator>
            <OnMatch>DENY</OnMatch>
            <OnMismatch>NEUTRAL</OnMismatch>
        </filter>
        <encoder>
            <pattern>[%date{"yyyy-MM-dd HH:mm:ss,SSS"}] %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE"/>
    </appender>


    <root level="INFO">
        <appender-ref ref="ASYNC_CONSOLE"/>
        <appender-ref ref="ASYNC_CONSOLE_AKKA"/>
    </root>

    <logger name="ru.auto.salesman" level="DEBUG" additivity="false">
        <appender-ref ref="ASYNC_CONSOLE"/>
    </logger>


</configuration>