interactions:
- request:
    body: null
    headers:
      X-Ya-Service-Ticket: ['****']
      'X-Ya-User-Ticket': ['****']
    method: GET
    uri: https://calendar-api.testing.yandex-team.ru/internal/get-offices?includeOthers=false&lang=ru&tz=UTC&uid=1120000000073516
  response:
    body: {string: "{\"offices\":[{\"name\":\"\u0411\u0426 \u041C\u043E\u0440\u043E\
        \u0437\u043E\u0432\",\"id\":1,\"cityName\":\"\u041C\u043E\u0441\u043A\u0432\
        \u0430\",\"tzOffset\":10800000},{\"name\":\"\u0411\u0426 \u0411\u0435\u043D\
        \u0443\u0430\",\"id\":2,\"cityName\":\"\u0421\u0430\u043D\u043A\u0442-\u041F\
        \u0435\u0442\u0435\u0440\u0431\u0443\u0440\u0433\",\"tzOffset\":10800000},{\"\
        name\":\"\u0411\u0426 \u0414\u043E\u0441\u0442\u044B\u043A\",\"id\":122,\"\
        cityName\":\"\u0410\u043B\u043C\u0430\u0442\u044B\",\"tzOffset\":21600000},{\"\
        name\":\"\u0411\u0426 Fresh Plaza\",\"id\":222,\"cityName\":\"\u0412\u043B\
        \u0430\u[...]
