interactions:
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://calendar-api.testing.yandex-team.ru/internal/get-availability-intervals?from=2018-03-14T12%3A00%3A00%2B00%3A00&uid=1120000000073516&emails=zhigalov%40yandex-team.ru&emails=jane-t%40yandex-team.ru&to=2018-03-14T14%3A00%3A00%2B00%3A00&idsOnly=true&display=events
  response:
    body: {string: '{"subjectAvailabilities":[{"email":"zhigalov@yandex-team.ru","status":"ok","intervals":[{"availability":"busy","start":"2018-03-14T15:00:00","end":"2018-03-14T16:00:00","eventId":11758},{"availability":"busy","start":"2018-03-14T16:00:00","end":"2018-03-14T17:00:00","eventId":11762}]},{"email":"jane-t@yandex-team.ru","status":"ok","intervals":[]}]}'}
    headers:
      content-type: [application/json;charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://staff.test.yandex-team.ru/gap-api/api/gaps_find/?date_from=2018-03-14T12%3A00%3A00%2B00%3A00&person_login=zhigalov&person_login=jane-t&date_to=2018-03-14T14%3A00%3A00%2B00%3A00
  response:
    body: {string: '{"gaps": [{"comment": "\u0414\u043b\u044f \u0442\u0435\u0441\u0442\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u044f.
        \u041f\u0440\u043e\u0432\u0435\u0440\u044f\u044e \u0447\u0442\u043e \u0441\u0435\u0440\u0432\u0438\u0441
        EASYMEETING \u0443\u0447\u0438\u0442\u044b\u0432\u0430\u0435\u0442 \u043e\u0442\u0441\u0443\u0442\u0441\u0442\u0432\u0438\u044f
        \u0441\u043e\u0442\u0440\u0443\u0434\u043d\u0438\u043a\u043e\u0432", "workflow":
        "absence", "work_in_absence": true, "date_from": "2018-03-14T00:00:00", "to_notify":
        [], "person_login": "zhigalov", "date_to": "2018-03-15T00:00:00", "full_day":
        true, "id": 434316}], "total": 1, "limit": 100, "page": 0, "pages": 1}'}
    headers:
      content-language: [ru]
      content-type: [application/json; charset=utf-8]
      x-qloud-router: [iva1-f7f6489209e7.qloud-c.yandex.net, iva1-f7f6489209e7.qloud-c.yandex.net]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://staff.test.yandex-team.ru/gap-api/api/gaps_find/?date_from=2018-03-14T12%3A00%3A00%2B00%3A00&page=1&person_login=zhigalov&person_login=jane-t&date_to=2018-03-14T14%3A00%3A00%2B00%3A00
  response:
    body: {string: '{"gaps": [], "total": 1, "limit": 100, "page":
        1, "pages": 1}'}
    headers:
      content-language: [ru]
      content-type: [application/json; charset=utf-8]
      x-qloud-router: [myt2-70421c64540d.qloud-c.yandex.net, iva1-f7f6489209e7.qloud-c.yandex.net]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Ya-Service-Ticket: ['****']
    method: GET
    uri: https://staff-api.test.yandex-team.ru/v3/persons?_limit=1000&_fields=uid%2Clogin%2Cname%2Clocation.office.id%2Cofficial.is_dismissed&uid=1120000000015903%2C1120000000001234&_sort=id
  response:
    body: {string: "{\"links\": {}, \"page\": 1, \"limit\": 1000, \"result\": [{\"\
        uid\": \"1120000000001234\", \"login\": \"jane-t\", \"official\": {\"is_dismissed\"\
        : true}, \"location\": {\"office\": {\"id\": 1}}, \"name\": {\"middle\": \"\
        \", \"has_namesake\": false, \"first\": {\"ru\": \"\u0415\u0432\u0433\u0435\
        \u043D\u0438\u044F\", \"en\": \"Eugenia\"}, \"last\": {\"ru\": \"\u0422\u0438\
        \u043C\u043E\u0444\u0435\u0435\u0432\u0430\", \"en\": \"Timofeeva\"}, \"hidden_middle\"\
        : true}}, {\"uid\": \"1120000000015903\", \"login\": \"zhigalov\", \"official\"\
        : {\"is_dismissed\": false}, \"location\": {\"office\": {\"id\": 3}}, \"name\"\
        : {\"middle\": \"\", \"has_namesake\": false, \"first\": {\"ru\": \"\u0421\
        \u0435\u0440\u0433\u0435\u0439\", \"en\": \"Sergey\"}, \"last\": {\"ru\":\
        \ \"\u0416\u0438\u0433\u0430\u043B\u043E\u0432\", \"en\": \"Zhigalov\"}, \"\
        hidden_middle\": true}}], \"total\": 2, \"pages\": 1}"}
    headers:
      content-type: [application/json; charset=utf-8]
      link: ['']
      x-qloud-router: [iva5-b3c8b5aa9655.qloud-c.yandex.net]
    status: {code: 200, message: OK}
version: 1
