interactions:
- request:
    body: '{"attendees": ["conf_rr_7_6@yandex-team.ru", "conf_ekb_east@yandex-team.ru"],
      "endTs": "2018-05-11T12:30:00+00:00", "startTs": "2018-05-11T12:00:00+00:00",
      "description": "Created by integration test of EASYMEET-53", "type": "user",
      "availability": "busy", "organizer": "zhigalov@yandex-team.ru", "name": "\u0411\u0435\u0437
      \u043d\u0430\u0437\u0432\u0430\u043d\u0438\u044f [\u0447\u0430\u0441\u0442\u044c
      1 \u0438\u0437 3]"}'
    headers:
      Content-Type: [application/json]
      X-Ya-Service-Ticket: ['****']
      X-Ya-User-Ticket: ['****']
    method: POST
    uri: https://calendar-api.testing.yandex-team.ru/internal/create-event?tz=UTC&uid=1120000000073516
  response:
    body: {string: '{"status":"ok","sequence":0,"showEventId":154127,"showDate":"2018-05-11","endTs":"2018-05-11T00:00:00","externalIds":["WWzCoFrxyandex.ru"]}'}
    headers:
      content-type: [application/json;charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"attendees": [], "endTs": "2018-05-11T13:30:00+00:00",
      "startTs": "2018-05-11T13:00:00+00:00", "description": "Created by integration
      test of EASYMEET-53", "type": "user", "availability": "busy", "organizer": "zhigalov@yandex-team.ru",
      "name": "\u0411\u0435\u0437 \u043d\u0430\u0437\u0432\u0430\u043d\u0438\u044f
      [\u0447\u0430\u0441\u0442\u044c 3 \u0438\u0437 3]"}'
    headers:
      Content-Type: [application/json]
      X-Ya-Service-Ticket: ['****']
      X-Ya-User-Ticket: ['****']
    method: POST
    uri: https://calendar-api.testing.yandex-team.ru/internal/create-event?tz=UTC&uid=1120000000073516
  response:
    body: {string: '{"status":"ok","sequence":0,"showEventId":154129,"showDate":"2018-05-11","endTs":"2018-05-11T00:00:00","externalIds":["Nz36uI7ayandex.ru"]}'}
    headers:
      content-type: [application/json;charset=utf-8]
    status: {code: 200, message: OK}
version: 1
