interactions:
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://calendar-api.testing.yandex-team.ru/internal/get-event?eventId=12058&tz=UTC&uid=1120000000073516
  response:
    body: {string: '{"invocationInfo":{"req-id":"im4SJVUa","hostname":"calcorp-test-back.cmail.yandex.net","exec-duration-millis":924,"action":"getEvent","app-name":"web","app-version":"18.11.3.da3fe68ac"},"error":{"name":"no-permissions-for-event-action","message":"event
        12058, user = Some(UserInfo[uid=1120000000073516, groups=[], resourceGroupsCanAccess=[],
        resourceGroupsCanAdmin=[], isExternalYt=false, typesCanAdmin=[], typesCanBook=<null>,
        typesCanViewEvent=[PROTECTED_ROOM, PRIVATE_ROOM, PARKING, YAMONEY_ROOM, MASSAGE_ROOM,
        ROOM, CAMPUS], typesCanViewAnyEvent=[], typesCanView=<null>]), action = EventAction.VIEW","stackTrace":"ru.yandex.calendar.frontend.web.cmd.run.PermissionDeniedUserException:
        event 12058, user = Some(UserInfo[uid=1120000000073516, groups=[], resourceGroupsCanAccess=[],
        resourceGroupsCanAdmin=[], isExternalYt=false, typesCanAdmin=[], typesCanBook=<null>,
        typesCanViewEvent=[PROTECTED_ROOM, PRIVATE_ROOM, PARKING, YAMONEY_ROOM, MASSAGE_ROOM,
        ROOM, CAMPUS], typesCanViewAnyEvent=[], typesCanView=<null>]), action = EventAction.VIEW\n\tat
        ru.yandex.calendar.logic.s[...]
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://calendar-api.testing.yandex-team.ru/internal/get-events-brief?forResource=true&uid=1120000000073516&eventIds=12058
  response:
    body: {string: "{\"events\":[{\"id\":12058,\"organizer\":{\"name\":\"\u0421\u0435\
        \u0440\u0433\u0435\u0439 \u0416\u0438\u0433\u0430\u043B\u043E\u0432\",\"email\"\
        :\"zhigalov@yandex-team.ru\",\"login\":\"zhigalov\",\"officeId\":3,\"decision\"\
        :\"yes\"},\"attendees\":[],\"resources\":[]}]}"}
    headers:
      content-type: [application/json;charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Ya-Service-Ticket: ['****']
    method: GET
    uri: https://staff-api.test.yandex-team.ru/v3/persons?login=zhigalov&_fields=login%2Clocation.office.id%2Cofficial.is_dismissed&_limit=1000&_sort=id
  response:
    body: {string: '{"links": {}, "page": 1, "limit": 1000, "result":
        [{"login": "zhigalov", "official": {"is_dismissed": false}, "location": {"office":
        {"id": 3}}}], "total": 1, "pages": 1}'}
    headers:
      content-type: [application/json; charset=utf-8]
      link: ['']
      x-qloud-router: [iva5-b3c8b5aa9655.qloud-c.yandex.net]
    status: {code: 200, message: OK}
version: 1
