interactions:
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://calendar-api.testing.yandex-team.ru/internal/get-event?eventId=14591&tz=UTC&uid=1120000000073516
  response:
    body: {string: "{\"id\":14591,\"externalId\":\"yOfBXl03yandex.ru\",\"sequence\"\
        :1,\"type\":\"user\",\"name\":\"\u0412\u0441\u0442\u0440\u0435\u0447\u0430\
        \ \u0441 \u0440\u0430\u0441\u0441\u044B\u043B\u043A\u043E\u0439-\u0443\u0447\
        \u0430\u0441\u0442\u043D\u0438\u043A\u043E\u043C\",\"description\":\"\",\"\
        location\":\"\",\"descriptionHtml\":\"\",\"locationHtml\":\"\",\"startTs\"\
        :\"2018-09-18T18:00:00\",\"endTs\":\"2018-09-18T18:30:00\",\"instanceStartTs\"\
        :\"2018-09-18T18:00:00\",\"isAllDay\":false,\"isRecurrence\":false,\"organizer\"\
        :{\"name\":\"\u041A\u0438\u0440\u0438\u043B\u043B \u041A\u0430\u0440\u0442\
        \u0430\u0448\u043E\u0432\",\"email\":\"qazaq@yandex-team.ru\",\"login\":\"\
        qazaq\",\"officeId\":1,\"decision\":\"yes\"},\"attendees\":[{\"name\":\"\"\
        ,\"email\":\"mtest@yandex-team.ru\",\"decision\":\"undecided\"}],\"resources\"\
        :[],\"subscribers\":[],\"notifications\":[],\"actions\":{\"accept\":false,\"\
        reject\":false,\"delete\":false,\"attach\":true,\"detach\":false,\"edit\"\
        :false,\"invite\":false,\"move\":false,\"changeOrganizer\":false},\"participantsCanInvite\"\
        :true,\"participantsCanEdit\":false,\"othersCanView\":true,\"isOnPrimaryLayer\"\
        :false,\"primaryLayerClosed\":false,\"organizerLetToEditAnyMeeting\":false,\"\
        canAdminAllResources\":false,\"repetitionNeedsConfirmation\":false}"}
    headers:
      content-type: [application/json;charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      authorization': ['****']
    method: GET
    uri: https://staff.test.yandex-team.ru/gap-api/api/gaps_find/?date_from=2018-09-18T18%3A00%3A00%2B00%3A00&person_login=qazaq&date_to=2018-09-18T18%3A30%3A00%2B00%3A00
  response:
    body: {string: '{"gaps": [], "total": 0, "limit": 100, "page": 0, "pages": 0}'}
    headers:
      content-language: [ru]
      content-type: [application/json; charset=utf-8]
      x-qloud-router: [myt2-70421c64540d.qloud-c.yandex.net, sas9-dea72ed71d39.qloud-c.yandex.net]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Ya-Service-Ticket: ['****']
    method: GET
    uri: https://staff-api.test.yandex-team.ru/v3/persons?login=qazaq&_fields=login%2Clocation.office.id%2Cofficial.is_dismissed&_limit=1000&_sort=id
  response:
    body: {string: '{"links": {}, "page": 1, "limit": 1000, "result":
        [{"login": "qazaq", "official": {"is_dismissed": false}, "location": {"office":
        {"id": 1}}}], "total": 1, "pages": 1}'}
    headers:
      content-type: [application/json; charset=utf-8]
      link: ['']
      x-qloud-router: [iva7-76524945e65a.qloud-c.yandex.net]
    status: {code: 200, message: OK}
version: 1
