interactions:
- request:
    body: null
    headers:
      'authorization': ['****']
    method: GET
    uri: https://calendar-api.testing.yandex-team.ru/internal/get-availability-intervals?from=2018-08-01T00%3A00%3A00%2B00%3A00&uid=1120000000073516&emails=qazaq%40yandex-team.ru&to=2018-08-02T00%3A00%3A00%2B00%3A00&idsOnly=true&tz=UTC&display=events
  response:
    body: {string: '{"subjectAvailabilities":[{"email":"qazaq@yandex-team.ru","status":"ok","intervals":[]}]}'}
    headers:
      content-type: [application/json;charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      'authorization': ['****']
    method: GET
    uri: https://staff.test.yandex-team.ru/gap-api/api/gaps_find/?date_from=2018-08-01T00%3A00%3A00%2B00%3A00&person_login=qazaq&date_to=2018-08-02T00%3A00%3A00%2B00%3A00
  response:
    body: {string: '{"gaps": [{"comment": "", "workflow": "absence",
        "work_in_absence": false, "date_from": "2018-08-01T18:00:00", "to_notify":
        [], "person_login": "qazaq", "date_to": "2018-08-01T20:30:00", "full_day":
        false, "id": 434841}], "total": 1, "limit": 100, "page": 0, "pages": 1}'}
    headers:
      content-language: [ru]
      content-type: [application/json; charset=utf-8]
      x-qloud-router: [iva4-d048802bcc60.qloud-c.yandex.net, sas9-dea72ed71d39.qloud-c.yandex.net]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      'authorization': ['****']
    method: GET
    uri: https://staff.test.yandex-team.ru/gap-api/api/gaps_find/?date_from=2018-08-01T00%3A00%3A00%2B00%3A00&page=1&person_login=qazaq&date_to=2018-08-02T00%3A00%3A00%2B00%3A00
  response:
    body: {string: '{"gaps": [], "total": 1, "limit": 100, "page":
        1, "pages": 1}'}
    headers:
      content-language: [ru]
      content-type: [application/json; charset=utf-8]
      x-qloud-router: [myt3-3b1f69d65104.qloud-c.yandex.net, sas9-dea72ed71d39.qloud-c.yandex.net]
    status: {code: 200, message: OK}
version: 1
