interactions:
- request:
    body: null
    headers:
      'authorization': ['****']
    method: GET
    uri: https://calendar-api.testing.yandex-team.ru/internal/get-availability-intervals?from=2018-08-01T17%3A45%3A00%2B00%3A00&uid=1120000000073516&emails=qazaq%40yandex-team.ru&to=2018-08-06T17%3A45%3A00%2B00%3A00&idsOnly=true&tz=UTC&display=events
  response:
    body: {string: '{"subjectAvailabilities":[{"email":"qazaq@yandex-team.ru","status":"ok","intervals":[{"availability":"busy","start":"2018-08-02T07:00:00","end":"2018-08-02T09:00:00","eventId":13811},{"availability":"busy","start":"2018-08-02T07:30:00","end":"2018-08-02T09:15:00","eventId":13814},{"availability":"busy","start":"2018-08-02T09:30:00","end":"2018-08-02T10:00:00","eventId":13812},{"availability":"busy","start":"2018-08-02T11:00:00","end":"2018-08-02T12:15:00","eventId":13813},{"availability":"busy","start":"2018-08-02T11:30:00","end":"2018-08-02T12:00:00","eventId":13815}]}]}'}
    headers:
      content-type: [application/json;charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      'authorization': ['****']
    method: GET
    uri: https://staff.test.yandex-team.ru/gap-api/api/gaps_find/?date_from=2018-08-01T17%3A45%3A00%2B00%3A00&person_login=qazaq&date_to=2018-08-06T17%3A45%3A00%2B00%3A00
  response:
    body: {string: '{"gaps": [{"comment": "", "workflow": "absence",
        "work_in_absence": false, "date_from": "2018-08-01T18:00:00", "to_notify":
        [], "person_login": "qazaq", "date_to": "2018-08-01T20:30:00", "full_day":
        false, "id": 434841}, {"comment": "\u041c\u043e\u0441\u043a\u0432\u0430 \u2013
        \u0421\u0430\u043d\u043a\u0442-\u041f\u0435\u0442\u0435\u0440\u0431\u0443\u0440\u0433
        \u2013 \u041c\u043e\u0441\u043a\u0432\u0430\n", "workflow": "trip", "work_in_absence":
        true, "date_from": "2018-08-03T00:00:00", "to_notify": [], "person_login":
        "qazaq", "date_to": "2018-08-04T00:00:00", "full_day": true, "id": 434840},
        {"comment": "", "workflow": "absence", "work_in_absence": false, "date_from":
        "2018-08-03T09:00:00", "to_notify": [], "person_login": "qazaq", "date_to":
        "2018-08-03T12:00:00", "full_day": false, "id": 434839}], "total": 3, "limit":
        100, "page": 0, "pages": 1}'}
    headers:
      content-language: [ru]
      content-type: [application/json; charset=utf-8]
      x-qloud-router: [myt3-3b1f69d65104.qloud-c.yandex.net, iva1-f7f6489209e7.qloud-c.yandex.net]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      'authorization': ['****']
    method: GET
    uri: https://staff.test.yandex-team.ru/gap-api/api/gaps_find/?date_from=2018-08-01T17%3A45%3A00%2B00%3A00&page=1&person_login=qazaq&date_to=2018-08-06T17%3A45%3A00%2B00%3A00
  response:
    body: {string: '{"gaps": [], "total": 3, "limit": 100, "page":
        1, "pages": 1}'}
    headers:
      content-language: [ru]
      content-type: [application/json; charset=utf-8]
      x-qloud-router: [iva4-d048802bcc60.qloud-c.yandex.net, iva1-f7f6489209e7.qloud-c.yandex.net]
    status: {code: 200, message: OK}
version: 1
