interactions:
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://calendar-api.testing.yandex-team.ru/internal/get-resources-schedule?bookableOnly=true&tz=UTC&uid=1120000000073516&to=2018-03-14T14%3A00%3A00%2B00%3A00&officeId=3&officeId=3&from=2018-03-14T12%3A00%3A00%2B00%3A00
  response:
    body: {string: "{\"offices\":[{\"id\":3,\"name\":\"\u0411\u0426 \u041F\u0430\u043B\
        \u043B\u0430\u0434\u0438\u0443\u043C\",\"tzId\":\"Asia/Yekaterinburg\",\"\
        resources\":[{\"info\":{\"id\":199,\"name\":\"3.\u0413\u0438\u043C\u0430\u043B\
        \u0430\u0438\",\"email\":\"conf_ekb_himalaya@yandex-team.ru\",\"type\":\"\
        room\",\"hasPhone\":true,\"hasVideo\":true,\"floor\":3},\"restrictions\":[],\"\
        events\":[]},{\"info\":{\"id\":197,\"name\":\"3.\u041E\u043B\u0438\u043C\u043F\
        \",\"email\":\"conf_ekb_olympus@yandex-team.ru\",\"type\":\"room\",\"hasPhone\"\
        :true,\"hasVideo\":true,\"floor\":3},\"restrictions\":[],\"events\":[]},{\"\
        info\":{\"id\":148,\"name\":\"3.\u0421\u043F\u043E\u0440\u0442\u0437\u0430\
        \u043B\",\"email\":\"conf_ekb_sport@yandex-team.ru\",\"type\":\"room\",\"\
        hasPhone\":false,\"hasVideo\":false,\"floor\":3},\"restrictions\":[],\"events\"\
        :[]},{\"info\":{\"id\":200,\"name\":\"3.\u042D\u0432\u0435\u0440\u0435\u0441\
        \u0442\",\"email\":\"conf_ekb_everest@yandex-team.ru\",\"type\":\"room\",\"\
        hasPhone\":true,\"hasVideo\":true,\"floor\":3},\"restric[...]
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://calendar-api.testing.yandex-team.ru/internal/find-resources?uid=1120000000073516
  response:
    body: {string: "{\"resources\":[{\"name\":\"1. Red Hot Chili Peppers\",\"email\"\
        :\"conf_rr_1_24@yandex-team.ru\",\"type\":\"room\",\"officeId\":1},{\"name\"\
        :\"1. \u041A\u0440\u0430\u0441\u043D\u0430\u044F \u041F\u043B\u043E\u0449\u0430\
        \u0434\u044C\",\"email\":\"conf_rr_1_26@yandex-team.ru\",\"type\":\"room\"\
        ,\"officeId\":1},{\"name\":\"1. \u041A\u0440\u0430\u0441\u043D\u0430\u044F\
        \ \u0434\u043E\u0440\u043E\u0436\u043A\u0430\",\"email\":\"conf_rr_1_27@yandex-team.ru\"\
        ,\"type\":\"room\",\"officeId\":1},{\"name\":\"1. \u041A\u0440\u0430\u0441\
        \u043D\u0430\u044F \u0438\u043A\u0440\u[...]
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://calendar-api.testing.yandex-team.ru/internal/get-events-brief?forResource=true&uid=1120000000094870&eventIds=11758&eventIds=11762
  response:
    body: {string: "{\"events\":[{\"id\":11758,\"name\":\"lecture\",\"organizer\"\
        :{\"name\":\"\u0421\u0435\u0440\u0433\u0435\u0439 \u0416\u0438\u0433\u0430\
        \u043B\u043E\u0432\",\"email\":\"zhigalov@yandex-team.ru\",\"login\":\"zhigalov\"\
        ,\"officeId\":3,\"decision\":\"yes\"},\"attendees\":[{\"name\":\"\u041C\u0438\
        \u0445\u0430\u0438\u043B \u0421\u043C\u0438\u0440\u043D\u043E\u0432\",\"email\"\
        :\"m-smirnov@yandex-team.ru\",\"login\":\"m-smirnov\",\"officeId\":3,\"decision\"\
        :\"yes\"}],\"resources\":[{\"name\":\"11.\u0410\u0442\u043B\u0430\u043D\u0442\
        \u0438\u0434\u0430\",\"email\":\"conf_ekb_atlantis@yandex-team.ru\",\"type\"\
        :\"room\",\"officeId\":3}]},{\"id\":11762,\"name\":\"test event\",\"organizer\"\
        :{\"name\":\"\u0421\u0435\u0440\u0433\u0435\u0439 \u0416\u0438\u0433\u0430\
        \u043B\u043E\u0432\",\"email\":\"zhigalov@yandex-team.ru\",\"login\":\"zhigalov\"\
        ,\"officeId\":3,\"decision\":\"yes\"},\"attendees\":[],\"resources\":[{\"\
        name\":\"11.\u0410\u0442\u043B\u0430\u043D\u0442\u0438\u0434\u0430\",\"email\"\
        :\"conf_ekb_atlantis@yandex-team.ru\",\"type\":\"room\",\"officeId\":3}]}]}"}
    headers:
      content-type: [application/json;charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://staff.test.yandex-team.ru/gap-api/api/gaps_find/?date_from=2018-03-14T12%3A00%3A00%2B00%3A00&person_login=m-smirnov&person_login=zhigalov&date_to=2018-03-14T14%3A00%3A00%2B00%3A00
  response:
    body: {string: '{"gaps": [{"comment": "\u0414\u043b\u044f \u0442\u0435\u0441\u0442\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u044f.
        \u041f\u0440\u043e\u0432\u0435\u0440\u044f\u044e \u0447\u0442\u043e \u0441\u0435\u0440\u0432\u0438\u0441
        EASYMEETING \u0443\u0447\u0438\u0442\u044b\u0432\u0430\u0435\u0442 \u043e\u0442\u0441\u0443\u0442\u0441\u0442\u0432\u0438\u044f
        \u0441\u043e\u0442\u0440\u0443\u0434\u043d\u0438\u043a\u043e\u0432", "workflow":
        "absence", "work_in_absence": true, "date_from": "2018-03-14T00:00:00", "to_notify":
        [], "person_login": "zhigalov", "date_to": "2018-03-15T00:00:00", "full_day":
        true, "id": 434316}], "total": 1, "limit": 100, "page": 0, "pages": 1}'}
    headers:
      content-language: [ru]
      content-type: [application/json; charset=utf-8]
      x-qloud-router: [iva4-d048802bcc60.qloud-c.yandex.net, iva4-d048802bcc60.qloud-c.yandex.net]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://staff.test.yandex-team.ru/gap-api/api/gaps_find/?date_from=2018-03-14T12%3A00%3A00%2B00%3A00&page=1&person_login=m-smirnov&person_login=zhigalov&date_to=2018-03-14T14%3A00%3A00%2B00%3A00
  response:
    body: {string: '{"gaps": [], "total": 1, "limit": 100, "page":
        1, "pages": 1}'}
    headers:
      content-language: [ru]
      content-type: [application/json; charset=utf-8]
      x-qloud-router: [myt3-3b1f69d65104.qloud-c.yandex.net, iva4-d048802bcc60.qloud-c.yandex.net]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Ya-Service-Ticket: ['****']
    method: GET
    uri: https://staff-api.test.yandex-team.ru/v3/persons?login=m-smirnov%2Czhigalov&_fields=login%2Clocation.office.id%2Cofficial.is_dismissed&_limit=1000&_sort=id
  response:
    body: {string: '{"links": {}, "page": 1, "limit": 1000, "result":
        [{"login": "zhigalov", "official": {"is_dismissed": false}, "location": {"office":
        {"id": 3}}}, {"login": "m-smirnov", "official": {"is_dismissed": false}, "location":
        {"office": {"id": 3}}}], "total": 2, "pages": 1}'}
    headers:
      content-type: [application/json; charset=utf-8]
      link: ['']
      x-qloud-router: [iva5-b3c8b5aa9655.qloud-c.yandex.net]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://calendar-api.testing.yandex-team.ru/internal/get-offices?includeOthers=false&lang=ru&tz=UTC&uid=1120000000073516
  response:
    body: {string: "{\"offices\":[{\"name\":\"\u0411\u0426 \u041C\u043E\u0440\u043E\
        \u0437\u043E\u0432\",\"id\":1,\"cityName\":\"\u041C\u043E\u0441\u043A\u0432\
        \u0430\",\"tzOffset\":10800000},{\"name\":\"\u0411\u0426 \u0411\u0435\u043D\
        \u0443\u0430\",\"id\":2,\"cityName\":\"\u0421\u0430\u043D\u043A\u0442-\u041F\
        \u0435\u0442\u0435\u0440\u0431\u0443\u0440\u0433\",\"tzOffset\":10800000},{\"\
        name\":\"\u0411\u0426 Fresh Plaza\",\"id\":222,\"cityName\":\"\u0412\u043B\
        \u0430\u0434\u0438\u0432\u043E\u0441\u0442\u043E\u043A\",\"tzOffset\":0},{\"\
        name\":\"\u0411\u0426 \u0413\u0430\u043B\u0435\u043E\u043D\",\"id\":256,\"\
        cityName\"[...]
