interactions:
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://calendar-api.testing.yandex-team.ru/internal/get-event?eventId=11758&tz=UTC&uid=1120000000073516
  response:
    body: {string: "{\"id\":11758,\"externalId\":\"K3SBfjUDyandex.ru\",\"sequence\"\
        :1,\"type\":\"user\",\"name\":\"lecture\",\"description\":\"\",\"location\"\
        :\"\",\"descriptionHtml\":\"\",\"locationHtml\":\"\",\"startTs\":\"2018-03-14T12:00:00\"\
        ,\"endTs\":\"2018-03-14T13:00:00\",\"instanceStartTs\":\"2018-03-14T12:00:00\"\
        ,\"isAllDay\":false,\"isRecurrence\":false,\"organizer\":{\"name\":\"\u0421\
        \u0435\u0440\u0433\u0435\u0439 \u0416\u0438\u0433\u0430\u043B\u043E\u0432\"\
        ,\"email\":\"zhigalov@yandex-team.ru\",\"login\":\"zhigalov\",\"officeId\"\
        :3,\"decision\":\"yes\"},\"attendees\":[{\"name\":\"\u041C\u0438\u0445\u0430\
        \u0438\u043B \u0421\u043C\u0438\u0440\u043D\u043E\u0432\",\"email\":\"m-smirnov@yandex-team.ru\"\
        ,\"login\":\"m-smirnov\",\"officeId\":3,\"decision\":\"yes\"}],\"resources\"\
        :[{\"officeId\":3,\"name\":\"11.\u0410\u0442\u043B\u0430\u043D\u0442\u0438\
        \u0434\u0430\",\"email\":\"conf_ekb_atlantis@yandex-team.ru\",\"phone\":\"\
        \",\"video\":\"18882\",\"description\":\"\",\"seats\":9,\"capacity\":11,\"\
        voiceConferencing\":false,\"projector\":0,\"lcdPanel\":2,\"markerBoard\":true,\"\
        desk\":true,\"guestWifi\":true,\"floor\":11,\"active\":true,\"resourceType\"\
        :\"room\",\"cityName\":\"\u0415\u043A\u0430\u0442\u0435\u0440\u0438\u043D\u0431\
        \u0443\u0440\u0433\",\"officeName\":\"\u0411\u0426 \u041F\u0430\u043B\u043B\
        \u0430\u0434\u0438\u0443\u043C\",\"tzOffset\":18000000}],\"subscribers\":[],\"\
        notifications\":[],\"actions\":{\"accept\":false,\"reject\":false,\"delete\"\
        :false,\"attach\":true,\"detach\":false,\"edit\":false,\"invite\":false,\"\
        move\":false,\"changeOrganizer\":false},\"participantsCanInvite\":true,\"\
        participantsCanEdit\":false,\"othersCanView\":true,\"isOnPrimaryLayer\":false,\"\
        primaryLayerClosed\":false,\"organizerLetToEditAnyMeeting\":false,\"canAdminAllResources\"\
        :false,\"repetitionNeedsConfirmation\":false}"}
    headers:
      content-type: [application/json;charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://staff.test.yandex-team.ru/gap-api/api/gaps_find/?date_from=2018-03-14T12%3A00%3A00%2B00%3A00&person_login=m-smirnov&person_login=zhigalov&date_to=2018-03-14T13%3A00%3A00%2B00%3A00
  response:
    body: {string: '{"gaps": [{"comment": "\u0414\u043b\u044f \u0442\u0435\u0441\u0442\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u044f.
        \u041f\u0440\u043e\u0432\u0435\u0440\u044f\u044e \u0447\u0442\u043e \u0441\u0435\u0440\u0432\u0438\u0441
        EASYMEETING \u0443\u0447\u0438\u0442\u044b\u0432\u0430\u0435\u0442 \u043e\u0442\u0441\u0443\u0442\u0441\u0442\u0432\u0438\u044f
        \u0441\u043e\u0442\u0440\u0443\u0434\u043d\u0438\u043a\u043e\u0432", "workflow":
        "absence", "work_in_absence": true, "date_from": "2018-03-14T00:00:00", "to_notify":
        [], "person_login": "zhigalov", "date_to": "2018-03-15T00:00:00", "full_day":
        true, "id": 434316}], "total": 1, "limit": 100, "page": 0, "pages": 1}'}
    headers:
      content-language: [ru]
      content-type: [application/json; charset=utf-8]
      x-qloud-router: [myt2-70421c64540d.qloud-c.yandex.net, iva4-d048802bcc60.qloud-c.yandex.net]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://staff.test.yandex-team.ru/gap-api/api/gaps_find/?date_from=2018-03-14T12%3A00%3A00%2B00%3A00&page=1&person_login=m-smirnov&person_login=zhigalov&date_to=2018-03-14T13%3A00%3A00%2B00%3A00
  response:
    body: {string: '{"gaps": [], "total": 1, "limit": 100, "page":
        1, "pages": 1}'}
    headers:
      content-language: [ru]
      content-type: [application/json; charset=utf-8]
      x-qloud-router: [iva1-f7f6489209e7.qloud-c.yandex.net, iva4-d048802bcc60.qloud-c.yandex.net]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Ya-Service-Ticket: ['****']
    method: GET
    uri: https://staff-api.test.yandex-team.ru/v3/persons?login=m-smirnov%2Czhigalov&_fields=login%2Clocation.office.id%2Cofficial.is_dismissed&_limit=1000&_sort=id
  response:
    body: {string: '{"links": {}, "page": 1, "limit": 1000, "result":
        [{"login": "zhigalov", "official": {"is_dismissed": false}, "location": {"office":
        {"id": 3}}}, {"login": "m-smirnov", "official": {"is_dismissed": false}, "location":
        {"office": {"id": 3}}}], "total": 2, "pages": 1}'}
    headers:
      content-type: [application/json; charset=utf-8]
      link: ['']
      x-qloud-router: [iva7-76524945e65a.qloud-c.yandex.net]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://calendar-api.testing.yandex-team.ru/internal/get-event?eventId=11762&tz=UTC&uid=1120000000073516
  response:
    body: {string: "{\"id\":11762,\"externalId\":\"6QHr9MK6yandex.ru\",\"sequence\"\
        :1,\"type\":\"user\",\"name\":\"test event\",\"description\":\"\u0422\u0435\
        \u0441\u0442\u043E\u0432\u043E\u0435 \u0441\u043E\u0431\u044B\u0442\u0438\u0435\
        \",\"location\":\"\",\"descriptionHtml\":\"\u0422\u0435\u0441\u0442\u043E\u0432\
        \u043E\u0435 \u0441\u043E\u0431\u044B\u0442\u0438\u0435\",\"locationHtml\"\
        :\"\",\"startTs\":\"2018-03-14T13:00:00\",\"endTs\":\"2018-03-14T14:00:00\"\
        ,\"instanceStartTs\":\"2018-03-14T13:00:00\",\"isAllDay\":false,\"isRecurrence\"\
        :false,\"organizer\":{\"name\":\"\u0421\u0435\u0440\u0433\u0435\u0439 \u0416\
        \u0438\u0433\u0430\u043B\u043E\u0432\",\"email\":\"zhigalov@yandex-team.ru\"\
        ,\"login\":\"zhigalov\",\"officeId\":3,\"decision\":\"yes\"},\"attendees\"\
        :[],\"resources\":[{\"officeId\":3,\"name\":\"11.\u0410\u0442\u043B\u0430\u043D\
        \u0442\u0438\u0434\u0430\",\"email\":\"conf_ekb_atlantis@yandex-team.ru\"\
        ,\"phone\":\"\",\"video\":\"18882\",\"description\":\"\",\"seats\":9,\"capacity\"\
        :11,\"voiceConferencing\":false,\"projector\":0,\"lcdPanel\":2,\"markerBoard\"\
        :true,\"desk\":true,\"guestWifi\":true,\"floor\":11,\"active\":true,\"resourceType\"\
        :\"room\",\"cityName\":\"\u0415\u043A\u0430\u0442\u0435\u0440\u0438\u043D\u0431\
        \u0443\u0440\u0433\",\"officeName\":\"\u0411\u0426 \u041F\u0430\u043B\u043B\
        \u0430\u0434\u0438\u0443\u043C\",\"tzOffset\":18000000}],\"subscribers\":[],\"\
        notifications\":[],\"actions\":{\"accept\":false,\"reject\":false,\"delete\"\
        :false,\"attach\":true,\"detach\":false,\"edit\":false,\"invite\":false,\"\
        move\":false,\"changeOrganizer\":false},\"participantsCanInvite\":true,\"\
        participantsCanEdit\":false,\"othersCanView\":true,\"isOnPrimaryLayer\":false,\"\
        primaryLayerClosed\":false,\"organizerLetToEditAnyMeeting\":false,\"canAdminAllResources\"\
        :false,\"repetitionNeedsConfirmation\":false}"}
    headers:
      content-type: [application/json;charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://staff.test.yandex-team.ru/gap-api/api/gaps_find/?date_from=2018-03-14T13%3A00%3A00%2B00%3A00&person_login=zhigalov&date_to=2018-03-14T14%3A00%3A00%2B00%3A00
  response:
    body: {string: '{"gaps": [{"comment": "\u0414\u043b\u044f \u0442\u0435\u0441\u0442\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u044f.
        \u041f\u0440\u043e\u0432\u0435\u0440\u044f\u044e \u0447\u0442\u043e \u0441\u0435\u0440\u0432\u0438\u0441
        EASYMEETING \u0443\u0447\u0438\u0442\u044b\u0432\u0430\u0435\u0442 \u043e\u0442\u0441\u0443\u0442\u0441\u0442\u0432\u0438\u044f
        \u0441\u043e\u0442\u0440\u0443\u0434\u043d\u0438\u043a\u043e\u0432", "workflow":
        "absence", "work_in_absence": true, "date_from": "2018-03-14T00:00:00", "to_notify":
        [], "person_login": "zhigalov", "date_to": "2018-03-15T00:00:00", "full_day":
        true, "id": 434316}], "total": 1, "limit": 100, "page": 0, "pages": 1}'}
    headers:
      content-language: [ru]
      content-type: [application/json; charset=utf-8]
      x-qloud-router: [myt2-70421c64540d.qloud-c.yandex.net, iva4-d048802bcc60.qloud-c.yandex.net]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://staff.test.yandex-team.ru/gap-api/api/gaps_find/?date_from=2018-03-14T13%3A00%3A00%2B00%3A00&page=1&person_login=zhigalov&date_to=2018-03-14T14%3A00%3A00%2B00%3A00
  response:
    body: {string: '{"gaps": [], "total": 1, "limit": 100, "page":
        1, "pages": 1}'}
    headers:
      content-language: [ru]
      content-type: [application/json; charset=utf-8]
      x-qloud-router: [iva1-f7f6489209e7.qloud-c.yandex.net, iva4-d048802bcc60.qloud-c.yandex.net]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Ya-Service-Ticket: ['****']
    method: GET
    uri: https://staff-api.test.yandex-team.ru/v3/persons?login=zhigalov&_fields=login%2Clocation.office.id%2Cofficial.is_dismissed&_limit=1000&_sort=id
  response:
    body: {string: '{"links": {}, "page": 1, "limit": 1000, "result":
        [{"login": "zhigalov", "official": {"is_dismissed": false}, "location": {"office":
        {"id": 3}}}], "total": 1, "pages": 1}'}
    headers:
      content-type: [application/json; charset=utf-8]
      link: ['']
      x-qloud-router: [iva7-76524945e65a.qloud-c.yandex.net]
    status: {code: 200, message: OK}
version: 1
