interactions:
- request:
    body: null
    headers:
      X-Ya-Service-Ticket: ['****']
    method: GET
    uri: https://staff-api.test.yandex-team.ru/v3/rooms?_limit=1000&_fields=additional%2Cname%2Cfloor.number%2Cequipment%2Ccapacity%2Clocations&_sort=id&name.exchange=conf_ekb_east%2Cconf_nn_3_9
  response:
    body: {string: "{\"links\": {}, \"page\": 1, \"limit\": 1000, \"result\": [{\"\
        equipment\": {\"marker_board\": true, \"voice_conferencing\": true, \"projector\"\
        : 0, \"game_console\": \"\", \"screen\": 1, \"desk\": false, \"guest_wifi\"\
        : false, \"seats\": 6, \"cork_board\": false, \"video_conferencing\": \"\"\
        }, \"capacity\": \"8\", \"additional\": \"\u043D\u0435\u0444\u043E\u0440\u043C\
        \u0430\u043B\u044C\u043D\u0430\u044F \u043F\u0435\u0440\u0435\u0433\u043E\u0432\
        \u043E\u0440\u043A\u0430, \u0441\u0442\u0443\u043B\u044C\u0435\u0432 \u0438\
        \ \u0441\u0442\u043E\u043B\u0430 \u043D\u0435\u0442, \u0442\u043E\u043B\u044C\
        \u043A\u043E \u0434\u0438\u0432\u0430\u043D\u044B \u0438 \u043F\u0443\u0444\
        \u0438\u043A\u0438\", \"name\": {\"ru\": \"14.\u0412\u043E\u0441\u0442\u043E\
        \u043A\", \"alternative\": \"PALLADIUM 14-2\", \"en\": \"14.East\", \"display\"\
        : \"14.\u0412\u043E\u0441\u0442\u043E\u043A\", \"exchange\": \"conf_ekb_east\"\
        }, \"floor\": {\"number\": 14}}, {\"equipment\": {\"marker_board\": true,\
        \ \"voice_conferencing\": true, \"projector\": 0, \"game_console\": \"\",\
        \ \"screen\": 0, \"desk\": false, \"guest_wifi\": true, \"seats\": 4, \"cork_board\"\
        : false, \"video_conferencing\": \"\"}, \"capacity\": \"8\", \"additional\"\
        : \"\", \"name\": {\"ru\": \"\u0421\u0435\u043D\u043E\u0432\u0430\u043B\"\
        , \"alternative\": \"\", \"en\": \"Hayloft\", \"display\": \"\u0421\u0435\u043D\
        \u043E\u0432\u0430\u043B\", \"exchange\": \"conf_nn_3_9\"}, \"floor\": {\"\
        number\": 3}}], \"total\": 2, \"pages\": 1}"}
    headers:
      content-type: [application/json; charset=utf-8]
      link: ['']
      x-qloud-router: [iva7-76524945e65a.qloud-c.yandex.net]
    status: {code: 200, message: OK}
version: 1
