interactions:
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://calendar-api.testing.yandex-team.ru/internal/get-offices?includeOthers=false&lang=ru&tz=UTC&uid=1120000000073516
  response:
    body: {string: "{\"offices\":[{\"name\":\"\u0411\u0426 \u041C\u043E\u0440\u043E\
        \u0437\u043E\u0432\",\"id\":1,\"cityName\":\"\u041C\u043E\u0441\u043A\u0432\
        \u0430\",\"tzOffset\":10800000},{\"name\":\"\u0411\u0426 \u0411\u0435\u043D\
        \u0443\u0430\",\"id\":2,\"cityName\":\"\u0421\u0430\u043D\u043A\u0442-\u041F\
        \u0435\u0442\u0435\u0440\u0431\u0443\u0440\u0433\",\"tzOffset\":10800000},{\"\
        name\":\"\u0411\u0426 Fresh Plaza\",\"id\":222,\"cityName\":\"\u0412\u043B\
        \u0430\u0434\u0438\u0432\u043E\u0441\u0442\u043E\u043A\",\"tzOffset\":0},{\"\
        name\":\"\u0411\u0426 \u0413\u0430\u043B\u0435\u043E\u043D\",\"id\":256,\"\
        cityName\"[...]
