interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://abc-back.yandex-team.ru/api/v4/services/contacts/?service__slug=maps-core-mobile&fields=id%2Ctype%2Ctitle%2Ccontent
  response:
    body:
      string: '{"next":null,"previous":null,"results":[{"id":12002,"type":{"id":11,"code":"url_duty_calendar","validator":"URL","name":{"ru":"\u041a\u0430\u043b\u0435\u043d\u0434\u0430\u0440\u044c
        \u0434\u0435\u0436\u0443\u0440\u0441\u0442\u0432\u0430","en":"Duty calendar"}},"title":{"ru":"SEDEM","en":""},"content":"https:\/\/abc.yandex-team.ru\/services\/maps-duty-mobile\/"},{"id":12130,"type":{"id":4,"code":"tracker_startrek","validator":"STARTREK","name":{"ru":"\u041e\u0447\u0435\u0440\u0435\u0434\u044c
        \u0432 \u0422\u0440\u0435\u043a\u0435\u0440\u0435","en":"Tracker queue"}},"title":{"ru":"MAPSMOBCORE","en":""},"content":"MAPSMOBCORE"},{"id":12131,"type":{"id":18,"code":"url_wiki","validator":"WIKI","name":{"ru":"\u0412\u0438\u043a\u0438","en":"Wiki"}},"title":{"ru":"\u0413\u043b\u0430\u0432\u043d\u0430\u044f
        Wiki-\u0441\u0442\u0440\u0430\u043d\u0438\u0446\u0430","en":""},"content":"maps\/dev\/core\/mobile\/mapkit2"}]}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://abc-back.yandex-team.ru/api/v4/services/members/?service__slug=maps-duty-mobile&fields=person%2Crole%2Cid&role__code=product_head
  response:
    body:
      string: '{"next":null,"previous":null,"results":[{"id":694339,"person":{"id":21049,"login":"imseleznev","name":{"ru":"\u0418\u0432\u0430\u043d
        \u0421\u0435\u043b\u0435\u0437\u043d\u0435\u0432","en":"Ivan Seleznev"},"first_name":{"ru":"\u0418\u0432\u0430\u043d","en":"Ivan"},"last_name":{"ru":"\u0421\u0435\u043b\u0435\u0437\u043d\u0435\u0432","en":"Seleznev"},"uid":"1120000000042788","department":2105,"is_dismissed":false,"is_robot":false,"affiliation":"yandex"},"role":{"id":1,"name":{"ru":"\u0420\u0443\u043a\u043e\u0432\u043e\u0434\u0438\u0442\u0435\u043b\u044c
        \u0441\u0435\u0440\u0432\u0438\u0441\u0430","en":"Head of product"},"service":null,"scope":{"id":1,"slug":"services_management","name":{"ru":"\u0423\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0438\u0435
        \u043f\u0440\u043e\u0434\u0443\u043a\u0442\u043e\u043c","en":"Service management"}},"code":"product_head"}}]}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://abc-back.yandex-team.ru/api/v4/services/members/?service__slug=maps-duty-mobile&fields=person%2Crole%2Cid&role__code=product_deputy_head
  response:
    body:
      string: '{"next":null,"previous":null,"results":[{"id":688376,"person":{"id":1146,"login":"vereschagin","name":{"ru":"\u0410\u043b\u0435\u043a\u0441\u0435\u0439
        \u0412\u0435\u0440\u0435\u0449\u0430\u0433\u0438\u043d","en":"Alexey Vereschagin"},"first_name":{"ru":"\u0410\u043b\u0435\u043a\u0441\u0435\u0439","en":"Alexey"},"last_name":{"ru":"\u0412\u0435\u0440\u0435\u0449\u0430\u0433\u0438\u043d","en":"Vereschagin"},"uid":"1120000000000668","department":2103,"is_dismissed":false,"is_robot":false,"affiliation":"yandex"},"role":{"id":52,"name":{"ru":"\u0417\u0430\u043c\u0435\u0441\u0442\u0438\u0442\u0435\u043b\u044c
        \u0440\u0443\u043a\u043e\u0432\u043e\u0434\u0438\u0442\u0435\u043b\u044f \u0441\u0435\u0440\u0432\u0438\u0441\u0430","en":"Deputy
        head of product"},"service":null,"scope":{"id":1,"slug":"services_management","name":{"ru":"\u0423\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0438\u0435
        \u043f\u0440\u043e\u0434\u0443\u043a\u0442\u043e\u043c","en":"Service management"}},"code":"product_deputy_head"}}]}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://abc-back.yandex-team.ru/api/v4/services/contacts/?service__slug=maps-duty-mobile&fields=id%2Ctype%2Ctitle%2Ccontent
  response:
    body:
      string: '{"next":null,"previous":null,"results":[{"id":11807,"type":{"id":11,"code":"url_duty_calendar","validator":"URL","name":{"ru":"\u041a\u0430\u043b\u0435\u043d\u0434\u0430\u0440\u044c
        \u0434\u0435\u0436\u0443\u0440\u0441\u0442\u0432\u0430","en":"Duty calendar"}},"title":{"ru":"Maps
        Duty Mobile 1","en":""},"content":"https:\/\/calendar.yandex-team.ru\/month?embed&layer_ids=59422&tz_id=Europe\/Moscow"},{"id":12000,"type":{"id":15,"code":"url_telegram","validator":"URL","name":{"ru":"\u0422\u0435\u043b\u0435\u0433\u0440\u0430\u043c
        \u0447\u0430\u0442","en":"Telegram"}},"title":{"ru":"mapkit-chat","en":""},"content":"https:\/\/t.me\/joinchat\/B0tVN0h8bLSBghFIM4KUSw"},{"id":12459,"type":{"id":4,"code":"tracker_startrek","validator":"STARTREK","name":{"ru":"\u041e\u0447\u0435\u0440\u0435\u0434\u044c
        \u0432 \u0422\u0440\u0435\u043a\u0435\u0440\u0435","en":"Tracker queue"}},"title":{"ru":"maps-mapkit","en":""},"content":"GEOMONITORINGS"}]}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://abc-back.yandex-team.ru/api/v4/duty/schedules/?service__slug=maps-duty-mobile&fields=id%2Cslug%2Cname%2Cservice%2Cduration%2Cstart_date%2Crecalculate%2Cdays_for_problem_notification%2Cdays_for_begin_shift_notification
  response:
    body:
      string: '{"count":0,"next":null,"previous":null,"total_pages":1,"results":[]}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1