interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://abc-back.yandex-team.ru/api/v4/services/contacts/?service__slug=maps-core-ratelimiter&fields=id%2Ctype%2Ctitle%2Ccontent
  response:
    body:
      string: '{"next":null,"previous":null,"results":[{"id":11966,"type":{"id":11,"code":"url_duty_calendar","validator":"URL","name":{"ru":"\u041a\u0430\u043b\u0435\u043d\u0434\u0430\u0440\u044c
        \u0434\u0435\u0436\u0443\u0440\u0441\u0442\u0432\u0430","en":"Duty calendar"}},"title":{"ru":"Maps
        Infra Duty","en":""},"content":"https:\/\/abc.yandex-team.ru\/services\/maps-duty-infra\/"}]}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://abc-back.yandex-team.ru/api/v4/services/members/?service__slug=maps-duty-infra&fields=person%2Crole%2Cid&role__code=product_head
  response:
    body:
      string: '{"next":null,"previous":null,"results":[{"id":676869,"person":{"id":3027,"login":"khrolenko","name":{"ru":"\u0410\u043b\u0435\u043a\u0441\u0435\u0439
        \u0425\u0440\u043e\u043b\u0435\u043d\u043a\u043e","en":"Alexey Khrolenko"},"first_name":{"ru":"\u0410\u043b\u0435\u043a\u0441\u0435\u0439","en":"Alexey"},"last_name":{"ru":"\u0425\u0440\u043e\u043b\u0435\u043d\u043a\u043e","en":"Khrolenko"},"uid":"1120000000004548","department":4742,"is_dismissed":false,"is_robot":false,"affiliation":"yandex"},"role":{"id":1,"name":{"ru":"\u0420\u0443\u043a\u043e\u0432\u043e\u0434\u0438\u0442\u0435\u043b\u044c
        \u0441\u0435\u0440\u0432\u0438\u0441\u0430","en":"Head of product"},"service":null,"scope":{"id":1,"slug":"services_management","name":{"ru":"\u0423\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0438\u0435
        \u043f\u0440\u043e\u0434\u0443\u043a\u0442\u043e\u043c","en":"Service management"}},"code":"product_head"}}]}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://abc-back.yandex-team.ru/api/v4/services/members/?service__slug=maps-duty-infra&fields=person%2Crole%2Cid&role__code=product_deputy_head
  response:
    body:
      string: '{"next":null,"previous":null,"results":[]}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://abc-back.yandex-team.ru/api/v4/services/contacts/?service__slug=maps-duty-infra&fields=id%2Ctype%2Ctitle%2Ccontent
  response:
    body:
      string: '{"next":null,"previous":null,"results":[{"id":11799,"type":{"id":11,"code":"url_duty_calendar","validator":"URL","name":{"ru":"\u041a\u0430\u043b\u0435\u043d\u0434\u0430\u0440\u044c
        \u0434\u0435\u0436\u0443\u0440\u0441\u0442\u0432\u0430","en":"Duty calendar"}},"tit[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://abc-back.yandex-team.ru/api/v4/duty/schedules/?service__slug=maps-duty-infra&fields=id%2Cslug%2Cname%2Cservice%2Cduration%2Cstart_date%2Crecalculate%2Cdays_for_problem_notification%2Cdays_for_begin_shift_notification
  response:
    body:
      string: '{"count":2,"next":null,"previous":null,"total_pages":1,"results":[{"id":3145,"recalculate":false,"name":"primary","service":{"id":3461,"slug":"maps-duty-infra","name":{"ru":"Maps
        Duty Infra","en":"Maps Duty Infra"},"parent":3460},"duration":"5 00:00:00","start_date":"2021-03-24","slug":"primary"},{"id":3146,"recalculate":false,"name":"secondary","service":{"id":3461,"slug":"maps-duty-infra","name":{"ru":"Maps
        Duty Infra","en":"Maps Duty Infra"},"parent":3460},"duration":"2 00:00:00","start_date":"2021-03-24","slug":"secondary"}]}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
