<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.yandex.disk.gallery">

    <application>
        <!-- GalleryActivity enabled for YandexPhone and debug build at runtime -->
        <activity-alias
            android:name=".ui.activity.GalleryActivity"
            tools:node="remove"/>
    </application>
</manifest>
