<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>enterprise</string>
    <key>uploadSymbols</key>
    <false/>
    <key>uploadBitcoin</key>
    <false/>
    <key>compileBitcode</key>
    <false/>
    <key>provisioningProfiles</key>
    <dict>
        <key>ru.yandex.mobile.projected-lib-test-app.inhouse</key>
        <string>Projected Lib TestApp InHouse Provisioning Profile</string>
    </dict>
    <key>signingCertificate</key>
    <string>iPhone Distribution: Yandex LLC</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>teamID</key>
    <string>EK7Z26L6D4</string>
</dict>
</plist>
