*.tmp
*.orig
*.rej
*.pyc
*.class
*.log
*.pid
*.lock
.DS_Store
allure-*
.cache
check/test_data
.python-version
# локальный конфиг коммититься не должен
btestlib/local_config.py
# файлы для лока между запусками параллельных тестов
locks_directory/*

# папка с локами
locks_directory
balance_contracts
balance_contracts/*

# IDE stuff
.project
.pydevproject
.settings
.ropeproject
.idea
*.iml
*temp.py

# generated statement files
*_statement.txt
IMBKRUMM_*.xml*

# sandbox sources
sandbox/*
sandboxsdk/*

#virtual environment
*venv


#локальные файлы настроек папки(КДЕ) не должны коммититься
.directory
balalayka/tests/.directory
.vscode/
temp/ashumak
scripts/ashumak/*


#не коммитим папки с кэашми
balalayka/tests/.pytest_cache/
.pytest_cache/

# Не коммитим файлы с ресурсами
btestlib/resources/*
balalayka/collection/*
