--index-url https://pypi.yandex-team.ru/simple/

attrs==19.1.0
baluhn
beautifulsoup4
boto==2.42.0
bottle==0.12.13
chardet
decorator<=5.0.0
enum34==1.1.2
Faker
future==0.16.0
gitpython
lxml==3.7.3
mongoengine
more-itertools==5.0.0
paramiko
pillow==3.4.2
plumbum==1.6.3
portalocker==1.1.0
pycrypto
pyhamcrest==1.8.5
pymongo==3.4
pytest==3.9.3
#pytest-allure-adaptor==1.7.7
pytest-rerunfailures==4.0
#pytest-timeout
pytest-xdist==1.22.2
python-dateutil #==1.5 Faker тянет эту зависимость версии 2.7.0 (на момент написания коментария)
pytz
requests
retrying==1.3.3
selenium==2.53.2
sqlalchemy==1.0.12
teamcity-messages==1.26
telepot
tenacity==4.12.0
ticket_parser2
urllib3
xmltodict==0.10.1
yandex-passport-vault-client==1.0.0
yandex-yt==0.9.29
yb-butils
setproctitle

git+https://github.yandex-team.ru/tools/startrek-python-client.git#egg=startrek-client

# blubimov используем свою пропатченную версию deepdiff https://wiki.yandex-team.ru/users/fellow/deepdiffinstall/
# deepdiff
git+https://github.com/fellow/deepdiff.git@master#egg=deepdiff

allure-pytest==2.8.6
# igogor patched version of allure adaptor
#git+https://github.com/igogorek/allure-python.git@version#subdirectory=allure-python-commons
#git+https://github.com/igogorek/allure-python.git@version#subdirectory=allure-pytest

# for simpleapi only
#cx_Oracle==5.2.1

#for hermione-rpc
werkzeug
json-rpc

# TRUST-11910
mysql-python
