#shown {
    text-decoration: none !important;
    font:15px arial,sans-serif;
    font-weight:bold;
    color: #333;
    padding: 5px 13px;
    border: solid 1px #aaa;
    border-color: #de9db9;
    background: #facde1;
    background: -moz-linear-gradient(top, #fdecf3 0%, #f9c1d9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdecf3), color-stop(100%,#f9c1d9));
    background: -webkit-linear-gradient(top, #fdecf3 0%,#f9c1d9 100%);
    background: -o-linear-gradient(top, #fdecf3 0%,#f9c1d9 100%);
    background: -ms-linear-gradient(top, #fdecf3 0%,#f9c1d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdecf3', endColorstr='#f9c1d9',GradientType=0 );
    background: linear-gradient(top, #fdecf3 0%,#f9c1d9 100%);
    vertical-align: middle;
    display: inline-block;
    zoom:1;
    *display:inline;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(255,255,255,.3);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(255,255,255,.3);
    box-shadow: 0 1px 0 rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(255,255,255,.3);
}
#shown:hover {
    text-decoration: none;
    background: #fdecf3;
}
#shown:active {
    position: relative;
    top: 1px;
}
#now {
    text-decoration: none !important;
    font: 100% Arial, Helvetica, sans-serif;
    padding: 5px 13px;
    border: solid 1px #aaa;
    border-color: #656565;
    background: #888888;
    background: -moz-linear-gradient(top, #adadad 0%, #707070 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#adadad), color-stop(100%,#707070));
    background: -webkit-linear-gradient(top, #adadad 0%,#707070 100%);
    background: -o-linear-gradient(top, #adadad 0%,#707070 100%);
    background: -ms-linear-gradient(top, #adadad 0%,#707070 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adadad', endColorstr='#707070',GradientType=0 );
    background: linear-gradient(top, #adadad 0%,#707070 100%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    vertical-align: middle;
    display: inline-block;
    zoom:1;
    *display:inline;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(255,255,255,.3);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(255,255,255,.3);
    box-shadow: 0 1px 0 rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(255,255,255,.3);
}
#now:hover {
    text-decoration: none;
    background: #adadad;
}
#now:active {
    position: relative;
    top: 1px;
}
#usually {
    text-decoration: none !important;
    font: 100% Arial, Helvetica, sans-serif;
    padding: 5px 13px;
    border: solid 1px #aaa;
    border-color: #350d4c;
    background: #7933ac;
    background: -moz-linear-gradient(top, #9655c6 0%, #661e9b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9655c6), color-stop(100%,#661e9b));
    background: -webkit-linear-gradient(top, #9655c6 0%,#661e9b 100%);
    background: -o-linear-gradient(top, #9655c6 0%,#661e9b 100%);
    background: -ms-linear-gradient(top, #9655c6 0%,#661e9b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9655c6', endColorstr='#661e9b',GradientType=0 );
    background: linear-gradient(top, #9655c6 0%,#661e9b 100%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,.6);
    vertical-align: middle;
    display: inline-block;
    zoom:1;
    *display:inline;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(255,255,255,.3);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(255,255,255,.3);
    box-shadow: 0 1px 0 rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(255,255,255,.3);
}
#usually:hover {
    text-decoration: none;
    background: #9655c6;
}
#usually:active {
    position: relative;
    top: 1px;
}