KeyInvOptions {
  PortionConfig {
      PortionTupleName : "keyinv"
  }
  MaxSubPortions: 200
  LevelToStoreOnDisk: 2
  UseInternalMap: false
}
ArcOptions {
  TupleName: "arc"
  ArcFileName: "indexarc"
  DirFileName: "indexdir"
}
LinkKeyInvOptions {
    PortionConfig {
        PortionTupleName: "refkeyinv"
        WordWeightTupleName: "refaww"
    }
  WordWeightTupleName: "refaww"
  MaxSubPortions: 200
  LevelToStoreOnDisk: 2
  UseInternalMap: false
}
LinkArcOptions {
  TupleName: "refarc"
  ArcFileName: "index.refarc"
  DirFileName: "index.refdir"
  AllowEmptyArchives: true
}
SentenceLengthsOptions {
    SentenceLengthsTupleName: "SentenceLengths"
}
ErfOptions {
  ErfTupleName: "KiwiErf2Features"
  ErfTupleName: "AntispamErf2Features"
  ErfTupleName: "DaterErf2Features"
  ErfTupleName: "TextErf2Features"
  ErfTupleName: "UrlDataErf2Features"
  ErfTupleName: "UserDataErf2Features"
  ErfTupleName: "lerf2"
#  ErfTupleName: "NoDirectBroadmatchErf2Patch"
  ErfTupleName: "RemappedDupsFeatures"
#  ErfTupleName: "AntispamHostErf2Features"
#  ErfTupleName: "RemappedCatalogErf2Features"
#  ErfTupleName: "OrangeErf2Patch"
}
HostErfOptions {
    HostErfTupleName:     "HostErfInfo"
    RegHostErfTupleName:  "RegHostErfInfos"
}
InvUrlHashOptions {
    InvUrlHashTupleName: "UrlDataErf2Features"
}
TitleSeqOptions {
    TitleTupleName: "Title"
}
CMapOptions {
    CMapTupleName: "refcaw"
}
XMapOptions {
    XMapTupleName: "refxmap"
}
DMapOptions {
    DMapTupleName: "refdmap"
}
RefLerfOptions {
    RefLerfTupleName: "reflerf"
}
FrqOptions {
    MaxFreqTupleName: "MaxFreq"
}
NavSrcOptions {
    MainRobotUrlTupleName: "MainRobotUrl"
    NavSourceTupleName: "NavInfo"
}
FreshErfOptions {
    FreshErfTupleName: "FreshErfInfo"
}
MangoErfOptions {
    MangoErfTupleName: "MangoErfInfo"
}
GroupAttrOptions {
  GroupAttrTupleName: "GroupAttrs"
}
AnnotationsOptions {
  KeyInvOptions {
    MaxSubPortions: 200
    LevelToStoreOnDisk: 2
    PortionConfig {
      PortionTupleName: "AnnKeyInv"
    }
  }
  Array4DOptions {
    DataTupleName: "AnnArray4DPortions"
  }
}
Sorter {
  Pruning {
   SelectionRankName: "ru_export"
   RankValuesTupleName: "UploadRankValues"
   UrlTupleName: "URL"
   IsRequired: false
 }
}
UrlUserDataOptions {
    QueryClicksUserDataTupleName: "QueryClicksUserDataCompressed"
    DataDirectory: "${OXY_DATA_DIR}/"
    IsCompressed: true
}
#WordHostIndexOptions {
#    InputFile1: "wordhost_rank"
#    InputFile2: "wordhost_clicks"
#    InputFile3: "wordhost_yabar"
#    Zipped: true
#    Verbose: false
#    TestFlags: 0
#}
