interactions:
- request:
    body: null
    headers:
      If-Match:
      - cfg_id=1
      authorization:
      - DUMMY
    method: POST
    uri: https://l3-api.tt.yandex-team.ru:8080/api/v1/service/735/config/7132/process
  response:
    body:
      string: !!python/unicode '{"result": "ERROR", "message": "Config 1 that you
        are going to update is not the most recent. Found the following confgurations
        created after that: <QuerySet [9839, 8153, 8138, 8137]>."}'
    headers:
      content-type:
      - application/json
    status:
      code: 412
      message: Precondition Failed
[...]
- request:
    body: null
    headers:
      If-Match:
      - cfg_id=235640
      authorization:
      - DUMMY
    method: POST
    uri: https://l3-api.tt.yandex-team.ru:8080/api/v1/service/12360/config/235640/process
  response:
    body:
      string: !!python/unicode '{"result": "OK", "object": {"id": 235640}}'
    headers:
      content-type:
      - application/json
    status:
      code: 202
      message: Accepted
version: 1
