interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://nanny.yandex-team.ru/v2/history/services/runtime_attrs/a1a845bee08b275b94894e1aa442aa33777b3529/instances/
  response:
    body: {string: !!python/unicode '{"iss_settings":{"instance_cls":"ru.yandex.iss.Instance","hooks_resource_limits":{"iss_hook_validate":{"io_policy":"normal","cpu_policy":"normal"},"iss_hook_notify":{"io_policy":"normal","cpu_policy":"normal"},"iss_hook_reopenlogs":{"io_policy":"normal","cpu_policy":"normal"},"iss_hook_install":{"io_policy":"normal","cpu_policy":"normal"},"iss_hook_uninstall":{"io_policy":"normal","cpu_policy":"normal"},"iss_hook_stop":{"io_policy":"normal","cpu_policy":"normal"},"iss_hook_status":{"io_policy":"normal","cpu_policy":"normal"}}},"instance_list":[],"gencfg_groups":[],"chosen_type":"EXTENDED_GENCFG_GROUPS","extended_gencfg_groups":{"network_settings":{"hbf_nat":"enabled"},"tags":[],"instance_properties_settings":{"tags":"ALL_STATIC"},"containers_settings":{"slot_porto_properties":"ALL"},"groups":[{"release":"tags\/stable-101-r315","name":"MAN_AWACS_PRODUCTION","limits":{"io_policy":"normal","cpu_policy":"normal"},"tags":[]},{"release":"tags\/stable-101-r315","name":"SAS_AWACS_PRODUCTION","limits":{"io_policy":"normal","cpu_policy":"normal"},"tags":[]},{"release":"tags\/stable-105-r288","name":"VLA_AWACS_PRODUCTION","limits":{"io_policy":"normal","cpu_policy":"normal"},"tags":[]}],"sysctl_settings":{"params":[]}}}'}
    headers:
      content-type: [application/json]
      x-backend-host: ['api_server@myt1-0137.search.yandex.net:8000']
      x-backend-version: [0.17.20]
      x-sentry-id: [None]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gencfg.yandex-team.ru/tags/stable-101-r315/searcherlookup/groups/MAN_AWACS_PRODUCTION/instances
  response:
    body: {string: !!python/unicode "{\n  \"instances\": [\n    {\n      \"dc\": \"man\",
        \n      \"domain\": \".search.yandex.net\", \n      \"hbf\": {\n        \"hbf_project_id\":
        \"10b5af3\", \n        \"interfaces\": {\n          \"backbone\": {\n            \"hostname\":
        \"bb-man1-0139-MAN_AWACS_PRODUCTION-23830.gencfg-c.yandex.net\", \n            \"ipv6addr\":
        \"2a02:6b8:c0b:2891:10b:5af3:0:5d16\"\n          }, \n          \"fastbone\":
        {\n            \"hostname\": \"fb-man1-0139-MAN_AWACS_PRODUCTION-23830.gencfg-c.yandex.net\",
        \n            \"ipv6addr\": \"2a02:6b8:fc13:2891:10b:5af3:0:5d16\"\n          }\n
        \       }, \n        \"mtn_ready\": false, \n        \"resolv.conf\": \"search
        search.yandex.net yandex.ru;nameserver 2a02:6b8:0:3400::1;nameserver 2a02:6b8::1:1;options
        timeout:1 attempts:1\"\n      }, \n      \"host_resources\": {\n        \"disk\":
        3445, \n        \"memory\": 256, \n        \"model\": \"E5-2650v2\", \n        \"n_disks\":
        3, \n        \"ncpu\": 32, \n        \"ssd\": 1649\n      }, \n      \"hostname\":
        \"man1-0139.search.yandex.net\", \n      \"ipv4addr\": null, \n      \"ipv6addr\":
        \"2a02:6b8:b000:601c:f652:14ff:fe8c:2a80\", \n      \"iss\": {\n        \"allow_fast_download_queue\":
        false\n      }, \n      \"location\": \"man\", \n      \"monitoring\": {\n
        \       \"juggler\": {\n          \"agent\": {\n            \"port\": 23837\n
        \         }\n        }, \n        \"yasm\": {\n          \"agent\": {\n            \"port\":
        23836\n          }\n        }\n      }, \n      \"port\": 23830, \n      \"porto_limits\":
        {\n        \"cpu_cores_guarantee\": 3.959783449342614, \n        \"cpu_cores_limit\":
        3.959783449342614, \n        \"cpu_guarantee\": 12.37432327919567, \n        \"cpu_limit\":
        12.37432327919567, \n        \"memory_guarantee\": 8589934592.0, \n        \"memory_limit\":
        8694792192.0, \n        \"net_guarantee\": 0, \n        \"net_limit\": 0\n
        \     }, \n      \"power\": 160.0, \n      \"queue\": \"man1\", \n      \"rack\":
        \"1A6\", \n      \"shard_name\": \"none\", \n      \"storages\": {\n        \"rootfs\":
        {\n          \"partition\": \"ssd\", \n          \"size\": 0.0\n        }\n
        \     }, \n      \"tags\": [\n        \"a_topology_stable-101-r315\", \n        \"cgset_memory_recharge_on_pgfault_1\",
        \n        \"a_metaprj_web\", \n        \"a_prj_none\", \n        \"a_topology_cgset-memory.limit_in_bytes=8694792192\",
        \n        \"a_itype_awacs\", \n        \"a_tier_none\", \n        \"a_topology_group-MAN_AWACS_PRODUCTION\",
        \n        \"a_dc_man\", \n        \"MAN_AWACS_PRODUCTION\", \n        \"a_topology_cgset-memory.low_limit_in_bytes=8589934592\",
        \n        \"a_ctype_none\", \n        \"a_geo_man\", \n        \"a_topology_version-stable-101-r315\",
        \n        \"a_line_man1\"\n      ], \n      \"volumes\": [\n        {\n          \"dom0_mount_point_root\":
        \"/place\", \n          \"guest_mount_point\": \"/\", \n          \"quota\":
        1073741824, \n          \"symlinks\": [], \n          \"uuid\": \"8166dfcba55b\"\n
        \       }, \n        {\n          \"dom0_mount_point_root\": \"/place\", \n
        \         \"guest_mount_point\": \"/tmp\", \n          \"quota\": 1073741824,
        \n          \"symlinks\": [], \n          \"uuid\": \"5b4a2d74c43a\"\n        },
        \n        {\n          \"dom0_mount_point_root\": \"/place\", \n          \"guest_mount_point\":
        \"/var/tmp\", \n          \"quota\": 1073741824, \n          \"symlinks\":
        [], \n          \"uuid\": \"2106fe9269c0\"\n        }, \n        {\n          \"dom0_mount_point_root\":
        \"/place\", \n          \"guest_mount_point\": \"/logs\", \n          \"quota\":
        1073741824, \n          \"symlinks\": [\n            \"/usr/local/www/logs\"\n
        \         ], \n          \"uuid\": \"4bf7bdac126a\"\n        }\n      ]\n
        \   }\n  ]\n}\n"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gencfg.yandex-team.ru/tags/stable-101-r315/searcherlookup/groups/SAS_AWACS_PRODUCTION/instances
  response:
    body: {string: !!python/unicode "{\n  \"instances\": [\n    {\n      \"dc\": \"sas\",
        \n      \"domain\": \".search.yandex.net\", \n      \"hbf\": {\n        \"hbf_project_id\":
        \"10b5af4\", \n        \"interfaces\": {\n          \"backbone\": {\n            \"hostname\":
        \"bb-sas1-6201-S[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.gencfg.yandex-team.ru/tags/stable-105-r288/searcherlookup/groups/VLA_AWACS_PRODUCTION/instances
  response:
    body: {string: !!python/unicode "{\n  \"instances\": [\n    {\n      \"dc\": \"vla\",
        \n      \"domain\": \".search.yandex.net\", \n      \"hbf\": {\n        \"hbf_project_id\":
        \"10b5af5\", \n        \"interfaces\": {\n          \"backbone\": {\n            \"hostname\":
        \"vla1-5979-vla-[...]
[...]
