interactions:
- request:
    body: !!python/unicode groups=it3tx7wfxvmcs.sas-test.yp-c.yandex.net&groups=7g4mxq9k0m9vq.sas-test.yp-c.yandex.net&groups=vy2xp8ay6j2a6.sas-test.yp-c.yandex.net
    headers:
      Authorization: [OAuth AQAD-XXX]
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://l3-api.tt.yandex-team.ru:8080/api/v1/service/1959/editrs
  response:
    body: {string: !!python/unicode '{"result": "ERROR", "message": "* groups\n  *
        Failed to resolve it3tx7wfxvmcs.sas-test.yp-c.yandex.net: [Errno -3] Temporary
        failure in name resolution", "errors": {"groups": ["Failed to resolve it3tx7wfxvmcs.sas-test.yp-c.yandex.net:
        [Errno -3] Temporary failure in name resolution"]}}'}
    headers:
      content-type: [application/json]
    status: {code: 400, message: Bad Request}
version: 1
