interactions:
- request:
    body: !!python/unicode "\x12\axxx-123\x1A\x11\n\b/meta/id\n\x05/spec \x06"
    headers:
      Content-Type: [application/x-protobuf]
    method: POST
    uri: https://man-yp.n.yandex-team.ru/ObjectService/GetObject
  response:
    body: {string: !!python/unicode ''}
    headers:
      x-yt-error: ['{"code":100002,"message":"Object \"xxx-123\" does not exist","attributes":{"fid":18446471784968014711,"tid":11020947463615472678,"datetime":"2018-03-30T07:11:01.089591Z","pid":72,"host":"m01.man.yp.yandex.net"}}']
      x-yt-response-code: ['100002']
      x-yt-response-message: [Object "xxx-123" does not exist]
    status: {code: 400, message: Bad Request}
version: 1
