interactions:
- request:
    body: !!python/unicode "0\r\n\r\n"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      If-Match:
      - cfg_id=1
      authorization:
      - DUMMY
    method: POST
    uri: https://l3-api.tt.yandex-team.ru:8080/api/v1/service/12360/editrs
  response:
    body:
      string: !!python/unicode '{"result": "ERROR", "message": "Config 1 that you
        are going to update is not the most recent. Found the following confgurations
        created after that: <QuerySet [235640, 158643, 158595]>."}'
    headers:
      content-type:
      - application/json
    status:
      code: 412
      message: Precondition Failed
- request:
    body: !!python/unicode "0\r\n\r\n"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      If-Match:
      - cfg_id=235640
      authorization:
      - DUMMY
    method: POST
    uri: https://l3-api.tt.yandex-team.ru:8080/api/v1/service/12360/editrs
  response:
    body:
      string: !!python/unicode '{"result": "OK", "object": {"id": 235652}}'
    headers:
      content-type:
      - application/json
      location:
      - /api/v1/service/12360/config/235652
    status:
      code: 201
      message: Created
version: 1
