interactions:
- request:
    body: null
    headers:
      authorization: [DUMMY]
    method: GET
    uri: https://its.yandex-team.ru/v1/config/
  response:
    body: {string: !!python/unicode '{"acl": [{"mask": "**", "logins": ["romanovich",
        "sereglond", "bkht", "nekto0n", "alonger", "nanny-robot", "keepclean", "osol",
        "ekilimchuk", "olegsenin", "safechoice", "realtim", "robot-images", "robot-monsys",
        "nextus", "mcden", "evelkin", "robot-antivirus-sbap", "zador", "amich", "sukhoi",
        "karas-pv", "alikulin", "feliksas", "moridin", "sivanichkin", "jelyscs", "librarian",
        "mixas", "panoff", "talion", "anoh", "nbahob", "kfour", "tobo", "roboslone"],
        "groups": ["yandex_search_tech_mobile_vpl", "yandex_mnt_sa_runtime_mon", "yandex_search_tech_quality_avservser_intserv",
        "yandex_search_tech_quality_avservser_mainop", "yandex_search_tech_quality_avservser_mainop_routop",
        "yandex_mnt_sa_runtime_cross", "yandex_search_tech_quality_rank_ml_person",
        "yandex_mnt_traf", "yandex_search_tech_sq_multimedia_adminmult"]}, {"mask":
        "addrs/**", "logins": [], "groups": ["yandex_search_tech_sq_3452", "yandex_search_tech_spam_3302_2902"][...]
