interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: http://juggler-api.search.yandex.net/api/system/config_tree?do=1
  response:
    body:
      string: !!python/unicode '{"flap": {"default_flap_time": 0, "default_stable_time":
        600, "default_critical_time": 3000, "default_boost_time": 0}, "main": {"passive_owner":
        "juggler", "default_check_ttl": 900, "default_check_refresh_time": 90, "worker_ttl":
        300, "frontend_url": "http://sas1-2246.search.yandex.net:8999", "socket_timeout":
        30, "rest_timeout": 60, "fqdn": "sas2-2678.search.yandex.net", "invalid_fqdn":
        ["any.yandex.ru", "localhost", "localhost.localdomain"], "config_dir": ["/place/db/iss3/instances/8998_production_juggler_main_sas_dS82sQLM8WQ/configs"],
        "varlib_dir": "/db/bsconfig/webcache/juggler/lib", "logs_dir": "/usr/local/www/logs/juggler",
        "run_dir": "/db/bsconfig/webcache/juggler/run", "watchdog_interval": 5.0,
        "runtime_config_interval": 45.0, "staff_oauth_token": "None", "dashboard_url":
        "juggler.yandex-team.ru", "data_center": "sas", "blackbox_url": "http://blackbox.yandex-team.ru/blackbox",
        "oauth_app_id": "cd178dcdc31a4ed79f42467f2d89b0d0", "remote_active_agents_count":
        2, "local_active_agents_count": 1, "secrets_dir": "/place/db/iss3/instances/8998_production_juggler_main_sas_dS82sQLM8WQ"},
        "groups": {"default_type": "CGROUP", "refresh_interval": 1200}, "golem": {"url_ro":
        "http://ro.admin.yandex-team.ru", "socket_timeout": 15}, "jclient": {"targets":
        ["man2-6755.search.yandex.net:8999", "sas1-2883.search.yandex.net:8999", "vla1-4590.search.yandex.net:8999"],
        "noop": false}, "netmon": {"api_url": "https://netmon.yandex-team.ru", "limits_url":
        "https://netmon.yandex-team.ru/limits.json", "socket_timeout": 15}, "runtime":
        {"application_name": "api", "instance_port": 8998, "runtime_config": {}, "worker_id":
        "5", "version": "0.261.1"}, "active": {"watchdog_timeout": 120, "interval":
        60, "max_threads": 10, "max_graphite_threads": 10, "max_nanny_deploy_status_threads":
        14, "log_file": "/usr/local/www/logs/juggler/api/api.log", "instance_port":
        10701, "instances": ["sas2-2678.search.yandex.net:18030"], "instance_count":
        1, "log_level": 20, "log_use_colors": true}, "aggregator": {"watchdog_timeout":
        120, "log_file": "/usr/local/www/logs/juggler/api/api.log", "instance_count":
        4, "instance_port": 10720, "instances": ["sas1-0305.search.yandex.net:30278",
        "sas1-0305.search.yandex.net:30279", "sas1-0305.search.yandex.net:30280",
        "sas1-0305.search.yandex.net:30281", "sas1-0305.search.yandex.net:30282",
        "sas1-0305.search.yandex.net:30283", "sas1-0305.search.yandex.net:30284",
        "sas1-0305.search.yandex.net:30285", "sas1-0305.sear[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: http://juggler-api.search.yandex.net/api/actives/actives?do=1
  response:
    body:
      string: !!python/unicode '{"icmpping": {"description": ""}, "tcp_chat": {"description":
        ""}, "ssh": {"description": ""}, "smtp": {"description": ""}, "imap": {"description":
        ""}, "http": {"description": ""}, "https": {"description": ""}, "x509_cert":
        {"description": ""}, "https_cert": {"description": ""}, "dns": {"description":
        ""}, "nanny_deploy_status": {"description": ""}, "graphite": {"description":
        ""}, "netmon": {"description": ""}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"5f14026277977b4ec2b1150366db5ff9d0244040"'
      x-authentication:
      - OAuth
      x-juggler-node:
      - sas-prod.juggler.search.yandex.net
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: http://juggler-api.search.yandex.net/api/aggregators/aggregators?do=1
  response:
    body:
      string: !!python/unicode '{"description_mismatch": {"description": ""}, "expr":
        {"description": ""}, "logic_and": {"description": ""}, "logic_or": {"description":
        ""}, "more_than_limit_in_group": {"description": ""}, "more_than_limit_is_crit":
        {"description": ""}, "more_than_limit_is_problem": {"description": ""}, "timed_more_than_limit_is_problem":
        {"description": ""}, "timed": {"description": ""}, "only_child": {"description":
        ""}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"d229eac1433b72450138f65043232ebd182f7b93"'
      x-authentication:
      - OAuth
      x-juggler-node:
      - iva-prod.juggler.search.yandex.net
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: http://juggler-api.search.yandex.net/api/checks/checks?do=1&include_children=true&include_meta=true&include_notifications=true&tag_name=a_mark_test_awacs.juggler_testing
  response:
    body:
      string: !!python/unicode '{}'
    headers:
      content-type:
      - application/json
      etag:
      - '"bf21a9e8fbc5a3846fb05b4fa0859e0917b2202f"'
      x-authentication:
      - OAuth
      x-juggler-node:
      - sas-prod.juggler.search.yandex.net
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"description": "Automatic downtime for the new check",
      "filters": [{"host": "testing_juggler_host", "namespace": "test_awacs.juggler_testing",
      "service": "testing_juggler_service"}], "end_time": 1622211437.594027}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: http://juggler-api.search.yandex.net/v2/downtimes/set_downtimes?do=1
  response:
    body:
      string: !!python/unicode "{\n  \"downtime_id\": \"60b0f6bea6478457d64f704f\",\n
        \ \"meta\": {\n    \"_backend\": \"man-prod.juggler.search.yandex.net\"\n
        \ }\n}"
    headers:
      content-type:
      - application/json
      x-authentication:
      - OAuth
    status:
      code: 200
      message: OK
- request:
    body: !!python/unicode '{"description": "{\"by\": \"vagrant\", \"mark\": \"test_awacs.juggler_testing\",
      \"when_tzlocal\": \"2021-05-28 13:57:17\", \"where\": \"nanny\", \"with\": \"juggler-sdk\"}",
      "tags": ["testing_juggler_checks", "a_mark_test_awacs.juggler_testing"], "pronounce":
      "", "notifications": [], "host": "testing_juggler_host", "meta": {}, "active":
      null, "check_options": null, "children": [], "service": "testing_juggler_service",
      "aggregator": null, "namespace": "test_awacs.juggler_testing", "aggregator_kwargs":
      null, "flaps": null, "active_kwargs": null}'
    headers:
      !!python/unicode Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: http://juggler-api.search.yandex.net/api/checks/add_or_update?do=1
  response:
    body:
      string: !!python/unicode '{"success": true}'
    headers:
      content-type:
      - application/json
      x-authentication:
      - OAuth
      x-juggler-node:
      - myt-prod.juggler.search.yandex.net
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: http://juggler-api.search.yandex.net/api/checks/checks?do=1&tag_name=a_mark_test_awacs.juggler_testing
  response:
    body:
      string: !!python/unicode '{"testing_juggler_host": {"testing_juggler_service":
        {"description": "{\"by\": \"vagrant\", \"mark\": \"test_awacs.juggler_testing\",
        \"when_tzlocal\": \"2021-05-28 13:57:17\", \"where\": \"nanny\", \"with\":
        \"juggler-sdk\"}", "creation_time": 1622210238.333827, "modification_time":
        1622210238.452334, "check_id": "-48699908733441513", "refresh_time": 90, "ttl":
        900, "max_status": null, "alert_interval": [null, null], "aggregator": null,
        "aggregator_kwargs": null, "tags": ["testing_juggler_checks", "a_mark_test_awacs.juggler_testing"],
        "methods": null, "active": null, "active_kwargs": null, "flap_time": null,
        "stable_time": null, "critical_time": null, "boost_time": null, "namespace":
        "test_awacs.juggler_testing", "check_options": null, "pronounce": "", "autogenerated":
        false}}}'
    headers:
      content-type:
      - application/json
      etag:
      - '"fa73b1f8b8f9c2f6bd07b8159cb8d038613e5a8e"'
      x-authentication:
      - OAuth
      x-juggler-node:
      - iva-prod.juggler.search.yandex.net
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: GET
    uri: http://juggler-api.search.yandex.net/api/checks/remove_check?do=1&host_name=testing_juggler_host&service_name=testing_juggler_service
  response:
    body:
      string: !!python/unicode null
    headers:
      content-type:
      - application/json
      etag:
      - '"2be88ca4242c76e8253ac62474851065032d6833"'
      x-authentication:
      - OAuth
      x-juggler-node:
      - vla-prod.juggler.search.yandex.net
    status:
      code: 200
      message: OK
version: 1
