interactions:
- request:
    body: !!python/unicode abc=new_nanny&fqdn=test2.test.ru
    headers:
      Authorization: [OAuth AQAD-XXX]
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://l3-api.tt.yandex-team.ru:8080/api/v1/service
  response:
    body: {string: !!python/unicode '{"errors": {"fqdn": ["Service with this FQDN
        already exists."]}, "message": "* fqdn\n  * Service with this FQDN already
        exists.", "result": "ERROR"}'}
    headers:
      content-type: [application/json]
    status: {code: 400, message: Bad Request}
version: 1
