.TestId {
    display: flex;

    padding: 4px 4px 4px 32px;

    border-radius: 4px;

    &__button {
        width: 130px;
        margin-right: 16px;
    }

    &__title {
        font-size: var(--fs-small);
        line-height: var(--lh-small);
    }
}
