Source: yandex-auto2-config-ru-testing
Section: yandex
Priority: optional
Maintainer: daedra <daedra@yandex-team.ru>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: yandex-auto2-config-ru-testing
Architecture: all
Provides: yandex-auto2-config-testing
Description: Auto2 locale dependent configurations for testing environment
