Source: yandex-vertis-hadoop-configs-l3tor-test
Section: unknown
Priority: optional
Maintainer: Aleksandr Deev <xtrm@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>

Package: yandex-vertis-hadoop-configs-l3tor-test
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
