# Игнорируем каталоги darkspirit, поскольку его образ мы не собираем
darkspirit
# Игнорируем каталог база Oracle, чтобы не смущать кэш докера
db_volume
.vscode
.idea
build.gradle
.gradle
gradle
build
