[vertis-share-testing]
aws_access_key_id = {{lookup('yav', 'ver-01d7m0ms38656n3z9gp4waxct3', 'AccessKeyIdTesting')}}
aws_secret_access_key = {{lookup('yav', 'ver-01d7m0ms38656n3z9gp4waxct3', 'AccessSecretKeyTesting')}}

[vertis-share-prod]
aws_access_key_id = {{lookup('yav', 'ver-01d7m0ms38656n3z9gp4waxct3', 'AccessKeyIdProd')}}
aws_secret_access_key = {{lookup('yav', 'ver-01d7m0ms38656n3z9gp4waxct3', 'AccessSecretKeyProd')}}
