KeyInvOptions {
  PortionConfig {
      PortionTupleName : "keyinv"
  }
  MaxSubPortions: 200
  LevelToStoreOnDisk: 2
  UseInternalMap: false
}
ArcOptions {
  TupleName: "arc"
  ArcFileName: "indexarc"
  DirFileName: "indexdir"
  PatchTextArcHeaders: true
  BeautyUrlTupleName: "CasedUrl"
}
LinkKeyInvOptions {
    PortionConfig {
        PortionTupleName: "refkeyinv"
        WordWeightTupleName: "refaww"
    }
  WordWeightTupleName: "refaww"
  MaxSubPortions: 200
  LevelToStoreOnDisk: 2
  UseInternalMap: false
}
LinkArcOptions {
  TupleName: "refarc"
  ArcFileName: "index.refarc"
  DirFileName: "index.refdir"
  AllowEmptyArchives: true
}
SentenceLengthsOptions {
    SentenceLengthsTupleName: "SentenceLengths"
}
UrlDocOptions {
    MainRobotUrlTupleName: "NotExistingTuple"
    MainRobotUrlTupleName: "MainRobotUrl"
}
ErfOptions {
  ErfTupleName: "KiwiErf2Features"
  ErfTupleName: "AntispamHostErf2Features"
  ErfTupleName: "AntispamErf2Features"
  ErfTupleName: "DaterErf2Features"
  ErfTupleName: "TextErf2Features"
  ErfTupleName: "UrlDataErf2Features"
  ErfTupleName: "UserDataErf2Features"
  ErfTupleName: "lerf2"
  ErfTupleName: "RemappedDupsFeatures"
  ErfTupleName: "RemappedCatalogErf2Features"
  ErfTupleName: "AggregatedKiwiErf2Features"
  ErfTupleName: "NastyImageErf2Features"
  ErfTupleName: "RemappedMainMirrorUrlFeatures"
}
HostErfOptions {
    HostErfTupleName:     "HostErfInfo"
    RegHostErfTupleName:  "RegHostErfInfos"
}
InvUrlHashOptions {
    InvUrlHashTupleName: "UrlDataErf2Features"
}
TitleSeqOptions {
    TitleTupleName: "Title"
}
CMapOptions {
    CMapTupleName: "refcaw"
}
XMapOptions {
    XMapTupleName: "refxmap"
}
DMapOptions {
    DMapTupleName: "refdmap"
}
RefLerfOptions {
    RefLerfTupleName: "reflerf"
}
FrqOptions {
    MaxFreqTupleName: "MaxFreq"
}
NavSrcOptions {
    MainRobotUrlTupleName: "MainRobotUrl"
    NavSourceTupleName: "NavInfo"
}
FreshErfOptions {
    FreshErfTupleName: "FreshErfInfo"
    Updatable: true
}
MangoErfOptions {
    MangoErfTupleName: "MangoErfInfo"
    Updatable: true
}
GroupAttrOptions {
  GroupAttrTupleName: "GroupAttrs"
}
AnnotationsOptions {
  KeyInvOptions {
    MaxSubPortions: 200
    LevelToStoreOnDisk: 2
    PortionConfig {
      PortionTupleName: "AnnKeyInv"
    }
  }
  Array4DOptions {
    DataTupleName: "AnnArray4DPortions"
  }
  SentenceLengthsOptions {
    PoliteSentenceLengthsTupleNames: "AnnSent"
  }
}
FactorAnnOptions {
  FileNameBase: "indexfactorann"
  KeyInvOptions {
    MaxSubPortions: 200
    LevelToStoreOnDisk: 2
    PortionConfig {
      PortionTupleName: "FactorAnnKeyInv"
      IsPolitePortion: true
    }
  }
  Array4DOptions {
    DataTupleName: "FactorAnnArray4DPortions"
    PoliteMode: true
  }
  SentenceLengthsOptions {
    PoliteSentenceLengthsTupleNames: "FactorAnnSent"
  }
}
Sorter {
  Pruning {
   SelectionRankName: "ER_RUSSIAN_EXPORT_RANK"
   RankValuesTupleName: "AllExportRanks"
   UrlTupleName: "URL"
   IsRequired: false
   SourceType: Ukrop
  }
}
RegErfOptions {
  RegErfTupleName: "RegErf"
}
#UrlUserDataOptions {
#    QueryClicksUserDataTupleName: "QueryClicksUserDataCompressed"
#    DataDirectory: "/place/db/BASE/models_shard/"
#    IsCompressed: true
#}
StaticDataOptions {
    RecipeConfig {
      Files {
          Name: "by.query"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/by.query"
      }
      Files {
          Name: "kz.query"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/kz.query"
      }
      Files {
          Name: "porno.query"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/porno.query"
      }
      Files {
          Name: "ua.query"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/ua.query"
      }
      Files {
          Name: "cat.c2s"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/cat.c2s"
      }
      Files {
          Name: "geo.c2s"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/geo.c2s"
      }
      Files {
          Name: "cat.c2p"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/cat.c2p"
      }
      Files {
          Name: "dmoz.c2p"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/dmoz.c2p"
      }
      Files {
          Name: "genre.c2p"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/genre.c2p"
      }
      Files {
          Name: "geo.c2p"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/geo.c2p"
      }
      Files {
          Name: "onl.c2p"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/onl.c2p"
      }
      Files {
          Name: "sect.c2p"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/sect.c2p"
      }
      Files {
          Name: "src.c2p"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/src.c2p"
      }
      Files {
          Name: "xxx.c2p"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/xxx.c2p"
      }
      Files {
          Name: "geo.c2CountryCity"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/geo.c2CountryCity"
      }
      Files {
          Name: "geoBase.c2CountryRegion"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/geoBase.c2CountryRegion"
      }
      Files {
          Name: "geoa.c2p"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/geoa.c2p"
      }
      Files {
          Name: "stopword.lst"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/stopword.lst"
      }
      Files {
          Name: "geo.stat"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/geo.stat"
      }
      Files {
          Name: "indexmisc"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/indexmisc"
      }
      Files {
          Name: "indextp"
          CopyToShard: true
          LocalPath: "${RES_PATH}/oxy_data/indextp"
      }
    }
}
ShardConfOptions {
    ShardName: "refresh-test-shard"
}
RTYProcessorOptions {
    HistogramOptions {
        Source {
            TupleName: "DocTimestamp"
            Range: 100
        }
    }
    PantherOptions {
        MapperConfig {
            Input {
                TextPortionTupleName: "keyinv"
                RefPortionTupleName: "refkeyinv"
                AnnPortionTupleName: "AnnKeyInv"
            }
            Output {
                PantherCountsPortionTupleName: "PantherCountsKeyInv"
                PantherCountsFormatTupleName: "PantherCountsFormat"
            }
            Version: "0.1"
            IndexingMode: "full"
        }
        KeyInvOptions {
            PortionConfig {
                PortionTupleName: "PantherCountsKeyInv"
                FormatTupleName: "PantherCountsFormat"
            }
            MaxSubPortions: 200
            LevelToStoreOnDisk: 2
            UseInternalMap: false
        }
        CountsToPantherOptions {
            MinUnigramRelevance: 0.032
            MinBigramRelevance: 0.07
            RelevanceMultiplier: 100
            MaxUnigramIdf: 5000
        }
    }
}
