from yweb.crawlrank.config.src.recycleapp import *

from yweb.crawlrank.config.src.datastore import *
from yweb.crawlrank.config.src.datastoreapp import *

from yweb.crawlrank.config.src.controller import *
from yweb.crawlrank.config.src.metrics import *
from yweb.crawlrank.config.src.metricviews import *

from yweb.crawlrank.config.src.distributor import *
from yweb.crawlrank.config.src.cluster import *

from yweb.crawlrank.config.src.applistapp import *


# Base paths and config
Common.Profile = "distributor"
Common.DataDir = AbsPath("")
Common.ConfigFile = Eval("AbsPath(Common.ConfigDir +\"/distributor.cfg\")")
Common.RootDir = Eval("AbsPath(Common.Berkanavt + \"/distributor\")")
Common.DefaultIpFamily = socket.AF_INET6

Common.BasePort = systemdefaults.GetBasePortForUser() + 10000
Controller.HttpPort = systemdefaults.GetHttpPortForUser() + 10000

# Controller UI customization
Controller.WikiLink       = "http://wiki.yandex-team.ru/JandeksPoisk/Orange"
Controller.Title          = socket.gethostname() + " - Distributor"
Controller.Headline       = "<font color=\"lavender\">Distributor</font>"
Controller.Slogan         = socket.gethostname()



# Cluster config
DistCluster.Size  = 1
DistCluster.NeedDataStore = True

DistCluster.Nodes = [
    Node(socket.getfqdn(), Id=0),
    ]

DistributorApp.Port = systemdefaults.GetBasePortForUser() + 10100
DistributorApp.ControlProtocol = ""

DistCluster.Services = [
    Service(DistributorApp.ConfigSection.ServiceName, KeyType = "dist-url", Port = DistributorApp.Port),
]

Distributor.Streams = [
    DistStream('tests', Table = 'rtyserver_messages',
               ChunkCacheNumElements=500, ChunkRotatePeriod = 1 * SECONDS),
    ]

DataStore.Environments = [
   Environment("dist_blob",    Type = 'blob', MaintFreq = 150, FileNumLimit = StartConfigOptions["DistMaxOpenedBlobFiles"]),
]

DataStore.Tables = [
   # Distributor
   # MaxCompleteFileCount implicitly specifies storage time (since 1 file per hour is used usually)
   BlobTable("rtyserver_messages", Type = "sparseindexed", KeyType = "dist-local", BufferSize = 1024*1024, Env='dist_blob',
             AutoCommitPeriod = 3600, CanReadFromWritable = 1, MaxCompleteFileCount = 24 + 12),
   ]


MetricConfig.Graphs += [

    Graph("Distributor_Deposit", Stack=True,
        Metrics = [
                Metric("Distributor_Deposit_Total", Color="#0000FF", StackBase=True),
                Metric("Distributor_Deposit_Ok", Color="#82CB24"),
                Metric("Distributor_Deposit_Reject", Color="#FFD200"),
                Metric("Distributor_Deposit_Error", Color="#C00000"),
        ]),
    Graph("Distributor_Request", Stack = True,
        Metrics = [
            Metric("Distributor_Request_Bulk"),
        ]),
    Graph("Distributor_RequestedDocs", Stack = True,
        Metrics = [
            Metric("Distributor_BulkRequest_NumDocs", FullName="docs per bulk request"),
        ]),
    Graph("Distributor_RequestedChunks", Stack = True,
        Metrics = [
            Metric("Distributor_RequestChunks_Ok", Color="#82CB24"),
            Metric("Distributor_RequestChunks_Reject", Color="#FFD200"),
            Metric("Distributor_RequestChunks_Error", Color="#C00000"),
            Metric("Distributor_RequestChunks_Dropped", Color="#0000FF"),
        ]),
]

DistributorMetrics = ["Distributor_Deposit", "Distributor_Request", "Distributor_RequestedDocs", "Distributor_RequestedChunks"]


MetricViews.Profiles = [
    MetricProfile("distributor", ["Distributor_DepositNewsStreams"]),
]


# AppList must always be last in order to correctly setup application list

Apps.append(AppListApp)


print "Controller = %s" % Controller.HttpPort
