ExportTypeTuple:    "ExportType"
DefaultExportType:  "JsonDocArray"

ExportType {
    Name:       "JsonDocArray"
    Processor:  "Index"

    # listing defaults
    JsonDocsTuple: "json_array"
}
ExportType {
    Name:       "Tuples"
    Processor:  "Oxy"

    # listing defaults
    KeyprefixTuple:     "SaasKeyprefix"
    ExternalShardTuple: "SaasShard"
    VersionTuple:       "Version"
    ActionTypeTuple:    "ActionType"
    ServiceTuple:       "SaasService"
    DistributorAttrsTuple: "DistributorAttributes"
}
ExportType {
    Name:       "RefreshAddDoc"
    Processor:  "Oxy"

    TimestampTuple: "DocTimestamp"
}
ExportType {
    Name:       "RefreshDeleteDoc"
    Processor:  "Oxy"
}
ExportType {
    Name:       "RefreshUpdateDoc"
    Processor:  "Oxy"

    TimestampTuple: "DocTimestamp"
}
