<?xml version="1.0" ?>
<meta>
  <coveragePath>geoid.mms.1</coveragePath>
  <coveragePath>trf.mms.1</coveragePath>
  <coveragePath>stl.mms.1</coveragePath>
  <spanRequestRestrictions>
    <allow layer="geoid" withoutZoom="true" minZoom="0" maxSize="30.0"/>
    <allow layer="stl" withoutZoom="false" minZoom="0" maxSize="30.0"/>
    <!-- allow huge spans for trf layer to check their parsing -->
    <allow layer="trf" withoutZoom="false" minZoom="6" maxSize="301.0"/>
  </spanRequestRestrictions>
  <requiredLayer>geoid</requiredLayer>
  <requiredLayer>trf</requiredLayer>
  <requiredLayer>stl</requiredLayer>
  <versionPatchPath>compose-version</versionPatchPath>
</meta>
