NODE_ENV=development
API_URL=https://test.courier.yandex.ru/api/v1
E2E_TESTS_API_TOKEN=
API_KEY=
E2E_TEST_USER_PASSWORD=
BRANCH_NAME=0001-test-e2e
TUS_OAUTH_TOKEN=
BASE_URL=https://localhost.msup.yandex.ru:8082/courier/ # trailing slash needed
