<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd

		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd"
       default-autowire="byName">

    <import resource="testDictionaries.xml"/>

    <bean id="antlrQueryProcessor"
          class="ru.yandex.auto.searcher.query2.AntlrQueryProcessorImpl" autowire="no">
        <property name="dictionariesMap" ref="fields"/>
        <property name="queryParameterVisitorFactory">
            <bean class="ru.yandex.auto.searcher.query2.QueryParameterVisitorFactoryImpl"/>
        </property>
    </bean>

    <util:map id="fields">
        <entry value-ref="markDictionary">
            <key>
                <util:constant static-field="ru.yandex.auto.searcher.query2.QueryParser.MARK"/>
            </key>
        </entry>
        <entry value-ref="modelDictionary">
            <key>
                <util:constant static-field="ru.yandex.auto.searcher.query2.QueryParser.MODEL"/>
            </key>
        </entry>
        <entry value-ref="yearSymbolDictionary">
            <key>
                <util:constant static-field="ru.yandex.auto.searcher.query2.QueryParser.YEAR_SYMBOL"/>
            </key>
        </entry>
        <entry value-ref="intervalFromSymbolDictionary">
            <key>
                <util:constant static-field="ru.yandex.auto.searcher.query2.QueryParser.INTERVAL_FROM_SYMBOL"/>
            </key>
        </entry>
        <entry value-ref="intervalToSymbolDictionary">
            <key>
                <util:constant static-field="ru.yandex.auto.searcher.query2.QueryParser.INTERVAL_TO_SYMBOL"/>
            </key>
        </entry>
        <entry value-ref="displacementSymbolDictionary">
            <key>
                <util:constant static-field="ru.yandex.auto.searcher.query2.QueryParser.DISPLACEMENT_SYMBOL"/>
            </key>
        </entry>
        <entry value-ref="currencySymbolDictionary">
            <key>
                <util:constant static-field="ru.yandex.auto.searcher.query2.QueryParser.CURRENCY_SYMBOL"/>
            </key>
        </entry>
        <entry value-ref="numberScaleDictionary">
            <key>
                <util:constant static-field="ru.yandex.auto.searcher.query2.QueryParser.NUMBER_SCALE"/>
            </key>
        </entry>
        <entry value-ref="stopWordDictionary">
            <key>
                <util:constant static-field="ru.yandex.auto.searcher.query2.QueryParser.STOP_WORD"/>
            </key>
        </entry>
        <entry value-ref="autoThematicWordDictionary">
            <key>
                <util:constant static-field="ru.yandex.auto.searcher.query2.QueryParser.AUTO_THEMATIC_WORD"/>
            </key>
        </entry>
        <entry value-ref="neutralWordDictionary">
            <key>
                <util:constant static-field="ru.yandex.auto.searcher.query2.QueryParser.NEUTRAL_WORD"/>
            </key>
        </entry>
        <entry value-ref="sellerCityDictionary">
            <key>
                <util:constant static-field="ru.yandex.auto.searcher.query2.QueryParser.SELLER_CITY"/>
            </key>
        </entry>
        <entry value-ref="bodyTypeDictionary">
            <key>
                <util:constant static-field="ru.yandex.auto.searcher.query2.QueryParser.BODY_TYPE"/>
            </key>
        </entry>
        <entry value-ref="intentionalWordDictionary">
            <key>
                <util:constant static-field="ru.yandex.auto.searcher.query2.QueryParser.INTENTIONAL_WORD"/>
            </key>
        </entry>
        <entry value-ref="colorDictionary">
            <key>
                <util:constant static-field="ru.yandex.auto.searcher.query2.QueryParser.COLOR"/>
            </key>
        </entry>
        <entry value-ref="transmissionDictionary">
            <key>
                <util:constant static-field="ru.yandex.auto.searcher.query2.QueryParser.TRANSMISSION"/>
            </key>
        </entry>
        <entry value-ref="wheelDictionary">
            <key>
                <util:constant static-field="ru.yandex.auto.searcher.query2.QueryParser.STEERING_WHEEL"/>
            </key>
        </entry>
        <entry value-ref="stockDictionary">
            <key>
                <util:constant static-field="ru.yandex.auto.searcher.query2.QueryParser.IN_STOCK"/>
            </key>
        </entry>
        <entry value-ref="stateDictionary">
            <key>
                <util:constant static-field="ru.yandex.auto.searcher.query2.QueryParser.STATE"/>
            </key>
        </entry>
        <entry value-ref="photoDictionary">
            <key>
                <util:constant static-field="ru.yandex.auto.searcher.query2.QueryParser.PHOTO"/>
            </key>
        </entry>
    </util:map>

    <bean id="markDictionary" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="ru.yandex.common.util.functional.Function"/>
    </bean>

    <bean id="modelDictionary" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="ru.yandex.common.util.functional.Function"/>
    </bean>

    <bean id="carSearchParamsFactory" class="ru.yandex.auto.searcher.core.CarSearchParamsFactoryImpl">
        <property name="langsProvider">
            <bean class="ru.yandex.auto.core.dictionary.SimpleLangsProvider">
                <constructor-arg>
                    <list>
                        <value>RU</value>
                    </list>
                </constructor-arg>
            </bean>
        </property>
    </bean>

    <bean id="regionService" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="ru.yandex.auto.searcher.main.region.RegionServiceImpl"/>
    </bean>

    <bean id="vendorManager" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="ru.yandex.auto.core.vendor.VendorManager"/>
    </bean>

</beans>