coverage==4.5.4
envbox==1.2.0
freezegun==1.0.0
pytest==4.0.1
pytest-cov==2.8.1
pytest-django==3.10.0
pytest-responsemock==0.2.0

# Fix TypeError: attrib() got an unexpected keyword argument 'convert'
# https://github.com/pytest-dev/pytest/issues/3280
attrs==19.1.0
