# Yandex-HBF-Agent: protected
*filter
:DOCKER_INET_FILTER_V4 -
-A DOCKER_INET_FILTER_V4 -s 172.0.0.0/8 -d 10.128.0.0/16 -j RETURN
-A DOCKER_INET_FILTER_V4 -s 172.0.0.0/8 -d 10.129.0.0/16 -j RETURN
-A DOCKER_INET_FILTER_V4 -s 172.0.0.0/8 -d 10.130.0.0/16 -j RETURN
-A DOCKER_INET_FILTER_V4 -s 172.0.0.0/8 -d 51.250.3.159 -j RETURN
-A DOCKER_INET_FILTER_V4 -s 172.0.0.0/8 -d 130.193.35.68 -j RETURN
-A DOCKER_INET_FILTER_V4 -s 172.0.0.0/8 -d 62.84.117.188 -j RETURN
-A DOCKER_INET_FILTER_V4 -s 172.0.0.0/8 -d 193.32.218.133 -j RETURN
-A DOCKER_INET_FILTER_V4 -s 172.0.0.0/8 -d 213.180.204.188 -j RETURN
-A DOCKER_INET_FILTER_V4 -s 172.0.0.0/8 -d 93.158.134.188 -j RETURN
-A DOCKER_INET_FILTER_V4 -s 172.0.0.0/8 -d 213.180.193.243 -j RETURN
-A DOCKER_INET_FILTER_V4 -s 172.0.0.0/8 -j LOG --log-prefix='[docker-inet-filter]'
-A FORWARD -j DOCKER_INET_FILTER_V4
COMMIT
