# Yandex-HBF-Agent: protected
*filter
:DOCKER_INET_FILTER -
-A DOCKER_INET_FILTER -s {{ docker_ipv6_subnet }} -d fe80::/10 -j RETURN
-A DOCKER_INET_FILTER -s {{ docker_ipv6_subnet }} -d ff00::/8 -j RETURN
-A DOCKER_INET_FILTER -s {{ docker_ipv6_subnet }} ! -d 2a02:6b8::/32 -j LOG --log-prefix='[docker-inet-filter]'
-A DOCKER_INET_FILTER -s {{ docker_ipv6_subnet }} ! -d 2a02:6b8::/32 -j DROP
-A FORWARD -j DOCKER_INET_FILTER
COMMIT
