# Yandex-HBF-Agent: protected
*filter
:HOST_INET_FILTER_V4 -
-A HOST_INET_FILTER_V4 -s {{ ansible_default_ipv4.address }} -d 10.128.0.0/16 -j RETURN
-A HOST_INET_FILTER_V4 -s {{ ansible_default_ipv4.address }} -d 10.129.0.0/16 -j RETURN
-A HOST_INET_FILTER_V4 -s {{ ansible_default_ipv4.address }} -d 10.130.0.0/16 -j RETURN
-A HOST_INET_FILTER_V4 -s {{ ansible_default_ipv4.address }} -d 51.250.3.159 -j RETURN
-A HOST_INET_FILTER_V4 -s {{ ansible_default_ipv4.address }} -d 130.193.35.68 -j RETURN
-A HOST_INET_FILTER_V4 -s {{ ansible_default_ipv4.address }} -d 62.84.117.188 -j RETURN
-A HOST_INET_FILTER_V4 -s {{ ansible_default_ipv4.address }} -d 193.32.218.133 -j RETURN
-A HOST_INET_FILTER_V4 -s {{ ansible_default_ipv4.address }} -d 172.16.0.0/16 -j RETURN
-A HOST_INET_FILTER_V4 -s {{ ansible_default_ipv4.address }} -d 172.17.0.0/16 -j RETURN
-A HOST_INET_FILTER_V4 -s {{ ansible_default_ipv4.address }} -d 172.18.0.0/16 -j RETURN
-A HOST_INET_FILTER_V4 -s {{ ansible_default_ipv4.address }} -d 95.108.129.183 -j RETURN
-A HOST_INET_FILTER_V4 -s {{ ansible_default_ipv4.address }} -d 37.140.149.198 -j RETURN
-A HOST_INET_FILTER_V4 -s {{ ansible_default_ipv4.address }} -d 37.140.149.199 -j RETURN
-A HOST_INET_FILTER_V4 -s {{ ansible_default_ipv4.address }} -d 95.108.129.181 -j RETURN
-A HOST_INET_FILTER_V4 -s {{ ansible_default_ipv4.address }} -d 5.255.192.0/18 -j RETURN
-A HOST_INET_FILTER_V4 -s {{ ansible_default_ipv4.address }} -d 213.180.193.1 -j RETURN
-A HOST_INET_FILTER_V4 -s {{ ansible_default_ipv4.address }} -d 141.8.146.10 -j RETURN
-A HOST_INET_FILTER_V4 -s {{ ansible_default_ipv4.address }} -d 169.254.169.254 -j RETURN
-A HOST_INET_FILTER_V4 -s {{ ansible_default_ipv4.address }} -d 213.180.204.183 -j RETURN
-A HOST_INET_FILTER_V4 -s {{ ansible_default_ipv4.address }} -d 213.180.205.147 -j RETURN
-A HOST_INET_FILTER_V4 -s {{ ansible_default_ipv4.address }} -d 213.180.205.3 -j RETURN
-A HOST_INET_FILTER_V4 -s {{ ansible_default_ipv4.address }} -j LOG --log-prefix='[host-inet-filter]'
-A OUTPUT -j HOST_INET_FILTER_V4
COMMIT
