--extra-index-url https://pypi.yandex-team.ru/simple/

-r ../requirements/pypi.txt
nose==1.3.6
mock==1.0.1
pudb
nose-progressive
-e git+https://github.com/eprikazc/nose-html-reporting.git@master#egg=nose-html-reporting
#nose-html-reporting
pyhamcrest
# to write matchers for pyhamcrest easily
matchmaker
coverage

git+https://github.com/evanhempel/python-flamegraph.git

paramiko


# Fixed versions to go to Arcadia
# https://st.yandex-team.ru/DIR-6382
pyOpenSSL==18.0.0

responses==0.10.6
