.gallery {
    width: 600px;
    height: 400px;

    /* это переопределение необходимо, так как в тестах при первой отрисовке происходит скрол, которого нет в браузере */
    div {
        scroll-snap-stop: unset !important;
        scroll-snap-type: unset !important;
    }
}
