.container {
    width: 100vw;
    height: 100vh;
    margin: -20px;

    text-align: center;
    white-space: pre-wrap;

    background: var(--black-alpha-56);

    &.withHighlitedHeader h2 {
        text-decoration: underline;

        color: #f00;
    }
}
