/* stylelint-disable realty/use-guide-variables */
:root {
    --red: #f00;
    --green: rgb(0, 255, 0);
    --black: #000;
    --gray: #808080;
    --white: #fff;

    --font-size-14: 14px;
    --border-radius: 8px;
}
/* stylelint-enable realty/use-guide-variables */
