Дорогой вы наш любимый глубокоуважаемый, {{ role_digest.user.first_name }} {{ role_digest.user.middle_name }}!

Не будете ли вы так любезны напомнить своим подопечным пройти курс {{ role_digest.periodic_role_digest.periodic_course.course }}
