Привет!
Обрати внимание на эту задачу: в течение недели нужно пройти обязательный ((https://moe.yandex-team.ru/courses/my/course/684 тренинг по корпоративной этике)). 
Возможно, у вас возникли какие-то технические сложности, тогда оставьте здесь комментарий или напишите на рассылку lms@
