<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT_AKKA" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    return mdc != null &amp;&amp; mdc.get("shortActorPath") != null;
                </expression>
            </evaluator>
            <OnMatch>NEUTRAL</OnMatch>
            <OnMismatch>DENY</OnMismatch>
        </filter>
        <encoder>
            <pattern>[%date{"yyyy-MM-dd HH:mm:ss,SSS"}] %-5level [%X{shortActorPath}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_STDOUT_AKKA" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT_AKKA"/>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    return mdc != null &amp;&amp; mdc.get("shortActorPath") != null;
                </expression>
            </evaluator>
            <OnMatch>DENY</OnMatch>
            <OnMismatch>NEUTRAL</OnMismatch>
        </filter>
        <encoder>
            <pattern>[%date{"yyyy-MM-dd HH:mm:ss,SSS"}] %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <appender name="PROTO_JSON_LOG" class="ch.qos.logback.core.FileAppender">
        <file>${logging.path}/billing-tms-proto-json.log</file>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>


    <appender name="TRANSACTION_BILLING_INFO_PROTO_JSON_LOG" class="ch.qos.logback.core.FileAppender">
        <file>${logging.path}/billing-tms-transaction-billing-info-proto-json.log</file>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_PROTO_JSON_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="PROTO_JSON_LOG"/>
    </appender>

    <appender name="ASYNC_TRANSACTION_BILLING_INFO_PROTO_JSON_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="TRANSACTION_BILLING_INFO_PROTO_JSON_LOG"/>
        <queueSize>2000</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <logger name="org.apache.zookeeper" level="ERROR" additivity="false">
        <appender-ref ref="ASYNC_STDOUT"/>
    </logger>

    <logger name="ru.yandex.vertis.billing.service.logging.LoggedSttpBackend" level="INFO" additivity="false">
        <appender-ref ref="ASYNC_STDOUT"/>
    </logger>

    <logger name="ru.yandex.vertis.billing.callcenter.client.CallCenterWithCampaignsClient" level="INFO" additivity="false">
        <appender-ref ref="ASYNC_STDOUT"/>
    </logger>


    <logger name="slick.jdbc" level="INFO">
        <appender-ref ref="ASYNC_STDOUT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="ASYNC_STDOUT"/>
    </root>

</configuration>
