interactions:
- request:
    body: null
    headers:
      Authorization: [!!python/unicode OAuth 849f671d9cc44cbdb9f236c214e42bf6]
    method: GET
    uri: https://staff-api.test.yandex-team.ru/v3/persons?login=thasonic&_fields=login%2Cname%2Cofficial.is_dismissed%2Cpersonal.gender%2Cmemorial&_limit=2000
  response:
    body: {string: "{\"links\": {}, \"page\": 1, \"limit\": 2000, \"result\": [{\"personal\":
        {\"gender\": \"male\"}, \"login\": \"thasonic\", \"memorial\": null, \"official\":
        {\"is_dismissed\": true}, \"name\": {\"middle\": \"\", \"has_namesake\": false,
        \"first\": {\"ru\": \"\u0410\u043B\u0435\u043A\u0441\u0430\u043D\u0434\u0440\",
        \"en\": \"Alexander\"}, \"last\": {\"ru\": \"\u041F\u043E\u043A\u0430\u0442\u0438\u043B\u043E\u0432\",
        \"en\": \"Pokatilov\"}, \"hidden_middle\": true}}], \"total\": 1, \"pages\":
        1}"}
    headers:
      content-type: [application/json; charset=utf-8]
      link: ['']
      x-qloud-router: [router.pool31h.qloud-c.yandex.net]
    status: {code: 200, message: OK}
version: 1
