[email]
receiver=balance-dwh-info@yandex-team.ru,shorrty@yandex-team.ru
sender=robot-dwh-test@yandex-team.ru
force-send=True

[core]
logging_conf_file=/etc/dwh/logging.conf

[retcode]
# The following return codes are the recommended exit codes for Luigi
# They are in increasing level of severity (for most applications)
already_running=10
missing_data=20
not_run=25
task_failed=30
scheduling_error=35
unhandled_exception=40

# The following [worker] and [scheduler] configurations are using for ability to add retry_count to certain tasks.
[worker]
# keep_alive should be true to ask workers to be alive if we'll want to retry
keep_alive = true

[scheduler]
# retry_count should be zero, instead we will retry to end of live
retry_count = 0
# retry_delay in seconds, overriding default timeout for 15 min
retry_delay = 10
