{
    "plugins": [
      "testcafe"
    ],
    "extends": [
        "data-ui",
        "plugin:testcafe/recommended"
    ],
    "parserOptions": {
        "sourceType": "module"
    },
    "parser": "babel-eslint",
    "rules": {
        "new-cap":"off",
        "no-unused-vars": "warn",
        "max-len": "off",
        "valid-jsdoc": "off"
    },
    "env": {
        "node": true
    }
  }