function Set(list)
  local set = {{}}
  for _, l in ipairs(list) do set[l] = true end
  return set
end

package.path = package.path
    {require_paths}

package.cpath = package.cpath
    {require_cpaths}

{require_commands}
