local valid_tvm_dst = Set({{
    {valid_tvm_dst}
}})

-- Mock tvm2 plugin
tvm2 = {{
    attach_service_ticket = function(dst)
        if not valid_tvm_dst[dst] then
            error('Destination is not valid: ' .. dst)
        else
            ngx.req.set_header('X-Ya-Service-Ticket', 'dummy-ticket-' .. dst)
        end
    end
}}
