    server {{
        error_log error.log info;
        access_log access.log unittest_format;

        listen unix:{work_dir}/{name}.sock;

        location / {{
            set $request_file {request_file};
            set $response_file {response_file};
            content_by_lua_file upstream.lua;
        }}
    }}

    upstream {name} {{
        server unix:{work_dir}/{name}.sock;
    }}
