interactions:
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://staff.test.yandex-team.ru/gap-api/api/gaps_find/?date_from=2018-03-14&person_login=mokhov&person_login=zhigalov&date_to=2018-03-15
  response:
    body: {string: '{"gaps": [{"comment": "\u0414\u043b\u044f \u0442\u0435\u0441\u0442\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u044f.
        \u041f\u0440\u043e\u0432\u0435\u0440\u044f\u044e \u0447\u0442\u043e \u0441\u0435\u0440\u0432\u0438\u0441
        EASYMEETING \u0443\u0447\u0438\u0442\u044b\u0432\u0430\u0435\u0442 \u043e\u0442\u0441\u0443\u0442\u0441\u0442\u0432\u0438\u044f
        \u0441\u043e\u0442\u0440\u0443\u0434\u043d\u0438\u043a\u043e\u0432", "workflow":
        "absence", "work_in_absence": true, "date_from": "2018-03-14T00:00:00", "to_notify":
        [], "person_login": "zhigalov", "date_to": "2018-03-15T00:00:00", "full_day":
        true, "id": 434316}], "total": 1, "limit": 100, "page": 0, "pages": 1}'}
    headers:
      content-language: [ru]
      content-type: [application/json; charset=utf-8]
      x-qloud-router: [myt3-3b1f69d65104.qloud-c.yandex.net, iva1-f7f6489209e7.qloud-c.yandex.net]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://staff.test.yandex-team.ru/gap-api/api/gaps_find/?date_from=2018-03-14&page=1&person_login=mokhov&person_login=zhigalov&date_to=2018-03-15
  response:
    body: {string: '{"gaps": [], "total": 1, "limit": 100, "page":
        1, "pages": 1}'}
    headers:
      content-language: [ru]
      content-type: [application/json; charset=utf-8]
      x-qloud-router: [iva1-f7f6489209e7.qloud-c.yandex.net, iva1-f7f6489209e7.qloud-c.yandex.net]
    status: {code: 200, message: OK}
version: 1
