interactions:
- request:
    body: null
    headers:
      X-Ya-Service-Ticket: ['****']
    method: GET
    uri: https://staff-api.test.yandex-team.ru/v3/persons?login=mokhov%2Csibirev%2Ckiparis&_fields=login%2Clocation.office.id%2Cofficial.is_dismissed&_limit=1000&_sort=id
  response:
    body: {string: '{"links": {}, "page": 1, "limit": 1000, "result":
        [{"login": "mokhov", "official": {"is_dismissed": false}, "location": {"office":
        {"id": 2}}}, {"login": "sibirev", "official": {"is_dismissed": false}, "location":
        {"office": {"id": 2}}}, {"login": "kiparis", "official": {"is_dismissed":
        false}, "location": {"office": {"id": 1}}}], "total": 3, "pages": 1}'}
    headers:
      content-type: [application/json; charset=utf-8]
      link: ['']
      x-qloud-router: [iva7-76524945e65a.qloud-c.yandex.net]
    status: {code: 200, message: OK}
version: 1
