interactions:
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://staff.test.yandex-team.ru/gap-api/api/gaps_find/?date_from=2018-02-20&person_login=imperator&person_login=volozh&date_to=2018-02-20
  response:
    body: {string: '{"gaps": [{"comment": "TEST", "workflow": "absence",
        "work_in_absence": false, "date_from": "2018-02-20T00:00:00", "to_notify":
        [], "person_login": "imperator", "date_to": "2018-02-21T00:00:00", "full_day":
        true, "id": 434163}], "total": 1, "limit": 100, "page": 0, "pages": 1}'}
    headers:
      content-language: [ru]
      content-type: [application/json; charset=utf-8]
      x-qloud-router: [myt3-3b1f69d65104.qloud-c.yandex.net, sas1-8edb69ad8523.qloud-c.yandex.net]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      authorization: ['****']
    method: GET
    uri: https://staff.test.yandex-team.ru/gap-api/api/gaps_find/?date_from=2018-02-20&page=1&person_login=imperator&person_login=volozh&date_to=2018-02-20
  response:
    body: {string: '{"gaps": [], "total": 1, "limit": 100, "page":
        1, "pages": 1}'}
    headers:
      content-language: [ru]
      content-type: [application/json; charset=utf-8]
      x-qloud-router: [iva1-f7f6489209e7.qloud-c.yandex.net, sas1-8edb69ad8523.qloud-c.yandex.net]
    status: {code: 200, message: OK}
version: 1
