<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>yandex_vertis_releases</id>
            <username>yandexvertisdeploy</username>
            <password>1Ptw33an</password>
        </server>
        <server>
            <id>yandex_vertis_snapshots</id>
            <username>yandexvertisdeploy</username>
            <password>1Ptw33an</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>artifactory</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>artifactory</id>
                    <name>Vertis proxying repository</name>
                    <url>https://artifactory.yandex.net/vertis</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>Public Artifactory</id>
                    <name>Public repository</name>
                    <url>https://artifactory.yandex.net/public</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>QA Releases Artifactory</id>
                    <name>QA Releases Artifactory</name>
                    <url>https://artifactory.yandex.net/artifactory/yandex_qa_releases</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>QA Snapshots Artifactory</id>
                    <name>QA Snapshots Artifactory</name>
                    <url>https://artifactory.yandex.net/artifactory/yandex_qa_snapshots</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>artifactory-jcenter</id>
                    <name>Artifactory Jcenter repository</name>
                    <url>https://artifactory.yandex.net/jcenter/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>artifactory</id>
                    <url>https://artifactory.yandex.net/vertis</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>artifactory-jcenter</id>
                    <name>Artifactory Jcenter repository</name>
                    <url>https://artifactory.yandex.net/jcenter/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>QA Releases Artifactory</id>
                    <name>QA Releases Artifactory</name>
                    <url>http://artifactory.yandex.net/artifactory/yandex_qa_releases</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
            <properties>
                <releases-repo>https://artifactory.yandex.net/artifactory/yandex_vertis_releases/</releases-repo>
                <snapshots-repo>https://artifactory.yandex.net/artifactory/yandex_vertis_snapshots/</snapshots-repo>
            </properties>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>
