<% import "maps_core_renderer_staticapi_quota_common" as staticMapsApi %>
[<< staticMapsApi.quotaAlerts(
    namespace="maps",
    host="maps_core_renderer_staticapi_quota_testing",
    warn=70,
    crit=80,
    alerts=[
        {
            "api_key": "910ded12-d142-4e7b-a65d-d43d5ade545e",
            "name": "mirroring",
            "warn": 80,
            "crit": 90
        },
        {
            "api_key": "dev",
            "name": "dev1",
        },
        {
            "api_key": "66e592f8-5b03-11eb-ae93-0242ac130002",
            "name": "dev2"
        },
        {
            "api_key": "anonym",
            "name": "anonym"
        }
    ],
    notifications=[
        {
            "template_kwargs": {
                "method": "telegram",
                "login": ["maps-renderer-monitoring"],
                "status": ["OK", "WARN", "CRIT"],
            },
            "template_name": "on_status_change"
        },
        {
            "template_kwargs": {
                "method": "email",
                "login": ["maps-renderer-monitoring"],
                "status": ["OK", "WARN", "CRIT"],
            },
            "template_name": "on_status_change"
        }
    ],
    ctype=["testing"],
    check_tags=["maps_renderer_staticapi"]
) >>]
