.test-stand-controls,
.test-stand-controls__field-enum,
.test-stand-controls__field-str,
.test-stand-controls__field-hash {
    font-size: 12px;
}

.test-stand-controls__field-hash {
    vertical-align: top;
}

.test-stand-controls__field-hash-json {
    border-bottom: 1px dotted #444;
    color: #444;
}

.test-stand-controls__group-title {
    font-weight: bold;
}

.test-stand-controls__field {
    display: block;
}

.test-stand-controls__hint {
    text-decoration: underline;
    cursor: help;
}

.test-stand-controls__label {
    display: inline;
}

.test-stand-controls_table {
    display: table;
    box-sizing: border-box;
    width: 100%;
    border: 1px dashed black;
}

.test-stand-controls_table > .test-stand-controls__group {
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;
    border-right: 1px dashed black;
    padding: 3px;
}
.test-stand-controls_table > .test-stand-controls__group:last-child {
    border-right: 0;
}
