<?xml version="1.0" ?>
<config xmlns:xi="http://www.w3.org/2001/XInclude"> 
    <options 
        allowNotFound="1" 
        notFoundImage="/etc/yandex/maps/wiki/renderer/layers/wskl/images/notfound.png"
        skipOutputCreation="0"
        expires="300"        
        timeout="1000"
        />
    <image transparent="1"/>
    <xi:include href="db.xml"/>    
</config>
