-----BEGIN CERTIFICATE-----
MIIE5TCCA82gAwIBAgIKWUbLQQABAADVwzANBgkqhkiG9w0BAQsFADBbMRIwEAYK
CZImiZPyLGQBGRYCcnUxFjAUBgoJkiaJk/IsZAEZFgZ5YW5kZXgxEjAQBgoJkiaJ
k/IsZAEZFgJsZDEZMBcGA1UEAxMQWWFuZGV4SW50ZXJuYWxDQTAeFw0xNTA5MTgw
ODA2MDdaFw0xODA5MTcwODA2MDdaMIGaMQswCQYDVQQGEwJSVTEPMA0GA1UECBMG
UnVzc2lhMQ8wDQYDVQQHEwZNb3Njb3cxDzANBgNVBAoTBllhbmRleDEMMAoGA1UE
CxMDSVRPMSAwHgYDVQQDFBdiYWxhbmNlLXFhQGxkLnlhbmRleC5ydTEoMCYGCSqG
SIb3DQEJARYZYmFsYW5jZS1xYUB5YW5kZXgtdGVhbS5ydTCCASIwDQYJKoZIhvcN
AQEBBQADggEPADCCAQoCggEBAM1+h2+Nrqnu3J0jDducsN2zfL4VgHfLGkyvUGoR
f7AXXeTi95PMDG1a6B1pT+nWUQ3riNjMucBn0NUcv76R6rIFv4dUE+LcHdrQaJdq
OH3NK+wXSRA4M/77IPZizNm8Iq7cpTU5QOyVvGIWx+1MK+hhmIiSJBTPTx6o9eU0
jCOrm7cPs4+a4ExSisHsjztQr1FdVk9WUUgSLwgV1bzdHJJB+efwczp0KmkXHyp8
ZEuPFVWuMJuv/bkwDsdqRuQGaFcyptZff07KMWhd+mNxOVof0FHbSLu4XhlvSYjp
JjsS/AfBsxKkEY4mjY8T1XVdBZ4oVRKWUr+a5ncJ7qzBtM0CAwEAAaOCAWkwggFl
MB0GA1UdDgQWBBQdyITLT9ZhFKndtwRkceWHjNucFTAfBgNVHSMEGDAWgBSP3TKD
CRNT3ZEaZumz1DzFtPJnSDBMBgNVHR8ERTBDMEGgP6A9hjtodHRwOi8vY3Jscy55
YW5kZXgucnUvWWFuZGV4SW50ZXJuYWxDQS9ZYW5kZXhJbnRlcm5hbENBLmNybDBX
BggrBgEFBQcBAQRLMEkwRwYIKwYBBQUHMAKGO2h0dHA6Ly9jcmxzLnlhbmRleC5y
dS9ZYW5kZXhJbnRlcm5hbENBL1lhbmRleEludGVybmFsQ0EucDdiMAsGA1UdDwQE
****************************************************************
g5XSBByBg84OgofSeQIBZAIBFjATBgNVHSUEDDAKBggrBgEFBQcDAjAbBgkrBgEE
AYI3FQoEDjAMMAoGCCsGAQUFBwMCMA0GCSqGSIb3DQEBCwUAA4IBAQAbnydmlsQA
/Bbqp/3rU5f2gETj4KZJMgJ1ndWlG4HwjwquWhZITZrWejKDeMR4sfvqKbAuZeVL
v9JZSWGvZ2Bwlz5KDanJLmdzEmQcykIiG6IhmnUI/2aGsOcZRku4gqXLNBw1Afrw
g0O+CMOzkhMU46T7OR9qiFm9u1fHLX++rJZvrPKmKvrF/taaLq3HSBLtqlU1u3Xt
DF9dqUGKQ4atImu453zpjOiPb8F8R9UzfqoFsqm5j1U+4HtbuNqnY/Hqaxb7jHA8
9WdQe9Ya2WIs/a2qMB4S/WkBZ1U2rlOALxvh+LSq3F8r24Q4vzxxUt5/8IDh9REO
jmfpg1vrB+uN
-----END CERTIFICATE-----
