<?xml version="1.0" encoding="utf-8"?>
<!-- WARNING! This file is deprecated and will be gone soon
-->
<DbBackends>
    <DbBackend id="bs" type="oracle">
        <Host>balance_node2.yandex.ru</Host>
        <User>bs</User>
        <Pass>XXX</Pass>
    </DbBackend>
</DbBackends>
