<?xml version="1.0" encoding="utf-8"?>
<MongoDB module="plugins.mongodb">
    <Backend id="trust">
        <Hosts>
            <Host>tmongo1g.yandex.ru:27217</Host>
            <Host>tmongo1e.yandex.ru:27217</Host>
            <Host>tmongo1f.yandex.ru:27217</Host>
        </Hosts>
        <DB>trust</DB>
        <User>bo</User>
        <Pass>XXX</Pass>
        <Options w="2" wtimeout="3000" network_timeout="3" socketTimeoutMS="3000" connectTimeoutMS="3000" />
    </Backend>
    <Backend id="parkingapi">
        <Hosts>
            <Host>tmongo1g.yandex.ru:27217</Host>
            <Host>tmongo1e.yandex.ru:27217</Host>
            <Host>tmongo1f.yandex.ru:27217</Host>
        </Hosts>
        <DB>trust</DB>
        <User>bo</User>
        <Pass>XXX</Pass>
        <Options w="2" wtimeout="3000" network_timeout="3" socketTimeoutMS="3000" connectTimeoutMS="3000" />
    </Backend>
    <Backend id="balalayka">
        <Hosts>
            <Host>tmongo1g.yandex.ru:27017</Host>
            <Host>tmongo1e.yandex.ru:27017</Host>
            <Host>tmongo1f.yandex.ru:27017</Host>
        </Hosts>
        <DB>balalayka</DB>
        <User>bo</User>
        <Pass>XXX</Pass>
        <Options w="2" wtimeout="3000" network_timeout="3" socketTimeoutMS="3000" connectTimeoutMS="3000" />
    </Backend>
</MongoDB>

