<?xml version="1.0" encoding="utf-8"?>
<!-- WARNING! This file is deprecated and will be gone soon
-->
<DbBackends>
    <DbBackend id="balance_meta" type="oracle">
        <Host>balance.yandex.ru</Host>
        <User>meta</User>
        <Pass>XXX</Pass>
    </DbBackend>
</DbBackends>
