<?xml version="1.0" encoding="utf-8"?>
<DbBackends>
    <DbBackend id="cmp" type="oracle">
        <Host>balance.yandex.ru</Host>
        <User>cmp</User>
        <Pass>XXX</Pass>
    </DbBackend>
    <DbBackend id="market_dcs" type="oracle">
        <Host>balance.yandex.ru</Host>
        <User>cmp</User>
        <Pass>XXX</Pass>
    </DbBackend>
    <DbBackend id="hyperion" type="oracle">
        <Host>hyp.yandex.ru</Host>
        <User>balance_reader</User>
        <Pass>XXX</Pass>
    </DbBackend>
</DbBackends>
