<?xml version="1.0" encoding="utf-8"?>
<DbBackends>
    <DbBackend id="darkspirit" type="oracle">
        <Host>balance.yandex.ru</Host>
        <User>ds</User>
        <Pass>XXX</Pass>
    </DbBackend>
</DbBackends>

