<?xml version="1.0" encoding="utf-8"?>
<DbBackends>
    <DbBackend id="oebs" type="oracle">
        <Host>CLONE14H</Host>
        <User>apps</User>
        <Pass>XXX</Pass>
    </DbBackend>
    <DbBackend id="oebs_ro" type="oracle">
        <Host>CLONE14H</Host>
        <User>apps</User>
        <Pass>XXX</Pass>
    </DbBackend>
</DbBackends>
