<?xml version="1.0" encoding="utf-8"?>
<DbBackends>
    <DbBackend id="plato" type="yt">
        <Proxy>
            <Url>plato.yt.yandex.net</Url>
        </Proxy>
        <Token>XXX</Token>
    </DbBackend>
    <DbBackend id="hahn" type="yt">
        <Proxy>
            <Url>hahn.yt.yandex.net</Url>
        </Proxy>
        <Token>XXX</Token>
    </DbBackend>
    <DbBackend id="freud" type="yt">
        <Proxy>
            <Url>freud.yt.yandex.net</Url>
        </Proxy>
        <Token>XXX</Token>
    </DbBackend>
    <DbBackend id="banach" type="yt">
        <Proxy>
            <Url>banach.yt.yandex.net</Url>
        </Proxy>
        <Token>XXX</Token>
    </DbBackend>
    <DbBackend id="hume" type="yt">
        <Proxy>
            <Url>hume.yt.yandex.net</Url>
        </Proxy>
        <Token>XXX</Token>
    </DbBackend>
</DbBackends>
