<?xml version="1.0" encoding="utf-8"?>
<!-- WARNING! This file is deprecated and will be gone soon
-->
<DbBackends>
    <DbBackend id="bs_xg" type="postgresql">
        <Host>pgaas.mail.yandex.net:12000/trust_payments_test</Host>
        <User>trust_payments</User>
        <Pass>XXX</Pass>
        <Scheme>tpay</Scheme>
    </DbBackend>
</DbBackends>
