<?xml version="1.0" encoding="utf-8"?>
<DbBackends>
    <DbBackend id="balance" type="oracle">
        <Host>balance.yandex.ru</Host>
        <User>bo</User>
        <Pass>XXX</Pass>
    </DbBackend>
    <DbBackend id="balance_1" type="oracle">
        <Host>BALANCE_NODE1.YANDEX.RU</Host>
        <User>bo</User>
        <Pass>XXX</Pass>
    </DbBackend>
    <DbBackend id="balance_2" type="oracle">
        <Host>BALANCE_NODE2.YANDEX.RU</Host>
        <User>bo</User>
        <Pass>XXX</Pass>
    </DbBackend>
    <DbBackend id="balance_ro" type="oracle">
        <Host>BALANCE_RO.YANDEX.RU</Host>
        <User>bo</User>
        <Pass>XXX</Pass>
    </DbBackend>
    <DbBackend id="balance_drcp" type="oracle">
        <Host>BALANCE_RO.YANDEX.RU</Host>
        <User>bo</User>
        <Pass>XXX</Pass>
        <Cclass>balance.muzzle</Cclass>
    </DbBackend>
</DbBackends>
