<?xml version="1.0" encoding="utf-8"?>
<DbBackends>
    <DbBackend id="meta" type="oracle">
        <Host>metadb.yandex.ru</Host>
        <User>bo</User>
        <Pass>XXX</Pass>
    </DbBackend>
    <DbBackend id="meta_1" type="oracle">
        <Host>metadb_node1.yandex.ru</Host>
        <User>bo</User>
        <Pass>XXX</Pass>
    </DbBackend>
    <DbBackend id="meta_2" type="oracle">
        <Host>metadb_node2.yandex.ru</Host>
        <User>bo</User>
        <Pass>XXX</Pass>
    </DbBackend>
    <DbBackend id="meta_ro" type="oracle">
        <Host>metadb_ro.yandex.ru</Host>
        <User>bo</User>
        <Pass>XXX</Pass>
    </DbBackend>
</DbBackends>
