<?xml version="1.0" encoding="utf-8"?>
<DbBackends>
    <DbBackend id="bs" type="mysql">
        <Host>127.0.0.1:23306/simple_db</Host>
        <User>simple_usr</User>
        <Pass>XXX</Pass>
    </DbBackend>
</DbBackends>
