<?xml version="1.0" encoding="utf-8"?>
<StatReports>
    <DaysAgo>2</DaysAgo>
    <StatRobotUser>robot_shorrty</StatRobotUser>
    <StatRobotPassword>XXX</StatRobotPassword>
    <StatBaseUrl>https://upload.stat-beta.yandex-team.ru/Adhoc/Add</StatBaseUrl>
    <StatSection>shorrty</StatSection>
</StatReports>
