# This is a configuration file for /etc/init.d/gearman-job-server; it allows
# you to perform common modifications to the behavior of the gearman-job-server
# daemon startup without editing the init script (and thus getting prompted by
# dpkg on upgrades).  We all love dpkg prompts.

# Examples ( from http://gearman.org/index.php?id=manual:job_server )

# Parameters to pass to gearmand.
PARAMS="-d -t 8 --job-retries=2 -q mysql --mysql-host=mdb-rw-mdb9nvh55qak9onrig33.query.consul --mysql-port=3306 --mysql-user=gearman --mysql-password=EeHai2Fe --mysql-db=gearman --mysql-table=gearman_queue_{{ gearman_dc_override | default(dc) }} -p 4731"
