{
   "pools": {
      "{{ dc }}": {
         "servers": [
           "memcache-02-{{ dc }}.test.vertis.yandex.net:{{ item.memcache_port }}"
         ]
      }
   },
   "route": {
     "type": "OperationSelectorRoute",
     "operation_policies": {
       "add": "AllSyncRoute|Pool|{{ dc }}",
       "delete": "AllSyncRoute|Pool|{{ dc }}",
       "get": "RandomRoute|Pool|{{ dc }}",
       "set": "AllSyncRoute|Pool|{{ dc }}"
     }
   }
 }

