{
   "pools": {
      "{{ dc }}": {
         "servers": [
           "memcache-01-{{ dc }}.test.vertis.yandex.net:{{ item.memcache_port }}",
           "memcache-02-{{ dc }}.test.vertis.yandex.net:{{ item.memcache_port }}"
         ]
      }
   },
   "route": {
     "type": "OperationSelectorRoute",
     "operation_policies": {
       "add": "AllFastestRoute|Pool|{{ dc }}",
       "delete": "AllFastestRoute|Pool|{{ dc }}",
       "get": "AllFastestRoute|Pool|{{ dc }}",
       "set": "AllFastestRoute|Pool|{{ dc }}",
       "cas":  "AllFastestRoute|Pool|{{ dc }}",
       "gets": "AllFastestRoute|Pool|{{ dc }}"
     }
   }
 }

