<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="S3ClientTestingSpec" type="Application" factoryName="Application">
    <envs>
      <env name="S3_KEY" value="${sec-01g409hk4g52dkwrk1azg7jr8q:S3_KEY}" />
      <env name="S3_SECRET" value="${sec-01g409hk4g52dkwrk1azg7jr8q:S3_SECRET}" />
      <env name="S3_URL" value="https://s3.mdst.yandex.net" />
    </envs>
    <option name="MAIN_CLASS_NAME" value="bootstrap.aws.s3.S3ClientTestingSpec" />
    <module name="lib_bootstrap" />
    <option name="VM_PARAMETERS" value="--add-modules jdk.incubator.foreign " />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="bootstrap.aws.s3.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>