<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../../run-test-case.js"></script>
    <script type="text/javascript" src="../run-speed-test.js"></script>
    <script type="text/javascript">
        initAPI({
            lang: "ru-RU",
            load: "package.full",
            mode: "dev"
        });
    </script>
</head>
<body>
    <pre id="console"></pre>
</body>
<script type="text/javascript">
    ymaps.ready(function () {
        var data = {
                options: new ymaps.option.Manager({})
            };

        function log (str) {
            document.getElementById('console').innerHTML += (str + "<br/>");
        }

        runSpeedTest({
            action: function () {
                var Layout = ymaps.templateLayoutFactory.createClass(''),
                    layout = new Layout(data);
                layout.setParentElement(this.el);
                this.layouts.push(layout);
            },

            setUp: function () {
                document.body.innerHTML += '<div id="test_el"></div>';
                this.el = document.getElementById('test_el');
                this.layouts = [];
            },

            tearDown: function () {
                for (var i in this.layouts) {
                    this.layouts[i].destroy();
                }
                this.el.innerHTML = '';
                document.body.removeChild(this.el);
            },

            log: log,

            actionRepeats: 500,
            testRepeats: 5
        });
    });
</script>
</html>