AWS_ACCESS_KEY_ID={{lookup('yav', 'sec-01f0e8wcw47jnwshj5ccs0fysb', 'AccessKeyId')}}
AWS_SECRET_ACCESS_KEY={{lookup('yav', 'sec-01f0e8wcw47jnwshj5ccs0fysb', 'AccessSecretKey')}}
CONSUL_API_TOKEN={{lookup('yav', 'sec-01f0vahj446fqsqzz8v82pktqw', 'CONSUL_API_TOKEN')}}
SENTRY_DSN={{lookup('yav', 'sec-01f0vahj446fqsqzz8v82pktqw', 'SENTRY_DSN')}}
_DEPLOY_G_SENTRY_DSN={{lookup('yav', 'sec-01f0vahj446fqsqzz8v82pktqw', 'SENTRY_DSN')}}
