realty.extdataserver.tvm2.secret = {{lookup('yav', 'ver-01dpx6mm6r3kp3c4kav3wv7e88', 'realty_extdataserver_tvm2_secret')}}
realty.indexer.tvm2.secret = {{lookup('yav', 'ver-01dpx6mm6r3kp3c4kav3wv7e88', 'realty_indexer_tvm2_secret')}}
realty.reindexer.tvm2.secret = {{lookup('yav', 'ver-01dpx6mm6r3kp3c4kav3wv7e88', 'realty_reindexer_tvm2_secret')}}
realty.couchbase.router.password = {{lookup('yav', 'ver-01dpx6mm6r3kp3c4kav3wv7e88', 'realty_couchbase_router_password')}}
