
realty.api.tvm2.secret={{lookup('yav', 'sec-01d5xw47c0p4mmx3e59g9x29rz', 'realty_api_tvm2_secret')}}
realty.searcher.tvm2.secret={{lookup('yav', 'sec-01d5xw47c0p4mmx3e59g9x29rz', 'realty_searcher_tvm2_secret')}}
realty.takeout.tvm2.secret={{lookup('yav', 'sec-01d5xw47c0p4mmx3e59g9x29rz', 'realty_takeout_tvm2_secret')}}
realty.statprocessor.tvm2.secret={{lookup('yav', 'sec-01d5xw47c0p4mmx3e59g9x29rz', 'realty_statprocessor_tvm2_secret')}}
realty.bnb-searcher.tvm2.secret={{lookup('yav', 'sec-01d5xw47c0p4mmx3e59g9x29rz', 'realty_bnb_searcher_tvm2_secret')}}
realty.indexer.tvm2.secret={{lookup('yav', 'sec-01d5xw47c0p4mmx3e59g9x29rz', 'realty_indexer_tvm2_secret')}}
realty.reindexer.tvm2.secret={{lookup('yav', 'sec-01d5xw47c0p4mmx3e59g9x29rz', 'realty_reindexer_tvm2_secret')}}
realty.couchbase.router.password = {{lookup('yav', 'sec-01d5xw47c0p4mmx3e59g9x29rz', 'realty_couchbase_router_password')}}
realty.wizard.tvm2.secret={{lookup('yav', 'sec-01d5xw47c0p4mmx3e59g9x29rz', 'realty_wizard_tvm2_secret')}}
realty.mail.sender.tvm2.secret={{lookup('yav', 'sec-01d5xw47c0p4mmx3e59g9x29rz', 'realty_mail_sender_tvm2_secret')}}
realty.building.searcher.tvm2.secret={{lookup('yav', 'sec-01d5xw47c0p4mmx3e59g9x29rz', 'realty_building_searcher_tvm2_secret')}}
realty.yt.token={{lookup('yav', 'sec-01dgmc4hze6h7es7qn0bh0qdvw', 'yt_token')}}
realty.yql.token={{lookup('yav', 'sec-01dgmc4hze6h7es7qn0bh0qdvw', 'yql_token')}}
realty.mail.sender.encryption.key={{lookup('yav', 'sec-01e464svdvk6brbr92zsnq1ec6', 'realty_mail_sender_encryption_key')}}
realty.cabinet.stat.mysql.password={{lookup('yav', 'sec-01e8c9z2h51xzrsdv2rtay2d4f', 'realty_cabinet_stat_secret')}}
realty.couchbase.user-avatar.password={{lookup('yav', 'sec-01eaf475t74ywc0ymmy1gdhne0', 'realty_couchbase_user_avatar_password')}}
realty.api.tamper.salt ={{lookup('yav', 'sec-01e86q97t80ps334fys56ky3wx', 'realty3_api_tamper_salt')}}
