
salesman.autoru.salesman_user.mysql.read.password = {{lookup('yav', 'sec-01e4rmnty7z4gajmwqyk2njzh3', 'autoru_salesman_user_mysql_read_password')}}
salesman.autoru.salesman_user.mysql.write.password = {{lookup('yav', 'sec-01e4rmnty7z4gajmwqyk2njzh3', 'autoru_salesman_user_mysql_write_password')}}
salesman.autoru.salesman_user.mysql.read.username = {{lookup('yav', 'sec-01e4rmnty7z4gajmwqyk2njzh3', 'autoru_salesman_user_mysql_read_username')}}
salesman.autoru.salesman_user.mysql.write.username = {{lookup('yav', 'sec-01e4rmnty7z4gajmwqyk2njzh3', 'autoru_salesman_user_mysql_write_username')}}
salesman.autoru.salesman_user.exclusions.yt.token = {{lookup('yav', 'sec-01evy1v56yxpnzqd6ftrdkxnxd', 'salesman_autoru_salesman_user_yt_token')}}
