# jinja2 template to make jinja2 template

DB_USERNAME={{lookup('yav', 'sec-01dkem0gfttbqd677hvyj42r2h', 'DB_USERNAME')}}
DB_PASSWORD={{lookup('yav', 'sec-01dkem0gfttbqd677hvyj42r2h', 'DB_PASSWORD')}}
SELF_TVM_SECRET={{lookup('yav', 'sec-01dkem0gfttbqd677hvyj42r2h', 'SELF_TVM_SECRET')}}
SENTRY_DSN={{lookup('yav', 'sec-01dkem0gfttbqd677hvyj42r2h', 'SENTRY_DSN')}}
DELEGATION_TOKENS_CERT={{lookup('yav', 'sec-01dkem0gfttbqd677hvyj42r2h', 'tls_cert') | to_json}}
DELEGATION_TOKENS_KEY={{lookup('yav', 'sec-01dkem0gfttbqd677hvyj42r2h', 'tls_key') | to_json}}
ACCESS_TOKENS_CERT={{lookup('yav', 'sec-01dkem0gfttbqd677hvyj42r2h', 'tls_cert') | to_json}}
ACCESS_TOKENS_KEY={{lookup('yav', 'sec-01dkem0gfttbqd677hvyj42r2h', 'tls_key') | to_json}}
HTTP_CERT={{lookup('yav', 'sec-01dkem0gfttbqd677hvyj42r2h', 'tls_cert') | to_json}}
HTTP_KEY={{lookup('yav', 'sec-01dkem0gfttbqd677hvyj42r2h', 'tls_key') | to_json}}
YAV_OAUTH_TOKEN={{lookup('yav', 'sec-01dkem0gfttbqd677hvyj42r2h', 'YAV_OAUTH_TOKEN')}}
STAFF_OAUTH_TOKEN={{lookup('yav', 'ver-01fzb6avvswbptw7nfnwjjfxnf', 'STAFF_OAUTH_TOKEN')}}
