
telepony.domain.billing_realty.mysql.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_billing_realty_mysql_username')}}
telepony.domain.billing_realty.mysql.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_billing_realty_mysql_password')}}
telepony.domain.autoru_def.mysql.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_def_mysql_username')}}
telepony.domain.autoru_def.mysql.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_def_mysql_password')}}
telepony.domain.auto-dealers.mysql.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_auto_dealers_mysql_username')}}
telepony.domain.auto-dealers.mysql.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_auto_dealers_mysql_password')}}
telepony.domain.experiments.mysql.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_experiments_mysql_username')}}
telepony.domain.experiments.mysql.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_experiments_mysql_password')}}
telepony.domain.autoru_sto.mysql.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_sto_mysql_username')}}
telepony.domain.autoru_sto.mysql.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_sto_mysql_password')}}
telepony.domain.realty-offers.mysql.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_realty_offers_mysql_username')}}
telepony.domain.realty-offers.mysql.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_realty_offers_mysql_password')}}
telepony.domain.autoparts-shops.mysql.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoparts_shops_mysql_username')}}
telepony.domain.autoparts-shops.mysql.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoparts_shops_mysql_password')}}
telepony.domain.laboratory.mysql.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_laboratory_mysql_username')}}
telepony.domain.laboratory.mysql.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_laboratory_mysql_password')}}
telepony.domain.autoru_billing.mysql.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_billing_mysql_username')}}
telepony.domain.autoru_billing.mysql.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_billing_mysql_password')}}
telepony.domain.geo_adv.mysql.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_geo_adv_mysql_username')}}
telepony.domain.geo_adv.mysql.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_geo_adv_mysql_password')}}
telepony.domain.ya_talents.mysql.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_ya_talents_mysql_username')}}
telepony.domain.ya_talents.mysql.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_ya_talents_mysql_password')}}
telepony.shared.mysql.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_shared_mysql_username')}}
telepony.shared.mysql.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_shared_mysql_password')}}
telepony.couchbase.user = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_couchbase_user')}}
telepony.couchbase.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_couchbase_password')}}
telepony.mds.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_mds_username')}}
telepony.mds.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_mds_password')}}
telepony.yt.token = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_yt_token')}}
telepony.speechkit.api-key = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_speechkit_api_key')}}
telepony.speechkit.uuid = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_speechkit_uuid')}}
telepony.operators.mts.account.api_key = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_account_api_key')}}
telepony.operators.mts.accounts.billing_realty.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_billing_realty_username')}}
telepony.operators.mts.accounts.billing_realty.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_billing_realty_password')}}
telepony.operators.mts.accounts.autoru_def.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_autoru_def_username')}}
telepony.operators.mts.accounts.autoru_def.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_autoru_def_password')}}
telepony.operators.mts.accounts.autoru_sto.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_autoru_sto_username')}}
telepony.operators.mts.accounts.autoru_sto.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_autoru_sto_password')}}
telepony.operators.mts.accounts.auto-dealers.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_auto_dealers_username')}}
telepony.operators.mts.accounts.auto-dealers.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_auto_dealers_password')}}
telepony.operators.mts.accounts.realty-offers.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_realty_offers_username')}}
telepony.operators.mts.accounts.realty-offers.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_realty_offers_password')}}
telepony.operators.mts.accounts.experiments.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_experiments_username')}}
telepony.operators.mts.accounts.experiments.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_experiments_password')}}
telepony.domain.billing_realty.mts.crm.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_billing_realty_mts_crm_username')}}
telepony.domain.billing_realty.mts.crm.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_billing_realty_mts_crm_password')}}
telepony.domain.autoru_def.mts.crm.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_def_mts_crm_username')}}
telepony.domain.autoru_def.mts.crm.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_def_mts_crm_password')}}
telepony.domain.autoru_sto.mts.crm.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_sto_mts_crm_username')}}
telepony.domain.autoru_sto.mts.crm.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_sto_mts_crm_password')}}
telepony.domain.auto-dealers.mts.crm.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_auto_dealers_mts_crm_username')}}
telepony.domain.auto-dealers.mts.crm.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_auto_dealers_mts_crm_password')}}
telepony.domain.realty-offers.mts.crm.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_realty_offers_mts_crm_username')}}
telepony.domain.realty-offers.mts.crm.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_realty_offers_mts_crm_password')}}
telepony.domain.autoparts-shops.mts.crm.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoparts_shops_mts_crm_username')}}
telepony.domain.autoparts-shops.mts.crm.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoparts_shops_mts_crm_password')}}
telepony.domain.experiments.mts.crm.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_experiments_mts_crm_username')}}
telepony.domain.experiments.mts.crm.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_experiments_mts_crm_password')}}
telepony.domain.autoru_billing.mts.crm.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_billing_mts_crm_username')}}
telepony.domain.autoru_billing.mts.crm.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_billing_mts_crm_password')}}
telepony.domain.geo_adv.mts.crm.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_geo_adv_mts_crm_username')}}
telepony.domain.geo_adv.mts.crm.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_geo_adv_mts_crm_password')}}
telepony.domain.ya_talents.mts.crm.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_ya_talents_mts_crm_username')}}
telepony.domain.ya_talents.mts.crm.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_ya_talents_mts_crm_password')}}
telepony.domain.ya_general.mts.crm.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_ya_general_mts_crm_username')}}
telepony.domain.ya_general.mts.crm.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_ya_general_mts_crm_password')}}
telepony.domain.market_mbi.mts.crm.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_market_mbi_mts_crm_username')}}
telepony.domain.market_mbi.mts.crm.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_market_mbi_mts_crm_password')}}
telepony.operators.mtt.call-control.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mtt_call_control_username')}}
telepony.operators.mtt.call-control.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mtt_call_control_password')}}
telepony.operators.mtt.call-record.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mtt_call_record_username')}}
telepony.operators.mtt.call-record.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mtt_call_record_password')}}
telepony.operators.mtt.accounts.shared.customer-name = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mtt_accounts_shared_customer_name')}}
telepony.operators.mtt.accounts.shared.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mtt_accounts_shared_username')}}
telepony.operators.mtt.accounts.shared.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mtt_accounts_shared_password')}}
telepony.operators.vox.accounts.shared.account-id = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_vox_accounts_shared_account_id')}}
telepony.operators.vox.accounts.shared.api-key = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_vox_accounts_shared_api_key')}}
telepony.operators.vox.accounts.app2app.account-id = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_vox_accounts_app2app_account_id')}}
telepony.operators.vox.accounts.app2app.api-key = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_vox_accounts_app2app_api_key')}}
telepony.operators.beeline.accounts.shared.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_beeline_accounts_shared_username')}}
telepony.operators.beeline.accounts.shared.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_beeline_accounts_shared_password')}}
telepony.shared.beeline.crm.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_shared_beeline_crm_username')}}
telepony.shared.beeline.crm.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_shared_beeline_crm_password')}}
telepony.domain.auto-dealers.callkeeper.api-key = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_auto_dealers_callkeeper_api_key')}}
telepony.domain.realty-offers.callkeeper.api-key = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_realty_offers_callkeeper_api_key')}}
telepony.s3-cloud.access-id = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_s3_cloud_access_id')}}
telepony.s3-cloud.secret-id = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_s3_cloud_secret_id')}}
telepony.speechkit-cloud.api-key = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_speechkit_cloud_api_key')}}
telepony.s3-mds.access-id = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_s3_mds_access_id')}}
telepony.s3-mds.secret-id = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_s3_mds_secret_id')}}
telepony.ydb.token = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_ydb_token')}}
telepony.yql.user = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_yql_user')}}
telepony.yql.token = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_yql_token')}}


telepony.domain.autotest.mysql.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autotest_mysql_username')}}
telepony.domain.autotest.mysql.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autotest_mysql_password')}}
telepony.domain.stress.mysql.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_stress_mysql_username')}}
telepony.domain.stress.mysql.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_stress_mysql_password')}}
telepony.operators.mts.accounts.autotest.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_autotest_username')}}
telepony.operators.mts.accounts.autotest.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_autotest_password')}}
telepony.domain.autotest.mts.crm.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autotest_mts_crm_username')}}
telepony.domain.autotest.mts.crm.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autotest_mts_crm_password')}}

telepony.domain.cme_auto_dealers.mts.crm.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_cme_auto_dealers_mts_crm_username')}}
telepony.domain.cme_auto_dealers.mts.crm.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_cme_auto_dealers_mts_crm_password')}}

telepony.domain.arenda_cc.mts.crm.username = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_arenda_cc_mts_crm_username')}}
telepony.domain.arenda_cc.mts.crm.password = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_arenda_cc_mts_crm_password')}}

