
SECRET_DOMAIN_BILLING_REALTY_MYSQL_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_billing_realty_mysql_username')}}
SECRET_DOMAIN_BILLING_REALTY_MYSQL_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_billing_realty_mysql_password')}}
SECRET_DOMAIN_AUTORU_DEF_MYSQL_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_def_mysql_username')}}
SECRET_DOMAIN_AUTORU_DEF_MYSQL_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_def_mysql_password')}}
SECRET_DOMAIN_AUTO_DEALERS_MYSQL_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_auto_dealers_mysql_username')}}
SECRET_DOMAIN_AUTO_DEALERS_MYSQL_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_auto_dealers_mysql_password')}}
SECRET_DOMAIN_EXPERIMENTS_MYSQL_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_experiments_mysql_username')}}
SECRET_DOMAIN_EXPERIMENTS_MYSQL_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_experiments_mysql_password')}}
SECRET_DOMAIN_AUTORU_STO_MYSQL_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_sto_mysql_username')}}
SECRET_DOMAIN_AUTORU_STO_MYSQL_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_sto_mysql_password')}}
SECRET_DOMAIN_REALTY_OFFERS_MYSQL_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_realty_offers_mysql_username')}}
SECRET_DOMAIN_REALTY_OFFERS_MYSQL_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_realty_offers_mysql_password')}}
SECRET_DOMAIN_AUTOPARTS_SHOPS_MYSQL_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoparts_shops_mysql_username')}}
SECRET_DOMAIN_AUTOPARTS_SHOPS_MYSQL_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoparts_shops_mysql_password')}}
SECRET_DOMAIN_LABORATORY_MYSQL_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_laboratory_mysql_username')}}
SECRET_DOMAIN_LABORATORY_MYSQL_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_laboratory_mysql_password')}}
SECRET_DOMAIN_AUTORU_BILLING_MYSQL_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_billing_mysql_username')}}
SECRET_DOMAIN_AUTORU_BILLING_MYSQL_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_billing_mysql_password')}}
SECRET_DOMAIN_GEO_ADV_MYSQL_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_geo_adv_mysql_username')}}
SECRET_DOMAIN_GEO_ADV_MYSQL_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_geo_adv_mysql_password')}}
SECRET_DOMAIN_YA_TALENTS_MYSQL_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_ya_talents_mysql_username')}}
SECRET_DOMAIN_YA_TALENTS_MYSQL_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_ya_talents_mysql_password')}}
SECRET_SHARED_MYSQL_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_shared_mysql_username')}}
SECRET_SHARED_MYSQL_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_shared_mysql_password')}}
SECRET_COUCHBASE_USER = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_couchbase_user')}}
SECRET_COUCHBASE_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_couchbase_password')}}
SECRET_MDS_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_mds_username')}}
SECRET_MDS_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_mds_password')}}
SECRET_YT_TOKEN = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_yt_token')}}
SECRET_SPEECHKIT_API_KEY = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_speechkit_api_key')}}
SECRET_SPEECHKIT_UUID = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_speechkit_uuid')}}
SECRET_OPERATORS_MTS_ACCOUNTS_BILLING_REALTY_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_billing_realty_username')}}
SECRET_OPERATORS_MTS_ACCOUNTS_BILLING_REALTY_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_billing_realty_password')}}
SECRET_OPERATORS_MTS_ACCOUNTS_AUTORU_DEF_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_autoru_def_username')}}
SECRET_OPERATORS_MTS_ACCOUNTS_AUTORU_DEF_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_autoru_def_password')}}
SECRET_OPERATORS_MTS_ACCOUNTS_AUTORU_STO_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_autoru_sto_username')}}
SECRET_OPERATORS_MTS_ACCOUNTS_AUTORU_STO_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_autoru_sto_password')}}
SECRET_OPERATORS_MTS_ACCOUNTS_AUTO_DEALERS_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_auto_dealers_username')}}
SECRET_OPERATORS_MTS_ACCOUNTS_AUTO_DEALERS_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_auto_dealers_password')}}
SECRET_OPERATORS_MTS_ACCOUNTS_REALTY_OFFERS_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_realty_offers_username')}}
SECRET_OPERATORS_MTS_ACCOUNTS_REALTY_OFFERS_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_realty_offers_password')}}
SECRET_OPERATORS_MTS_ACCOUNTS_EXPERIMENTS_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_experiments_username')}}
SECRET_OPERATORS_MTS_ACCOUNTS_EXPERIMENTS_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_experiments_password')}}
SECRET_DOMAIN_BILLING_REALTY_MTS_CRM_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_billing_realty_mts_crm_username')}}
SECRET_DOMAIN_BILLING_REALTY_MTS_CRM_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_billing_realty_mts_crm_password')}}
SECRET_DOMAIN_AUTORU_DEF_MTS_CRM_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_def_mts_crm_username')}}
SECRET_DOMAIN_AUTORU_DEF_MTS_CRM_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_def_mts_crm_password')}}
SECRET_DOMAIN_AUTORU_STO_MTS_CRM_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_sto_mts_crm_username')}}
SECRET_DOMAIN_AUTORU_STO_MTS_CRM_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_sto_mts_crm_password')}}
SECRET_DOMAIN_AUTO_DEALERS_MTS_CRM_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_auto_dealers_mts_crm_username')}}
SECRET_DOMAIN_AUTO_DEALERS_MTS_CRM_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_auto_dealers_mts_crm_password')}}
SECRET_DOMAIN_REALTY_OFFERS_MTS_CRM_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_realty_offers_mts_crm_username')}}
SECRET_DOMAIN_REALTY_OFFERS_MTS_CRM_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_realty_offers_mts_crm_password')}}
SECRET_DOMAIN_AUTOPARTS_SHOPS_MTS_CRM_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoparts_shops_mts_crm_username')}}
SECRET_DOMAIN_AUTOPARTS_SHOPS_MTS_CRM_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoparts_shops_mts_crm_password')}}
SECRET_DOMAIN_EXPERIMENTS_MTS_CRM_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_experiments_mts_crm_username')}}
SECRET_DOMAIN_EXPERIMENTS_MTS_CRM_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_experiments_mts_crm_password')}}
SECRET_DOMAIN_AUTORU_BILLING_MTS_CRM_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_billing_mts_crm_username')}}
SECRET_DOMAIN_AUTORU_BILLING_MTS_CRM_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autoru_billing_mts_crm_password')}}
SECRET_DOMAIN_GEO_ADV_MTS_CRM_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_geo_adv_mts_crm_username')}}
SECRET_DOMAIN_GEO_ADV_MTS_CRM_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_geo_adv_mts_crm_password')}}
SECRET_DOMAIN_YA_TALENTS_MTS_CRM_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_ya_talents_mts_crm_username')}}
SECRET_DOMAIN_YA_TALENTS_MTS_CRM_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_ya_talents_mts_crm_password')}}
SECRET_DOMAIN_YA_GENERAL_MTS_CRM_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_ya_general_mts_crm_username')}}
SECRET_DOMAIN_YA_GENERAL_MTS_CRM_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_ya_general_mts_crm_password')}}
SECRET_DOMAIN_MARKET_MBI_MTS_CRM_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_market_mbi_mts_crm_username')}}
SECRET_DOMAIN_MARKET_MBI_MTS_CRM_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_market_mbi_mts_crm_password')}}
SECRET_OPERATORS_MTT_CALL_CONTROL_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mtt_call_control_username')}}
SECRET_OPERATORS_MTT_CALL_CONTROL_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mtt_call_control_password')}}
SECRET_OPERATORS_MTT_CALL_RECORD_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mtt_call_record_username')}}
SECRET_OPERATORS_MTT_CALL_RECORD_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mtt_call_record_password')}}
SECRET_OPERATORS_MTT_ACCOUNTS_SHARED_CUSTOMER_NAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mtt_accounts_shared_customer_name')}}
SECRET_OPERATORS_MTT_ACCOUNTS_SHARED_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mtt_accounts_shared_username')}}
SECRET_OPERATORS_MTT_ACCOUNTS_SHARED_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mtt_accounts_shared_password')}}
SECRET_OPERATORS_VOX_ACCOUNTS_SHARED_ACCOUNT_ID = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_vox_accounts_shared_account_id')}}
SECRET_OPERATORS_VOX_ACCOUNTS_SHARED_API_KEY = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_vox_accounts_shared_api_key')}}
SECRET_OPERATORS_VOX_ACCOUNTS_APP2APP_ACCOUNT_ID = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_vox_accounts_app2app_account_id')}}
SECRET_OPERATORS_VOX_ACCOUNTS_APP2APP_API_KEY = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_vox_accounts_app2app_api_key')}}
SECRET_OPERATORS_BEELINE_ACCOUNTS_SHARED_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_beeline_accounts_shared_username')}}
SECRET_OPERATORS_BEELINE_ACCOUNTS_SHARED_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_beeline_accounts_shared_password')}}
SECRET_SHARED_BEELINE_CRM_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_shared_beeline_crm_username')}}
SECRET_SHARED_BEELINE_CRM_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_shared_beeline_crm_password')}}
SECRET_DOMAIN_AUTO_DEALERS_CALLKEEPER_API_KEY = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_auto_dealers_callkeeper_api_key')}}
SECRET_DOMAIN_REALTY_OFFERS_CALLKEEPER_API_KEY = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_realty_offers_callkeeper_api_key')}}
SECRET_S3_CLOUD_ACCESS_ID = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_s3_cloud_access_id')}}
SECRET_S3_CLOUD_SECRET_ID = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_s3_cloud_secret_id')}}
SECRET_SPEECHKIT_CLOUD_API_KEY = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_speechkit_cloud_api_key')}}
SECRET_S3_MDS_ACCESS_ID = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_s3_mds_access_id')}}
SECRET_S3_MDS_SECRET_ID = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_s3_mds_secret_id')}}
SECRET_YDB_TOKEN = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_ydb_token')}}


SECRET_DOMAIN_AUTOTEST_MYSQL_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autotest_mysql_username')}}
SECRET_DOMAIN_AUTOTEST_MYSQL_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autotest_mysql_password')}}
SECRET_DOMAIN_STRESS_MYSQL_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_stress_mysql_username')}}
SECRET_DOMAIN_STRESS_MYSQL_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_stress_mysql_password')}}
SECRET_OPERATORS_MTS_ACCOUNTS_AUTOTEST_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_autotest_username')}}
SECRET_OPERATORS_MTS_ACCOUNTS_AUTOTEST_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_operators_mts_accounts_autotest_password')}}
SECRET_DOMAIN_AUTOTEST_MTS_CRM_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autotest_mts_crm_username')}}
SECRET_DOMAIN_AUTOTEST_MTS_CRM_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_autotest_mts_crm_password')}}

SECRET_DOMAIN_CME_AUTO_DEALERS_MTS_CRM_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_cme_auto_dealers_mts_crm_username')}}
SECRET_DOMAIN_CME_AUTO_DEALERS_MTS_CRM_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_cme_auto_dealers_mts_crm_password')}}

SECRET_DOMAIN_ARENDA_CC_MTS_CRM_USERNAME = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_arenda_cc_mts_crm_username')}}
SECRET_DOMAIN_ARENDA_CC_MTS_CRM_PASSWORD = {{lookup('yav', 'sec-01dh1qd9kbe37kh1ngaggdcjss', 'telepony_domain_arenda_cc_mts_crm_password')}}

