is_local=1
oauth=OAUTH_HERE # https://oauth.yandex-team.ru/authorize?response_type=token&client_id=6d1c89d7374e4735ae004183b4948047
oauth_b2b=OAUTH_HERE # https://oauth.yandex.ru/authorize?response_type=token&client_id=2c2ca38a291e4ecc905f0f3787b5bac7
oauth_robot=OAUTH_HERE # робот (скрипт скачивания из секретницы?)
