	#new-opinion {
		font-size:12px;
	}	
		#new-opinion h5 {
			font-size:15px;
			margin:15px 0 10px 0;
			padding:0;
		}
		#new-opinion form {
			padding:25px 0 0 0;
		}
		#new-opinion hr {
			clear:both;
			font:0; 
			height:0; 
			border:none; 
			border-bottom:1px solid #d0d0d0;
			margin:5px 0 0 0;
		}
		
		#new-opinion .buttons {
			clear:both;
			padding:10px 0;
		}
			.buttons div {
				padding:15px 10px;
				background:#eaeaea;
			}
				.buttons input {
					margin-left:10px;
				}
		
		.full-column {
			clear:both;
			width:96%;
			padding:0 2%;
		}
			.full-column input, .full-column textarea {
				width:730px;
				margin-bottom:15px;
				font-family:Arial;
			}
		.half-column {
			float:left;
			width:46%;
			padding:0 2% 10px 2%;
		}
			.half-column textarea {
				width:350px;
				font-family:Arial;
			}
			.half-column .text {
				width:350px;
			}
		#new-opinion  .title {
			float:left;
			width:110px;
			clear:both;
			line-height:20px;
			margin:0 0 10px 0;
		}
		#new-opinion  select {
			width:235px;
			margin:0 0 10px 0;
			height:20px;
		}
		
		.voting {
			float:left;
			width:100px;
			height:20px;
			position:relative;
			margin:0 0 10px 60px;
			padding:0;
			list-style:none;
			background:url(../img/bg-voting.gif) 0 100% repeat-x;
		}
			.voting li {
				margin:0;
				position:absolute;
				height:20px;
				text-align:right;
				overflow:hidden;
				cursor:pointer;
			}
			.voting li.hover, .voting li.checked {
				background:url(../img/bg-voting.gif) 0 0 repeat-x;
			}
			.voting .one {
				width:20px;
				z-index:5;
			}
			.voting .two {
				width:40px;
				z-index:4;
			}
			.voting .three {
				width:60px;
				z-index:3;
			}
			.voting .four {
				width:80px;
				z-index:2;
			}
			.voting .five {
				width:100px;
				z-index:1;
			}
			.voting input {
				width:20px;
				height:20px;
				margin-top:-40px;
			}
			
	.green {
		color:#5cba3b;
	}
	.blue {
		color:#006c8a;
	}
	.grey {
		color:#777777;
	}
	.note {
		color:#777777;
		padding:0 2% 10px 2%;
		font-size:11px;
		font-style:italic;
	}
		.note strong {
			font-style:normal;
		}
	.padTop {
		padding:15px 0 20px 0;
	}
	.loadImage {
		line-height:30px;
	}
		.loadImage .row {
			margin-bottom:10px;
		}
		.loadImage .add {
			margin-top:-15px;
		}
		.loadImage .del {
			margin-left:20px;
		}