
	#player-photos {
		background:#e7e7e7;
		padding:5px 5px 5px 5px;
		width:750px;
	}

		#thumbs {
			position:relative;
			width:750px;
			height:100px;
			margin:5px 0;
			overflow:hidden;
		}
			#thumbsd ul {
				list-style:none;
				margin:0 12px;
				padding:0;
				overflow:hidden;
			}
				#thumbsd li {
					margin:0 0 6px 6px;
					padding:0;
					float:left;
					display:inline;
					border:5px solid #fff;
				}
				#thumbs img.selected {
					width:110px;
					height:80px;
					display:block;
					margin:-88px 0 0 5px;
					position:relative;
					background:url(../img/bg-selected-photo.png) no-repeat;
					filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://i.auto.ru/testdrive/img/bg-selected-photo.png", sizingMethod="crop");
					background-image: expression("none");
				}
			#thumbs .prev-photo, #thumbs .next-photo, #zoomer .prev-photo, #zoomer .next-photo {
				position:absolute;
				width:30px;
				height:100%;
				top:0;
				left:0;
				text-indent:-100000px;
				background:url(http://i.auto.ru/testdrive/img/i-arrow-left-b.gif) center center no-repeat;
				cursor:pointer;
			}
			#thumbs .next-photo, #zoomer .next-photo {
				right:0;
				left:auto;
				background-image:url(http://i.auto.ru/testdrive/img/i-arrow-right-b.gif);
			}
			#zoomer .disabled {
				visibility:hidden;
			}

		#zoomer {
			width:750px;
			min-height:370px;
			_height:370px;
			position:relative;
			margin:0;
			padding:20px 0;
			background:#fff url(http://i.auto.ru/testdrive/img/bg-loading.gif) center center no-repeat;
			text-align:center;
		}
        #zoomer.no-photo {
            background-image: url(http://i.auto.ru/testdrive/img/no-auto-photo-2.gif);
        }
			#zoomer .prev-photo, #zoomer .next-photo {
				width:140px;
				height:100%;
				background:url(http://i.auto.ru/testdrive/img/i-arrow-left-b.gif) center center no-repeat;
			}
			#zoomer .next-photo {
				background-image:url(http://i.auto.ru/testdrive/img/i-arrow-right-b.gif);
			}
			#zoomer img {
				cursor:pointer;
			}
			#zoomer .photo-comment {
				width:468px;
				text-align:left;
				font-size:11px;
				margin:15px auto 0 auto;
			}
		.jcarousel-skin-tango .jcarousel-item {
			height:90px;
			width:120px;
		}
		.jcarousel-skin-tango .jcarousel-container-horizontal {
			width: 725px;
		}
		.jcarousel-skin-tango .jcarousel-clip-horizontal {
			width:680px;
			margin:0 20px;
		}