#!/bin/sh

# This is an example config for Webmaster Console.
# There are two versions of this config: production and development one.
# This example is not used directly, so it may be out-of-date a little.

# This is a development version of file 

#-------------------- Common --------------------#
WMC_USER=`whoami`
SU_PARAMS=
WMCONSOLE_HOME=/place/wmconsole

HOSTNAME=`hostname`
SHORT_HOSTNAME=`hostname -s`

WMC_NS_PATH=Yandex/WMConsole
WMC_NS_SUFFIX=.id

USER_DB_USER="webmaster"
USER_DB_PASSWORD="webmaster"
USER_DB_HOST="1-mdbimargje1jcojoqco1.rw.db.yandex.net"
USER_DB_NAME="robot"
USER_DB_URL="$USER_DB_USER:$USER_DB_PASSWORD@$USER_DB_HOST:3306/$USER_DB_NAME"

HOST0_DB_USER="webmaster"
HOST0_DB_PASSWORD="webmaster"
HOST0_DB_HOST="wmcdev-db01.haze.yandex.net"
HOST0_DB_NAME="robot_v"
HOST0_DB_URL="$HOST0_DB_USER:$HOST0_DB_PASSWORD@$HOST0_DB_HOST:3306/$HOST0_DB_NAME"

HOST1_DB_USER="webmaster"
HOST1_DB_PASSWORD="webmaster"
HOST1_DB_HOST="wmc-dev-db1.i-folb.fog.yandex.net"
HOST1_DB_NAME="robot_f"
HOST1_DB_URL="$HOST1_DB_USER:$HOST1_DB_PASSWORD@$HOST1_DB_HOST:3306/$HOST1_DB_NAME"

HOST_DB_URLS=$HOST0_DB_URL,$HOST1_DB_URL

NOTIFIER_URL="http://webmaster.dev.search.yandex.net:33561/notify"

ZOOKEEPER_URL="webmaster.dev.search.yandex.net:2181"

BERKANAVT_BIN=/Berkanavt/bin/scripts
YR=$BERKANAVT_BIN/yr
HTARCLOOKUP=$BERKANAVT_BIN/htarclookup
HOST_CONFIG=/Berkanavt/database/config/host.cfg

# interim fix for dev machines
#htarclookup_() {
#   case $1 in
#       -a)    phconfig h ;;
#       *)     $BERKANAVT_BIN/htarclookup "$@"
#   esac
#}
#HTARCLOOKUP=htarclookup_

#-------------------- WMCLoader -----------------#
WMCLOADER_HOME=$WMCONSOLE_HOME/loader

# Each developer should use unique port numbers for test loaders.
WMCLOADER_PORT=33511
WMCLOADER_NS_PREFIX=WMCLoader-$WMC_USER-dev_
WMCLOADER_SHARE='$htarc:$WMCLOADER_HOME'
#WMCLOADER_PASSWD_FILE=/usr/local/etc/rsync/secret.wmcuser  # Disabled
WMCLOADER_LINKHELPER_DELAY=60

# comment out to disable LinkHelper
WMCLOADER_LINKHELPER_WATCH_DIR=$WMCLOADER_HOME/linkhelper/loader

BACKUP_ROOT=~/storage/
BACKUP_SUFFIX=/workdata
ANTISPAM_TEMPLATE=~/storage/antispam/htarc093/tree_with_spam.%s.dat

WMCLOADER_TREE_SHARDS=~/storage/antispam/wmc/main/%s

WMCLOADER_SPIDER_DISTR_CONF_PATH="$WMCONSOLE_HOME/distr.conf"
WMCLOADER_SPIDER_CLUSTER_CFG="$WMCONSOLE_HOME/cluster.cfg"
WMCLOADER_SPIDER_GEO_CFG="$WMCONSOLE_HOME/ipgeo.dat"

WMCLOADER_HTTP_PORT=10002
WMCLOADER_HTTP_LINK="http://fryazino.yandex.ru:8080/uwsgi/loader002/%s"

#-------------------- WMCUpdater ----------------#
WMCUPDATER_HOME=$WMCONSOLE_HOME/updater

WMCUPDATER_RUN_USER="lester"
WMCUPDATER_RUN_GROUP="lester"
WMCUPDATER_ULIMIT=1024

WMCUPDATER_INPUT_FILE_PREFIX=$WMCUPDATER_HOME/hosts_to_update
WMCUPDATER_PROCESS_COUNT=1
WMC_MIRRORS_NOTIFICATION_URLS="http://webmaster.dev.search.yandex.net:33561/notify"

#-------------------- WMCHostInfoUpdater ----------------#
WMCHOST_INFO_UPDATER_HOME=$WMCONSOLE_HOME/hostinfo

WMCHOST_INFO_UPDATER_INPUT_FILE=$WMCHOST_INFO_UPDATER_HOME/segments.txt

WMCHOST_INFO_UPDATER_DAT_FILE_TEMPLATE=/Berkanavt/HostStat/%s.host.dat

#-------------------- WMCHostMon ----------------#
WMC_HOSTMON_DATA_SRC=rsync://zoramon.search.yandex.net/hostmon

#-------------------- WMCSpamNotifier ----------------#
WMCSPAM_NOTIFIER_HOME=$WMCONSOLE_HOME/spamnotifier

WMCSPAM_NOTIFIER_INPUT_SPAM_FILE=$WMCSPAM_NOTIFIER_HOME/wmc-badforum-examples.txt
WMCSPAM_NOTIFIER_INPUT_XSS_FILE=$WMCSPAM_NOTIFIER_HOME/wmc-xss-samples.txt
WMCSPAM_NOTIFIER_INPUT_HIDDEN_TEXT_FILE=$WMCSPAM_NOTIFIER_HOME/wmc-mfas-pharma-samples.txt
WMCSPAM_NOTIFIER_INPUT_DOORWAYS=$WMCSPAM_NOTIFIER_HOME/wmc-mfas-hacked-doc-samples.txt

#-------------------- WMCVirusWarning -------------#
WMCVIRUSWARNING_HOME=$WMCONSOLE_HOME/viruswarning
WMCVIRUSWARNING_INFECTED_URLS_RSYNC_FILE=rsync://webmaster.dev.search.yandex.net/infection-info/infected_serp_urls
WMCVIRUSWARNING_HOSTS_FOR_RECHECK_RSYNC_FILE=rsync://webmaster.dev.search.yandex.net/infection-info-incoming/wmc_hosts_for_recheck
WMCVIRUSWARNING_CONFIRMED_HOSTS_RSYNC_FILE=rsync://webmaster.dev.search.yandex.net/infection-info-incoming/wmc_hosts
WMCVIRUSWARNING_ALARM_RSYNC_FILE=rsync://webmaster.dev.search.yandex.net/infection-info/ALARM_ENABLED

#-------------------- WMCTopLoader ----------------#
WMCTOPLOADER_HOME=$WMCONSOLE_HOME/top

WMCTOPLOADER_CHECKINPUT_PROGRAM=WMCTopCheckInput
WMCTOPLOADER_GETHOSTS_PROGRAM=WMCTopGetHosts
WMCTOPLOADER_GETTOPS_PROGRAM=WMCTopGetTops
WMCTOPLOADER_LOADTOPS_PROGRAM=WMCTopLoadTops
WMCTOPLOADER_REDUCETOPS_PROGRAM=WMCTopReduceTops

WMCTOPLOADER_YT_TOKEN=111
WMCTOPLOADER_MR_SERVER=hahn.yt.yandex.net
WMCTOPLOADER_MR_TABLE_TEMPLATE=userstats/clicks_shows/%s_%s/raw/filtered/web
WMCTOPLOADER_MR_TABLE_OUTPUT_PREFIX=//home/webmaster/test/oldwm/tops_wm/clicks_shows_%s_%s_raw_filtered_web
WMCTOPLOADER_DELAY=0

#-------------------- WMCDispatcher -------------#
WMCDISPATCHER_HTTP_HOME=$WMCONSOLE_HOME/dispatcher_http
# Each developer should use unique port numbers for test dispatchers.
WMCDISPATCHER_HTTP_PORT=9999
WMCDISPATCHER_HTTP_LINK="http://fryazino.yandex.ru:8080/uwsgi/dispatcher"
MIRRORS_CONFIG=/Berkanavt/database/config/mirrors.trie
ROBOT_FILTERS=/Berkanavt/database/
#-------------------- WMCSitemapLoader ----------#
WMCSITEMAPLOADER_HOME=$WMCONSOLE_HOME/sitemaploader

#-------------------- WMCSitemapFetcher ---------#
WMCSITEMAPFETCHER_HOME=$WMCONSOLE_HOME/sitemapfetcher
WMCSITEMAPFETCHER_TIMEOUT=59

#-------------------- WMCGeoClassifier ----------#
WMCGEOCLASSIFIER_HOME=$WMCONSOLE_HOME/geoclassifier
YACATALOGU_PM_LOCATION=$WMCONSOLE_HOME/regionsfiller/regions
CATFILTER_FILE=$WMCGEOCLASSIFIER_HOME/data/in/filter.trie
MAIN_MIRRORS_FILE=$WMCGEOCLASSIFIER_HOME/data/in/resources.txt.MainMirror
GEO_UPLOADER_FILE=$WMCGEOCLASSIFIER_HOME/data/out/webmaster_geo.flt

#-------------------- WMCOffline ----------------#
WMCOFFLINE_HOME=$WMCONSOLE_HOME/offline

WMC_OFFLINE_DEST_SERVER=wmc-links01d.search.yandex.net
WMCOFFLINE_DEST="rsync://$WMC_OFFLINE_DEST_SERVER/link-dev"
WMCOFFLINE_TIMEOUT=28800
WMCOFFLINE_SHARE='$htarc:/$WMC_WD'
WMCOFFLINE_ROBOTDB_PATH='/Berkanavt/archive/$segment/workdata'

WMCSECRETSTRING_HOME=$WMCOFFLINE_HOME/secretstring
WMC_SS_SLEEP=3600
WMC_SS_DEST_MODULE=secretstring
WMC_SS_DESTINATION=rsync://$WMC_USER@$WMC_OFFLINE_DEST_SERVER/$WMC_SS_DEST_MODULE-dev

#--------------------- WMCSitemaps2Robot ----------------#
WMCSITEMAPS2ROBOT_HOME=$WMCONSOLE_HOME/sitemaps2robot

#--------------------- WMCkpi ---------------------------#
WMCKPI_HOME=$WMCONSOLE_HOME/kpi

#--------------------- WMSitemapLoader ---------------------------#
WMCSTMLOADER_HOME=$WMCONSOLE_HOME/stmloader
WMCSTMLOADER_PATH_TEMPLATE="/Berkanavt/sitemaps/%s/"

#--------------------- WMCKwHostInfo ---------------------------#
WMCKWHOSTINFO_HOME=$WMCONSOLE_HOME/kw_host_info

#--------------------- WMCCleanup ---------------------------#
WMCCLEANUP_HOME=$WMCONSOLE_HOME/cleanup

#--------------------- WMCXmlLimits ---------------------------#
WMCXMLLIMITS_HOME=$WMCONSOLE_HOME/xml_limits

#--------------------- WMCAllAboutUrl ---------------------------#
WMCALLABOUTURL_HOME=$WMCONSOLE_HOME/all_about_url

#--------------------- WMCSSBans ---------------------------#
WMCSSBANS_HOME=$WMCONSOLE_HOME/ss_bans

#--------------------- Quotas, Limits ---------------------------#
WMC_KIWI_SERVER=kiwi1500.search.yandex.net
WMC_KIWI_USER=any
WMC_KIWI_RPS=100
WMC_KIWI_RPS_WRITE=5
WMC_GEMINI_USER=any
WMC_GEMINI_RPS=100
WMC_SITA_USER=any
WMC_SITA_RPS=100
WMC_UKROP_WRITE_RPS=100
WMC_UKROP_WRITE_USER=any
WMC_UKROP_WRITE_SERVER=tukrop000.search.yandex.net

WMC_ZOOKEEPER_STRING=mnews3-11.yandex.ru:2281,ws37-384.yandex.ru:2281
