[32;132;32M#!/bin/sh

# XMLSearch config file

#-------------------- Common --------------------#
HOSTNAME=`hostname`
SHORT_HOSTNAME=`hostname -s`

# mysql -h wmc-mysql-dbm.i-folb.fog.yandex.net -A xmlsearch2 -u xmlsearch --password="xmlsearch"
# mysql -h wmc-mysql-dbm.i-folb.fog.yandex.net -A xmlsearch3 -u xmlsearch --password="xmlsearch"
USER_DB_USER="xmlsearch"
USER_DB_PASSWORD="xmlsearch"
USER_DB_HOST="c-mdbimargje1jcojoqco1.rw.db.yandex.net"
USER_DB_NAME="xmlsearchmain"
USER_DB_URL="$USER_DB_USER:$USER_DB_PASSWORD@$USER_DB_HOST:3306/$USER_DB_NAME"

HOST0_DB_USER="xmlsearch"
HOST0_DB_PASSWORD="xmlsearch"
HOST0_DB_HOST="c-mdbimargje1jcojoqco1.rw.db.yandex.net"
HOST0_DB_NAME="xmlsearch2"
HOST0_DB_URL="$HOST0_DB_USER:$HOST0_DB_PASSWORD@$HOST0_DB_HOST:3306/$HOST0_DB_NAME"

HOST1_DB_USER="xmlsearch"
HOST1_DB_PASSWORD="xmlsearch"
HOST1_DB_HOST="c-mdbimargje1jcojoqco1.rw.db.yandex.net"
HOST1_DB_NAME="xmlsearch3"
HOST1_DB_URL="$HOST1_DB_USER:$HOST1_DB_PASSWORD@$HOST1_DB_HOST:3306/$HOST1_DB_NAME"

HOST_DB_URLS=$HOST0_DB_URL,$HOST1_DB_URL

#-------------------- WMCTopLoader ----------------#
WMCTOPLOADER_SSXML_CHECKINPUT_PROGRAM=WMCTopCheckInputSSXML
WMCTOPLOADER_SSXML_GETHOSTS_PROGRAM=WMCTopGetHostsSSXML
WMCTOPLOADER_SSXML_GETTOPS_PROGRAM=WMCTopGetTopsSSXML
WMCTOPLOADER_SSXML_LOADTOPS_PROGRAM=WMCTopLoadTopsSSXML
WMCTOPLOADER_SSXML_REDUCETOPS_PROGRAM=WMCTopReduceTopsSSXML

WMCTOPLOADER_YT_TOKEN=111
WMCTOPLOADER_MR_SERVER=hahn.yt.yandex.net
WMCTOPLOADER_MR_TABLE_TEMPLATE=userstats/clicks_shows/%s_%s/xml
WMCTOPLOADER_MR_TABLE_OUTPUT_PREFIX=//home/webmaster/test/oldwm/tops_wm/clicks_shows_%s_%s_xml
WMCTOPLOADER_DELAY=0
