vos2 {
  mysql {
    sh1 {
      master.url = "jdbc:mysql://localhost:3306/sh1_unit_test"
      slave.url = "jdbc:mysql://localhost:3306/sh1_unit_test"
    }
    sh2 {
      master.url = "jdbc:mysql://localhost:3306/sh2_unit_test"
      slave.url = "jdbc:mysql://localhost:3306/sh2_unit_test"
    }
    username = "root"
    password = "root"

    mirror {
      url = "hellou"
      username = "vos2archive"
      password = "vieThiepaiZei7mohv8Paiyah3ahyu"
    }
  }
}

vos.mysql.main {
  url = "jdbc:mysql:replication://localhost,localhost/vos_unit_test"
  username = "root"
  password = "root"
}
