{
  "env": {
    "node": true
  },
  "rules": {
    "global-require": "off",
    "no-console": "off",
    "no-bitwise": "off",
    "prefer-destructuring": "off",
    "no-loop-func": "off",
    "prefer-template": "off",
    "no-template-curly-in-string": "off",
    "func-names": "off",
    "spaced-comment": "off",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off",
    "no-return-await": "off",

    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/await-thenable": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/require-await": "off",

    "jest/no-disabled-tests": "off",
    "jest/expect-expect": "off",
    "jest/valid-expect": "off"
  }
}
